{% extends "includes/layout.html" %}

{% block page_title %}
404 error - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">{{ __('This page cannot be found') }}</h1>
      <p>{{ __('You can') }} <a href="/">{{ __('make a claim for a prison visit') }}</a> {{ __('or book your visit by phone instead.') }}</p>

    </div>
  </div>

</main>

{% endblock %}