{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">This page cannot be found</h1>
      <p>You can <a href="/">make a claim for a prison visit</a> or book your visit by phone instead.</p>

    </div>
  </div>

</main>

{% endblock %}