{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{__('GOV.UK uses cookies to make the site simpler.')}}
  <a href="#" title="{{__('Find out more about cookies')}}">{{__('Find out more about cookies')}}</a>
</p>
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
<ul>
  <li><a target="_blank" href='/terms-and-conditions'>Terms and conditions</a></il>
  <li><a target="_blank" href="/feedback">Feedback</a></il>
</ul>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
