{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
<p>{{__('GOV.UK uses cookies to make the site simpler.')}}
  <a href="/cookies" title="{{__('Find out more about cookies')}}">{{__('Find out more about cookies')}}</a>
</p>
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
<ul>
  <li><a target="_blank" href="/cookies">{{ __('Cookies') }}</a></il>
  <li><a target="_blank" href="/terms-and-conditions">{{ __('Terms and conditions') }}</a></il>
  <li><a target="_blank" href="/feedback">{{ __('Feedback') }}</a></il>
  <li><a target="_blank" href="/technical-help">{{ __('Technical help') }}</a></li>
</ul>
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
{% endblock %}
