{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  <link href="/public/stylesheets/application.css" rel="stylesheet">
  <script src="/public/javascripts/ga.js"></script>
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    containerClasses: "govuk-width-container",
    classes: "govuk-header--full-width-border"
  }) }}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "/start"
  }) }}
{% endblock %}

{%block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a href="https://get-help-with-the-cost-of-prison-visits.form.service.justice.gov.uk/">feedback</a> will help us to improve it. If you\'re having a problem, <a href="/help">contact us for help</a>.'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "https://get-help-with-the-cost-of-prison-visits.form.service.justice.gov.uk/",
          text: "Feedback"
        },
        {
          href: "/help",
          text: "Help"
        },
        {
          href: "/privacy",
          text: "Privacy"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}

  <script src="/assets/jquery.min.js"></script>
  <script src="/assets/jquery-ui.min.js"></script>
  <script src="/public/javascripts/moj.autocomplete.js"></script>
  <script src="/public/javascripts/upload-page.js"></script>
  <script src="/public/javascripts/print-link.js"></script>

  <script src="/assets/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>

  {# TEMPORARY - code from https://github.com/alphagov/govuk_template_jinja for cookie banner #}
  <script src="/public/javascripts/cookie-banner.js"></script>
{% endblock %}
