{% extends "includes/layout.html" %}

{% block page_title %}
Temporarily down for maintenance - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full-width">

      <h1 class="heading-large">Temporarily down for maintenance</h1>
      <p>The Help With Prison Visits service is temporarily unavailable for essential maintenance today, Thursday 26th August 2021.</p>
      <p>You cannot submit claims or update your details during this time, but you can contact us as usual.</p>
      <p>We apologise for any inconvenience this may cause.</p>

    </div>
  </div>

</main>

{% endblock %}
