{% extends "includes/layout.html" %}

{% block pageTitle %}
Temporarily down for maintenance - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Temporarily down for maintenance</h1>
    <p>The Help With Prison Visits service is temporarily unavailable for essential maintenance today, Thursday 25th January 2024 from 13:30 for up to 3 hours.</p>
    <p>You cannot submit claims or update your details during this time, but you can <a href="/help">contact us</a> as usual.</p>
    <p>We apologise for any inconvenience this may cause.</p>

  </div>
</div>
{% endblock %}
