{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Dev - Application data</h1>
        <p>
          Reference number is <br>
          <strong class="heading-medium">{{reference}}</strong>
        </p>
      </div>

      <div>
        <p>
          <textarea name="textarea" rows="50" cols="65">{{data}}</textarea>
        </p>
      </div>
    </div>

  </div>

</main>

{% endblock %}
