$govuk-global-styles: true;
@import 'govuk/all';

// Autocomplete styles from https://github.com/ministryofjustice/prison-visits-public
@import 'moj.autocomplete';
@import 'moj/components/banner/banner';

@mixin respond-to($media) {
  @if $media==handhelds {
    @media only screen and (max-width: 568px) {
      @content;
    }
  }
  @else if $media==medium-screens {
    @media only screen and (min-width: 569px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media==handhelds-landscape{
    @media only screen and (min-width: 569px) and (max-width: 667px) {
      @content;
    }
  }
  @else if $media==wide-screens {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
}

button.link {
  color: #005ea5;
  text-decoration: underline;
  font-size: 16px;
  line-height: 24px;
  background: none!important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}

button.expense {
  font-size: 18px;
}

span.button-separator {
  padding: 1px 25px 1px 0;
  float: right;
}

.push-top {
  margin-top: 0;
}

.push-right {
  float: right;
}

.govuk-error-summary a.repeat-link {
  color: $govuk-link-colour;
}

.text-pending {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  @include respond-to(handhelds) {
    margin-bottom: 15px;
  }
}

.text-pending:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.5;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
  width: 1.5em;
  background: url("/public/images/icon-warning-2x.png") no-repeat;
  background-size: 100%;
  position: relative;
  top: 6px;
}

.text-warning {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  @include respond-to(handhelds) {
    margin-bottom: 15px;
  }
}

.your-claims {
  display: table-cell;
}

.text-warning:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
  width: 1.5em;
  background: url("/public/images/icon-warning-2x.png") no-repeat;
  background-size: 100%;
  position: relative;
  top: 6px;
}

.text-success {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  @include respond-to(handhelds) {
    margin-bottom: 15px;
  }
}

.text-success:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: '';
  color: #fff;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  margin-left: 0;
  margin-right: 5px;
  text-align: center;
  width: 1.5em;
  background: url("/public/images/icon-tick-2x.png") no-repeat;
  background-size: 100%;
  position: relative;
  top: 6px;
}

form.form.pull-right .link {
  margin-top: 6px;
}

.voucher {
  font-size: larger;
}

a#remove-file-upload {
  margin: 22px 0 0 0;
}

#claim-expense {
  td:nth-child(1), table td:nth-child(3) {
    width: 40%;
  }
  td:nth-child(2) {
    width: 20%;
  }
}

@include respond-to(handhelds) {
  table {
    border: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 1px solid #bfc1c3;
  }
  table td {
    padding: 0 0 0.47368em 0 !important;
    border-bottom: none;
  }
  tr td {
    display: block;
  }
  table.col-2 td:first-child {
    width: 140px!important;
    font-weight: bold;
    border-bottom: none;
  }
  #claim-expense {
    td {
      width: 100% !important;
      border-bottom: none;
    }
  }
  .claim-list {
    th {
      display: none;
    }
    td {
      border-bottom: none;
    }
    .date-submmited, .visit-date, .claim-status {
      display: block;
      font-weight: bold;
    }
  }
  .last-journey {
    td {
      border-bottom: none;
    }
  }
}

@include respond-to(handhelds-landscape) {
  .text-pending, .text-success, .text-warning {
    width: 60%;
  }
}

.date-submmited, .visit-date, .claim-status {
  display: none;
}

table td {
  padding: 0.47368em 0 0.47368em 0;
}

table.col-2 td:first-child {
  width: 220px;
  font-weight: bold;
}

.table-heading {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 40px;
}

ul.claim-dialog li {
  max-width: 550px;
  padding: 10px;
  margin: 0 0 10px;
  display: block;
  clear: both!important;
}

ul.claim-dialog li p {
  margin: 0 0 5px;
}

ul.claim-dialog li h2 {
  font-weight: bold;
  margin: 0 0 5px;
}

ul.claim-dialog li p.time {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

ul.claim-dialog li.claimant {
  background: #e0eef1;
}

ul.claim-dialog li.caseworker {
  background: #b5e6f1;
  float: right;
  text-align: right;
}

ul.visit-info li {
  display: inline-block;
  margin: 10px 20px 0 0;
}

ul.doc-upload li {
  display: block;
  margin: 5px 0 10px;
  padding: 0;
  width: 100%;
  float: left;
  overflow: auto;
}

ul.doc-upload {
  width: 100%;
  float: left;
  position: relative;
  margin: 0;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
span.bold {
  font-weight: bold;
}

span.error {
  font-weight: bold;
  background: #f2dede!important;
  border: 2px solid #a94442;
  color: #a94442!important;
  margin: 0 0 0 10px;
  padding: 1px 5px !important;
}

span.updated {
  font-weight: bold;
  background: #e1f5fa!important;
  color: #1f96b0!important;
  border: 2px solid #1f96b0;
  margin: 0 0 0 10px;
  padding: 1px 5px !important;
}

td.text-right {
  text-align: right;
}

.orange {
  background: #f8a052;
}

.warning {
  padding: 10px;
  background: #f2dede;
  border-left: 5px solid #a94442;
  color: #a94442;
}

tr.warning td {
  background: #f2dede;
  color: #a94442;
}

tr.warning td:first-child {
  padding: 10px;
  border-left: 5px solid #a94442;
  color: #a94442;
}

@include respond-to(handhelds) {
  tr.warning td {
    background: none;
    color: #a94442;
  }
  tr.warning td:first-child {
    padding: 0;
    border-left: none;
  }
}

.updated {
  padding: 10px;
  background: #e1f5fa;
  border-left: 5px solid #e99128;
  color: #1f96b0;
}

tr.updated td {
  background: #e1f5fa;
  color: #1f96b0;
}

tr.updated td:first-child {
  padding: 10px;
  border-left: 5px solid #1f96b0;
  color: #1f96b0;
}

ul.edit li {
  text-align: right;
}

span.bold {
  font-weight: bold;
}

.inline {
  clear: none!important;
  margin-right: 5px;
  padding-right: 20px;
}

.form-hint {
  margin-bottom: 5px;
}

.date-of-birth {
  margin-bottom: 0px !important;
}

.button.grey {
  background: #cccccc;
  color: #000;
}

.button.orange {
  background: #f48f0b;
}

.button.red {
  background: #f40b0c;
}

@media (min-width: 569px) {
  .pull-right {
    float: right;
    margin-right: 10px;
  }
}

.pull-left {
  float: left;
}

.expense-padding {
  padding-top: 0.1em;
  padding-right: 0.5em;
}

.hide-border input {
  border: none!important;
  padding-left: 0;
}

tr.no-border td {
  border: none;
}

#content {
  font-size: 18px;
}

#content table tr td {
  font-size: 16px;
}

span h4.heading-secondary {
  font-size: 24px;
  color: #6f777b;
}

span.time {
  font-size: 20px;
  color: #6f777b;
  display: block;
  font-weight: normal;
}

@media (max-width: 640px) {
  .find-location-for-service .cookie-container {
    bottom: 20px;
    right: 16px;
  }
}

ul.claim-dialog-public {
  padding: 0;
}

ul.claim-dialog-public li {
  max-width: 550px;
  padding: 10px;
  margin: 0 0 10px;
  display: block;
  clear: both!important;
}

ul.claim-dialog-public li p {
  margin: 0 0 5px;
}

ul.claim-dialog-public li h4 {
  margin: 0 0 5px;
}

ul.claim-dialog-public li p.time {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

ul.claim-dialog-public li.caseworker {
  background: #e0eef1;
  float: left;
}

ul.claim-dialog-public li.claimant {
  background: #b5e6f1;
  float: right;
  text-align: right;
}

.remove-upload {
  display: none;
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}

/* TEMPORARY Global cookie message from old GOVUK toolkit */
#global-cookie-message p {
  max-width: 960px;
  margin: 0 15px; }
  @media (min-width: 641px) {
    #global-cookie-message p {
      margin: 0 30px; } }
  @media (min-width: 1020px) {
    #global-cookie-message p {
      margin: 0 auto; } }

.js-enabled #global-cookie-message {
  display: none;
  /* shown with JS, always on for non-JS */ }

#global-cookie-message {
  width: 100%;
  background-color: #d5e8f3;
  padding-top: 10px;
  padding-bottom: 10px; }
  #global-cookie-message p {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top: 0;
    margin-bottom: 0; }
    @media (min-width: 641px) {
      #global-cookie-message p {
        font-size: 16px;
        line-height: 1.25; } }
