# Logs
**.log*
npm-debug.log*

.grunt
node_modules
cache_node_modules
.npm
.node_repl_history
.sass-cache
.DS_Store
.start.pid
.port.tmp
.tmuxp.*

# Static managed assets
app/views/govuk_template.html
app/govuk_modules

# Locales
app/locales/en.json

# e2e selenium
errorShots

# artillery reports
test/load/*.html
test/load/*.json

# coverage reports
coverage

# Ignore IntelliJ files
.idea/

# Ignore local scripts
run-docker.sh
run-end-to-end-tests.sh
run-end-to-end-tests-ie8.sh
run-end-to-end-tests-firefox.sh
run-integration-tests.sh
run-knex-migrations.sh
run-knex-rollback.sh
run-nodemon.sh
run-standard-linter.sh
run-test-coverage.sh
run-unit-tests.sh

# Public directory
app/public
