# Logs
**.log*
npm-debug.log*

.grunt
node_modules
.npm
.node_repl_history
.sass-cache
.DS_Store
.start.pid
.port.tmp
.tmuxp.*
.env

# Locales
app/locales/en.json

# e2e selenium
errorShots

# Cypress e2e
test/cypress-e2e/screenshots/
test/cypress-e2e/videos/

# artillery reports
test/load/*.html
test/load/*.json

# coverage reports
coverage
.nyc_output/

# Ignore IntelliJ files
.idea/

# Public directory
app/public

.localstack
.vscode

#jest
test_results
.eslintcache
