# This provides sensible defaults, this can be customised if necessary and changes will not be overwritten

# Prevent preinstall, install, postinstall scripts from running by default
ignore-scripts = true

# Use exact versions in package.json when using npm install <pkg>
save-exact = true

# Fail if trying to use incorrect version of npm
engine-strict = true

# Show any output of scripts in the console 
foreground-scripts = true

# Wait a minimum of 7 days before allowing a package to be released, this is to allow time for any issues to be discovered and fixed before the package is released
min-release-age = 7

# Don't allow git dependencies see here
allow-git = none
