---
# Values here are the same across all environments
generic-service:
  nameOverride: help-with-prison-visits-external
  serviceAccountName: help-with-prison-visits-external
  productId: "DPS081"

  image:
    repository: ghcr.io/ministryofjustice/help-with-prison-visits-external
    tag: app_version    # override at deployment time
    port: 3000

  ingress:
    enabled: true
    tlsSecretName: help-with-prison-visits-cert   
    annotations:
      # note this limit is per ingress replica
      nginx.ingress.kubernetes.io/limit-rpm: "120"
      nginx.ingress.kubernetes.io/server-snippet: add_header X-Robots-Tag "noindex, nofollow";
    modsecurity_enabled: true
    modsecurity_snippet: |
      SecRuleEngine DetectionOnly
      SecAuditEngine On
      SecAuditLog /var/log/nginx/error.log
      SecAuditLogType Serial
      SecDefaultAction "phase:2,pass,log,tag:github_team=hmpps-prison-visits-booking,tag:namespace={{ .Release.Namespace }}"

  livenessProbe:
    httpGet:
      path: /ping
      port: http
  
  readinessProbe:
    httpGet:
      path: /ping
      port: http
  
  env:
    LOGGING_LEVEL: 'DEBUG'
    APVS_EXT_SECURE_COOKIE: 'true'
    APVS_ENABLE_MALWARE_SCANNING: 'true'
    APVS_CLAM_AV_HOST: 'help-with-prison-visits-external-clamav'
    APVS_CLAM_AV_PORT: '3310'
    APVS_CLAM_AV_TIMEOUT: 60000
    APVS_FILE_TMP_DIR: '/app/tmp'
    APVS_MALWARE_NOTIFICATION_ADDRESS: 'help-with-prison-visits@digital.justice.gov.uk'
    NODE_ENV: 'production'
    APVS_MAINTENANCE_MODE: 'false'
    APPLICATIONINSIGHTS_CONNECTION_STRING: "InstrumentationKey=$(APPINSIGHTS_INSTRUMENTATIONKEY);IngestionEndpoint=https://northeurope-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northeurope.livediagnostics.monitor.azure.com/"

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    help-with-prison-visits-external:
      APVS_DATABASE: "APVS_DATABASE" 
      APVS_EXT_WEB_USERNAME: "APVS_EXT_WEB_USERNAME"
      APVS_EXT_WEB_PASSWORD: "APVS_EXT_WEB_PASSWORD"
      APPINSIGHTS_INSTRUMENTATIONKEY: "APVS_APP_INSIGHTS_INSTRUMENTATION_KEY"
      APVS_EXT_APPLICATION_SECRET: "APVS_EXT_APPLICATION_SECRET"
    rds-sqlserver-instance-output:
      APVS_DATABASE_SERVER: 'rds_instance_address'
    hwpv-document-s3-external:
      AWS_S3_BUCKET_NAME: bucket_name

generic-prometheus-alerts:
  targetApplication: help-with-prison-visits-external
