{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Check your information - {{ serviceName }}
{% endblock %}

{% block content %}
  {% include "includes/validation-error-messages.html" %}

  <h1 class="govuk-heading-l">
    Check your information
  </h1>

  <hr>

    {{ govukButton({
      text: "Change your details",
      classes: "govuk-button--secondary push-right",
      preventDoubleClick: true,
      href: "/apply/repeat-new-eligibility/new-eligibility/date-of-birth",
      attributes: {
        "data-cy": "change-your-details"
      }
    }) }}

    <p>Your name: <span class="govuk-!-font-weight-bold" data-cy="name">{{ eligibility['FirstName'] }} {{ eligibility['LastName'] }}</span></p>

    <p>Your address: <span class="govuk-!-font-weight-bold" data-cy="address">{{ eligibility['HouseNumberAndStreet'] }}, {{ eligibility['Town'] }}, {{ eligibility['PostCode'] }}</span></p>

    <p>You receive: <span class="govuk-!-font-weight-bold" data-cy="benefit">{{ displayHelper.getBenefitDisplayName(eligibility['Benefit']) }}</span></p>

    <p>You're the prisoner's: <span class="govuk-!-font-weight-bold" data-cy="relationship">{{ displayHelper.getPrisonerRelationshipDisplayName(eligibility['Relationship']) }}</span></p>

    <p>You're visiting: <span class="govuk-!-font-weight-bold" data-cy="prisoner-name">{{ eligibility['PrisonerFirstName'] }} {{ eligibility['PrisonerLastName'] }}</span></p>

    <p>Prisoner number: <span class="govuk-!-font-weight-bold" data-cy="prisoner-number">{{ eligibility['PrisonNumber'] }}</span></p>

    <p>Prison location: <span class="govuk-!-font-weight-bold" data-cy="prison">{{ displayHelper.getPrisonDisplayName(eligibility['NameOfPrison']) }}</span></p>

  <hr>

    {{ govukButton({
      text: "Change contact details",
      classes: "govuk-button--secondary push-right",
      preventDoubleClick: true,
      href: "/your-claims/update-contact-details",
      attributes: {
        "data-cy": "change-contact-details"
      }
    }) }}

    <p>Contact email address: <span class="govuk-!-font-weight-bold" data-cy="email">{{ eligibility['EmailAddress'] }}</span></p>

    <p>Phone number: <span class="govuk-!-font-weight-bold" data-cy="phone">{{ eligibility['PhoneNumber'] }}</span></p>

  <hr>

  <form action="/your-claims/check-your-information" method="post">
    {{ govukCheckboxes({
      name: "confirm-correct",
      items: [
        {
          value: true,
          text: "Confirm these details are correct",
          attributes: {
            "data-cy": "confirm-correct"
          }
        }
      ],
      errorMessage: errors | findError('confirm-correct')
    }) }}

    <input type="hidden" name="EligibilityId" value="{{ eligibility['EligibilityId'] }}">

    {% include "partials/csrf-hidden-input.html" %}

    {{ govukButton({
      text: "Continue",
      preventDoubleClick: true,
      attributes: {
        "data-cy": "submit"
      }
    }) }}
  </form>


{% endblock %}
