{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h2 class="heading-large">
    Check your information
  </h2>

  <hr>

    <a id="change-your-details" href="/apply/repeat-new-eligibility/new-eligibility/{{ dob }}?reference={{ reference }}&prisoner-number={{ eligibility['PrisonNumber'] }}" class="button grey push-right">Change your details</a>

    <p>Your name: <span class="bold">{{ eligibility['FirstName'] }} {{ eligibility['LastName'] }}</span></p>

    <p>Your address: <span class="bold">{{ eligibility['HouseNumberAndStreet'] }}, {{ eligibility['Town'] }}, {{ eligibility['PostCode'] }}</span></p>

    <p>You receive: <span class="bold">{{ displayHelper.getBenefitDisplayName(eligibility['Benefit']) }}</span></p>

    <p>You're the prisoner's: <span class="bold">{{ displayHelper.getPrisonerRelationshipDisplayName(eligibility['Relationship']) }}</span></p>

    <p>You're visiting: <span class="bold">{{ eligibility['PrisonerFirstName'] }} {{ eligibility['PrisonerLastName'] }}</span></p>

    <p>Prisoner number: <span class="bold">{{ eligibility['PrisonNumber'] }}</span></p>

    <p>Prison location: <span class="bold">{{ displayHelper.getPrisonDisplayName(eligibility['NameOfPrison']) }}</span></p>

  <hr>

    <a id="change-contact-details" href="/your-claims/{{ dob }}/{{ encryptedReference }}/update-contact-details?eligibility={{ eligibility['EligibilityId'] }}" class="button grey push-right">Change contact details</a>

    <p>Contact email address: <span class="bold">{{ eligibility['EmailAddress'] }}</span></p>

    <p>Phone number: <span class="bold">{{ eligibility['PhoneNumber'] }}</span></p>

  <hr>

  <form action="/your-claims/{{ dob }}/{{ encryptedReference }}/check-your-information" method="post">
    <div class="form-group">
      <fieldset>
        <label for="confirm-correct" class="block-label">
          <input id="confirm-correct" type="checkbox" name="confirm-correct" value="true" >
          Confirm these details are correct
        </label>
      </fieldset>
    </div>

    <input type="hidden" name="EligibilityId" value="{{ eligibility['EligibilityId'] }}">

    {% include "partials/csrf-hidden-input.html" %}

    <input id="continue" type="submit" name="commit" value="Continue" class="button">
  </form>
</main>

{% endblock %}
