{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Update your contact details') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        {{ __('Update your contact details') }}
      </h1>

      <form action="/your-claims/update-contact-details" method="post" class="form">

        <div class="form-group {% if errors['EmailAddress'][0] %} error {% endif %}" >
          <label id="EmailAddress" class="form-label" for="email-address">{{ __('Email address') }}</label>
          <p class="form-hint">{{ __('You’ll receive confirmation by email') }}</p>
          {% if errors['EmailAddress'][0] %}
            <span class="error-message">{{ __(errors['EmailAddress'][0]) }}</span>
          {% endif %}
          <input type="text" autocomplete="off" class="form-control" name="email-address" id="email-address" value="{{ contactDetails['email-address'] }}">
        </div>

        <div class="form-group {% if errors['PhoneNumber'][0] %} error {% endif %}">
          <label id="PhoneNumber" class="form-label" for="phone-number">{{ __('Phone number') }}</label>
          {% if errors['PhoneNumber'][0] %}
            <span class="error-message">{{ __(errors['PhoneNumber'][0]) }}</span>
          {% endif %}
          <input type="text" autocomplete="off" class="form-control" name="phone-number"  id="phone-number" value="{{ contactDetails['phone-number'] }}">
        </div>

        <br>
        <br>

        {% include "partials/csrf-hidden-input.html" %}

        <input type="hidden" name="EligibilityId" value="{{ eligibilityId }}">

        <div class="form-group"><input id="submit" type="submit" name="commit" value="{{ __('Save') }}" class="button"></div>
        <a href="/your-claims/check-your-information" class="link">{{ __('Cancel') }}</a>
      </form>

      </div>
    </div>

</main>

{% endblock %}
