{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Update your contact details - {{ serviceName }}
{% endblock %}

{% block content %}

{% include "includes/validation-error-messages.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Update your contact details
    </h1>

    <form action="/your-claims/update-contact-details" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Email address"
        },
        hint: {
          text: "You’ll receive confirmation by email"
        },
        id: "email-address",
        name: "email-address",
        type: "email",
        value: contactDetails['email-address'],
        classes: "govuk-!-width-one-half",
        autocomplete: "email",
        spellcheck: false,
        attributes: {
          "data-cy": "email"
        },
        errorMessage: errors | findError('EmailAddress')
      }) }}

      {{ govukInput({
        label: {
          text: "Phone number"
        },
        id: "phone-number",
        name: "phone-number",
        type: "tel",
        value: contactDetails['phone-number'],
        classes: "govuk-!-width-one-half",
        autocomplete: "tel",
        attributes: {
          "data-cy": "phone"
        },
        errorMessage: errors | findError('PhoneNumber')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      <input type="hidden" name="EligibilityId" value="{{ eligibilityId }}">

      {{ govukButton({
        text: "Save",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}

    </form>

    <p>
      <a href="/your-claims/check-your-information">Cancel</a>
    </p>

    </div>
  </div>
{% endblock %}
