{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% if updated %}
    <h3 id="application-updated" class="success-summary medium">
      Application updated
    </h3>
  {% endif %}

  {% include "includes/validation-error-messages.html" %}

  <h2 class="heading-large">
    Your claim
  </h2>

  {% if not updated %}
    <p>Add evidence for your claim.</p>
  {% endif %}

  {% include "partials/claim-summary/claim-summary-visitor.html" %}

  <h2 class="heading-medium">Your visit</h2>

  {% include "partials/claim-summary/claim-summary-visit.html" %}

  <br>

  {% include "partials/claim-summary/claim-summary-expenses.html" %}

  <br>

  {% if claimDetails.claimEvents[0] %}

    {% include "partials/claim-summary/claim-summary-events.html" %}

    <br>

  {% endif %}

  <form action="/your-claims/{{ dob }}/{{ encryptedReference }}/{{ claimId }}" method="post" class="form">

    <div class="form-group">
      {% include "partials/csrf-hidden-input.html" %}
      {% if forEdit %}

        {% if isRequestInfoPayment %}
          <div class="form-group {% if errors['AccountNumber'][0] %} error {% endif %}">
            <label id="AccountNumber" class="form-label-bold" for="account-number-input">Account Number</label>
            {% if errors['AccountNumber'][0] %}
            <span class="error-message" id="error-message-account-number">{{ errors['AccountNumber'][0] }}</span>
            {% endif %}
            <input id="account-number-input"
                    name="AccountNumber"
                    type="text"
                    class="form-control"
                    value="{{ bankDetails['AccountNumber'] }}">
          </div>

          <div class="form-group {% if errors['SortCode'][0] %} error {% endif %}">
            <label id="SortCode" class="form-label-bold" for="sort-code-input">Sort Code</label>
            {% if errors['SortCode'][0] %}
            <span class="error-message" id="error-message-sort-code">{{ errors['SortCode'][0] }}</span>
            {% endif %}
            <input id="sort-code-input"
                    name="SortCode"
                    type="text"
                    class="form-control"
                    value="{{ bankDetails['SortCode'] }}">
          </div>
        {% endif %}

        <label id="send-message-to-caseworker" name="send-message-to-caseworker" class="form-label-bold">Send a message to your caseworker (optional)</label>
        <textarea id="message-to-caseworker" name="message-to-caseworker" type="text" class="form-control"></textarea>

        <br>

        <input id="claim-view-submit"
               type="submit"
               value="Submit updates"
               class="button">
        <br>
        <br>
        <a href="/your-claims/{{ dob }}/{{ encryptedReference }}" id="cancel" class="link">cancel</a>
      {% else %}
        <a href="/your-claims/{{ dob }}/{{ encryptedReference }}" id="back" class="link">back</a>
      {% endif %}
    </div>

  </form>


</main>

{% endblock %}
