{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Your claim - {{ serviceName }}
{% endblock %}

{% block content %}

{% if updated %}
  <div id="application-updated" class="success-summary">
    Application updated
  </div>
{% endif %}

{% include "includes/validation-error-messages.html" %}

{% include "partials/claim-summary/claim-summary-information-requested.html" %}

<h1 class="govuk-heading-l">
  Your claim
</h1>

{% if not updated %}
  <p>Add evidence for your claim.</p>
{% endif %}

{% include "partials/claim-summary/claim-summary-visitor.html" %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">Your visit</h2>

{% include "partials/claim-summary/claim-summary-visit.html" %}

<br>

{% include "partials/claim-summary/claim-summary-expenses.html" %}

{% include "partials/claim-summary/claim-summary-events.html" %}

<form action="/your-claims/{{ claimId }}" method="post" novalidate>

  <div id="bank-details" class="govuk-form-group">
    {% include "partials/csrf-hidden-input.html" %}
    {% if forEdit %}

      {% if isRequestInfoPayment %}

        {{ govukInput({
          label: {
            text: "Name on the account",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          id: "name-on-account-input",
          name: "NameOnAccount",
          value: bankDetails['NameOnAccount'],
          autocomplete: "name",
          spellcheck: false,
          attributes: {
            "data-cy": "name-on-account"
          },
          errorMessage: errors | findError('NameOnAccount')
        }) }}

        {{ govukInput({
          label: {
            text: "Sort code",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-5",
          hint: {
            text: "Must be 6 digits long"
          },
          id: "sort-code-input",
          name: "SortCode",
          value: bankDetails['SortCode'],
          inputmode: "numeric",
          pattern: "[0-9]*",
          spellcheck: false,
          attributes: {
            "data-cy": "sort-code"
          },
          errorMessage: errors | findError('SortCode')
        }) }}

        {{ govukInput({
          label: {
            text: "Account number",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "Must be 8 digits long"
          },
          id: "account-number-input",
          name: "AccountNumber",
          value: bankDetails['AccountNumber'],
          inputmode: "numeric",
          pattern: "[0-9]*",
          spellcheck: false,
          attributes: {
            "data-cy": "account-number"
          },
          errorMessage: errors | findError('AccountNumber')
        }) }}

        {{ govukInput({
          label: {
            text: "Building society roll number (if you have one)",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "You can find it on your card, statement or passbook"
          },
          id: "roll-number-input",
          name: "RollNumber",
          value: bankDetails['RollNumber'],
          spellcheck: false,
          attributes: {
            "data-cy": "roll-number"
          },
          errorMessage: errors | findError('RollNumber')
        }) }}

      {% endif %}

      {{ govukTextarea({
        name: "message-to-caseworker",
        id: "message-to-caseworker",
        classes: "govuk-!-width-one-half",
        label: {
          text: "Send a message to your caseworker (optional)",
          classes: "govuk-label--s"
        },
        attributes: {
          "data-cy": "message-to-caseworker"
        }
      }) }}

      {{ govukButton({
        text: "Submit updates",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}

      <br>
      <a href="/your-claims" id="cancel">cancel</a>
    {% else %}
      <a href="/your-claims" id="back">back</a>
    {% endif %}
  </div>

</form>
{% endblock %}
