{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Start a new claim or view existing claim') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <br>
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-large push-top">
        <span class="heading-secondary">{{ __('Reference number') }}</span>{{ reference }}
      </h1>
    </div>



  </div>

  <div class="grid-row">

    <div class="column-one-third">
      <span class="text-secondary">{{ __('Prisoner name') }}</span>
      <div class="bold-small">{{ claims[0].FirstName }} {{ claims[0].LastName }}</div>
    </div>

    <div class="column-one-third">
      <span class="text-secondary">{{ __('Prison') }}</span>
      <div class="bold-small">{{ displayHelper.getPrisonDisplayName(claims[0].NameOfPrison) }}</div>
    </div>

    <div class="column-one-third">
      <span class="text-secondary">{{ __('Prisoner number') }}</span>
      <div class="bold-small">{{ claims[0].PrisonNumber }}</div>
    </div>

  </div>

  {% if canStartNewClaim %}
  <form action="/your-claims/check-your-information" method="GET">
      <input id="new-claim" type="submit" class="button heading-large" value="Start a new claim" />
  </form>
  {% else %}
  <input id="new-claim" type="button" class="button heading-large" disabled value="Start a new claim" />
  <br />
  <p class="text-warning">{{ __('You can\'t start a new claim as you have an existing claim in progress') }}</p>
  <br />
  {% endif %}

  <br />
  <a href="/start" class="link">{{ __('Make a claim for a different prisoner') }}</a>

  <hr>

  <h2 class="heading-medium">
    {% if claims[1] %}
    {{ __('Your claims') }}
    {% else %}
    {{ __('Your claim') }}
    {% endif %}
  </h2>

  <table class="claim-list">

    <tr>
      <th>{{ __('Date sent') }}</th>
      <th>{{ __('Date of visit') }}</th>
      <th>{{ __('Progress') }}</th>
      <th></th>
    </tr>

    {% for claim in claims %}
      <tr {% if forEdit(claim.Status) %} class='warning' {% endif %}>
        <td><span class="date-submmited">{{ __('Date sent') }} </span>{{ dateHelper(claim.DateSubmitted) }}
        <td><span class="visit-date">{{ __('Date of visit') }} </span>{{ dateHelper(claim.DateOfJourney) }}</td>
        <td
          {% if claim.IsAdvanceClaim %}
            {% if claim.Status == 'APPROVED-ADVANCE-CLOSED' %}
              >{{ __('Approved') }}
            {% elif forEdit(claim.Status, claim.IsAdvanceClaim, claim.DateOfJourney) %}
              class ="text-warning your-claims"><span class="claim-status">{{ __('Progress') }} </span>{{ __('Information needed') }}
            {% elif claim.Status == 'APPROVED' %}
              class ="text-pending your-claims"><span class="claim-status">{{ __('Progress') }} </span>{{ __('Information needed after visit takes place') }}
            {% elif claim.Status == 'REJECTED' %}
              >__('Rejected') }}
            {% else %}
              class ="text-pending your-claims"><span class="claim-status">{{ __('Progress') }} </span>{{ __('In progress') }}
            {% endif %}

          {% else %}
            ><span class="claim-status">{{ __('Progress') }} </span>{{ claimStatusHelper(claim.Status) }}
          {% endif %}
        </td>
        <td><a id="add-info" href="/your-claims/{{ claim.ClaimId }}"
        {% if forEdit(claim.Status, claim.IsAdvanceClaim, claim.DateOfJourney) %}
          class="button grey"> {{ __('Add information') }}
        {% else %}
          >{{ __('View') }}
        {% endif %}
        </a></td>
      </tr>
    {% endfor %}

  </table>

</main>

{% endblock %}
