{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-one-quarter">
      <h1 class="heading-large push-top">
        <span class="heading-secondary">Reference no.</span>{{ reference }}
      </h1>
    </div>

    <br>
    <br>

    <div class="column-one-half">

      <ul class="visit-info">

        <li>
          <span class="text-secondary">Prisoner name</span>
          <div class="bold-small">{{ claims[0].FirstName }} {{ claims[0].LastName }}</div>
        </li>

        <li>
          <span class="text-secondary">Prison</span>
          <div class="bold-small">{{ claims[0].NameOfPrison }}</div>
        </li>

        <li>
          <span class="text-secondary">Prisoner no.</span>
          <div class="bold-small">{{ claims[0].PrisonNumber }}</div>
        </li>

      </ul>

    </div>

    <div class="column-one-quarter">
      <a id="new-claim" class="button" href="/your-claims/{{ dob }}/{{ reference }}/check-your-information" role="button">Start a new claim</a>
    </div>

  </div>

  <h3 class="heading-medium">
    Your claim(s)
  </h3>

  <table>

    <tr>
      <th>Date of claim</th>
      <th>Status</th>
      <th></th>
    </tr>

    {% for claim in claims %}
      <tr>
        <td>{{ dateHelper(claim.DateOfJourney) }}</td>
        <td>{{ claimStatusHelper(claim.Status) }}</td>
        <!-- TODO: Need to redirect to a real page. -->
        <td><a href="#{{ claim.ClaimId }}">View</a></td>
      </tr>
    {% endfor %}

  </table>

</main>

{% endblock %}
