{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Start a new claim or view existing claim - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l" data-cy="reference">
      <span class="govuk-heading-m govuk-!-font-weight-regular govuk-!-margin-bottom-1 secondary-text">Reference number</span>{{ reference }}
    </h1>
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-bottom-5 govuk-body">

  <div class="govuk-grid-column-one-third">
    <span class="secondary-text">Prisoner name</span>
    <div class="govuk-!-font-weight-bold" data-cy="prisoner-name">{{ claims[0].FirstName }} {{ claims[0].LastName }}</div>
  </div>

  <div class="govuk-grid-column-one-third">
    <span class="secondary-text">Prison</span>
    <div class="govuk-!-font-weight-bold" data-cy="prison">{{ displayHelper.getPrisonDisplayName(claims[0].NameOfPrison) }}</div>
  </div>

  <div class="govuk-grid-column-one-third">
    <span class="secondary-text">Prisoner number</span>
    <div class="govuk-!-font-weight-bold" data-cy="prisoner-number">{{ claims[0].PrisonNumber }}</div>
  </div>

</div>

{% if canStartNewClaim %}
<form action="/your-claims/check-your-information" method="GET">
  {{ govukButton({
    text: "Start a new claim",
    preventDoubleClick: true,
    attributes: {
      "data-cy": "new-claim"
    }
  }) }}
</form>
{% else %}
  {{ govukButton({
    text: "Start a new claim",
    preventDoubleClick: true,
    disabled: true,
    attributes: {
      "data-cy": "new-claim"
    }
  }) }}

  {{ govukWarningText({
    text: "You can't start a new claim as you have an existing claim in progress",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

<p>
  <a href="/start">Make a claim for a different prisoner</a>
</p>

<hr>

<h2 class="govuk-heading-m">
  Your claim{% if claims[1] %}s{% endif %}
</h2>

<table class="govuk-table claim-list">

  <tr>
    <th scope="col" class="govuk-table__header">Date sent</th>
    <th scope="col" class="govuk-table__header">Date of visit</th>
    <th scope="col" class="govuk-table__header">Progress</th>
    <th scope="col" class="govuk-table__header"></th>
  </tr>

  {% for claim in claims %}
    <tr {% if forEdit(claim.Status) %} class='warning' {% endif %}>
      <td class="govuk-table__cell" data-cy="claim-{{ loop.index }}-date"><span class="date-submmited">Date sent </span>{{ dateHelper(claim.DateSubmitted) }}</td>
      <td class="govuk-table__cell" data-cy="claim-{{ loop.index }}-visit-date"><span class="visit-date">	Date of visit </span>{{ dateHelper(claim.DateOfJourney) }}</td>
      <td data-cy="claim-{{ loop.index }}-status"
        {% if claim.IsAdvanceClaim %}
          {% if claim.Status == 'APPROVED-ADVANCE-CLOSED' %}
            class="govuk-table__cell">Closed
          {% elif forEdit(claim.Status, claim.IsAdvanceClaim, claim.DateOfJourney) %}
            class ="govuk-table__cell text-warning your-claims"><span class="claim-status">Progress </span>Information needed
          {% elif claim.Status == 'APPROVED' %}
            class ="govuk-table__cell text-pending your-claims"><span class="claim-status">Progress </span>Information needed after visit takes place
          {% elif claim.Status == 'REJECTED' %}
            class="govuk-table__cell">Rejected
          {% else %}
            class ="govuk-table__cell text-pending your-claims"><span class="claim-status">Progress </span>In progress
          {% endif %}

        {% else %}
          class="govuk-table__cell"><span class="claim-status">Progress </span>{{ claimStatusHelper(claim.Status) }}
        {% endif %}
      </td>
      <td class="govuk-table__cell">
      {% if forEdit(claim.Status, claim.IsAdvanceClaim, claim.DateOfJourney) %}
        {{ govukButton({
          classes: "govuk-button--secondary govuk-!-margin-bottom-1",
          text: "Add information",
          preventDoubleClick: true,
          href: "/your-claims/" + claim.ClaimId,
          attributes: {
            "data-cy": "add-info"
          }
        }) }}
      {% else %}
        <a id="add-info" href="/your-claims/{{ claim.ClaimId }}" data-cy="view-claim">View</a>
      {% endif %}
      </td>
    </tr>
  {% endfor %}

</table>
{% endblock %}
