<div id="cost" class="form-group {% if errors['cost'][0] %} error {% endif %}">
  <label for="cost-input" class="form-label-bold">Cost</label>

  {% if errors['cost'][0] %}
  <span class="error-message">{{ errors['cost'][0] }}</span>
  {% endif %}
  <p class="form-hint">For example, {{ costExample }}</p>
  <div class="pound-wrapper">
    <span>£</span>
    <input id="cost-input"
           type="text"
           name="cost"
           value="{{ expense['cost'] }}"
           class="form-control">
  </div>
</div>
