<div id="cost" class="form-group {% if errors['cost'][0] %} error {% endif %}">
  <label for="cost-input" class="form-label-bold">{% if isAdvanceClaim %} {{ __('Estimated cost') }} {% else %} {{ __('Cost') }} {% endif %}</label>

  {% if errors['cost'][0] %}
    <span class="error-message">{{ __(errors['cost'][0]) }}</span>
  {% endif %}

  <p class="form-hint">{{ __('For example') }} , {{ costExample }}</p>
  <div class="pound-wrapper">
    <span>£</span>
    <input id="cost-input"
           type="text"
           name="cost"
           autocomplete="off"
           value="{{ expense['cost'] }}"
           class="form-control">
  </div>
</div>
