<div class="form-group">
  <fieldset>

    <label for="car-only" class="block-label">
      <input id="car-only"
             type="checkbox"
             name="expenses"
             value="car-only">
      Car/Motorcycle
    </label>
    <label for="train" class="block-label">
      <input id="train"
             type="checkbox"
             name="expenses"
             value="train">
      Train (standard class)
    </label>
    <label for="bus" class="block-label">
      <input id="bus"
             type="checkbox"
             name="expenses"
             value="bus">
      Bus
    </label>
    <label for="taxi" class="block-label">
      <input id="taxi"
             type="checkbox"
             name="expenses"
             value="taxi">
      Taxi
    </label>

  </fieldset>
</div>