<div class="form-group {% if errors['is-child'][0] %} error {% endif %}">

  <h2 id="is-child" class="form-label-bold">Is this a child ticket?</h2>

  {% if errors['is-child'][0] %}
    <span class="error-message">{{ errors['is-child'][0] }}</span>
  {% endif %}

  <fieldset>

    <label for="is-child-yes" class="block-label inline">
      <input id="is-child-yes"
             type="radio"
             name="is-child"
             value="yes"
             {% if expense['is-child'] == 'yes' %} checked {% endif %}>
      Yes
    </label>
    <label for="is-child-no" class="block-label inline">
      <input id="is-child-no"
             type="radio"
             name="is-child"
             value="no"
             {% if expense['is-child'] == 'no' %} checked {% endif %}>
      No
    </label>

  </fieldset>
</div>