{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "return-journey",
  name: "return-journey",
  fieldset: {
    legend: {
      text: "Is this a return journey"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: expense['return-journey'] == 'yes',
      attributes: {
        "data-cy": "return-yes"
      }
    },
    {
      value: "no",
      text: "No",
      checked: expense['return-journey'] == 'no',
      attributes: {
        "data-cy": "return-no"
      }
    }
  ],
  errorMessage: errors | findError('return-journey')
}) }}
