{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% if expenseOwners.child or expenseOwners.escort or expenseOwners.eligibleChildren %}

  {% set ticketOwners = [
    {
      value: "you",
      text: "Yourself",
      checked: expense['ticket-owner'] == 'you',
      attributes: {
        "data-cy": "is-your-ticket"
      }
    }
  ] %}

  {% if expenseOwners.child %}
    {% set ticketOwners = (ticketOwners.push(
      {
        value: "child",
        text: "Child",
        checked: expense['ticket-owner'] == 'child',
        attributes: {
          "data-cy": "is-child-ticket"
        }
      }
    ), ticketOwners) %}
  {% endif %}

  {% if expenseOwners.eligibleChildren %}
    {% set ticketOwners = (ticketOwners.push(
      {
        value: "eligible-child",
        text: "Eligible Child",
        checked: expense['ticket-owner'] == 'eligible-child',
        attributes: {
          "data-cy": "is-eligible-child-ticket"
        }
      }
    ), ticketOwners) %}
  {% endif %}

  {% if expenseOwners.escort %}
    {% set ticketOwners = (ticketOwners.push(
      {
        value: "escort",
        text: "Escort",
        checked: expense['ticket-owner'] == 'escort',
        attributes: {
          "data-cy": "is-escort-ticket"
        }
      }
    ), ticketOwners) %}
  {% endif %}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "ticket-owner",
    name: "ticket-owner",
    fieldset: {
      legend: {
        text: "Who is this ticket for?"
      }
    },
    items: ticketOwners,
    errorMessage: errors | findError('ticket-owner')
  }) }}

{% else %}

  {{ govukRadios({
    idPrefix: "ticket-owner",
    name: "ticket-owner",
    fieldset: {
      legend: {
        text: "Who is this ticket for?"
      }
    },
    items: [
      {
        value: "you",
        text: "Yourself",
        checked: true,
        attributes: {
          "data-cy": "is-your-ticket"
        }
      }
    ],
    errorMessage: errors | findError('ticket-owner')
  }) }}

{% endif %}
