{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        About your accommodation
      </h2>

      <p>Before claiming assistance for accommodation, you must contact the Assisted Prison Visits Unit.</p>

      <form action="/first-time/eligibility/{{reference}}/claim/{{claimId}}/accommodation{{params}}" method="post">

        <div id="duration" class="form-group {% if errors['duration'][0] %} error {% endif %}">
          <label for="duration-input" class="form-label-bold">Number of nights</label>

          {% if errors['duration'][0] %}
            <span class="error-message">{{ errors['duration'][0] }}</span>
          {% endif %}

          <input id="duration-input"
                 type="text"
                 name="duration"
                 value="{{ expense['duration'] }}"
                 class="form-control">
          <p class="form-hint">For example, 1</p>
        </div>

        <div id="cost" class="form-group {% if errors['cost'][0] %} error {% endif %}">
          <label for="cost-input" class="form-label-bold">Cost</label>

          {% if errors['cost'][0] %}
            <span class="error-message">{{ errors['cost'][0] }}</span>
          {% endif %}

          <input id="cost-input"
                 type="text"
                 name="cost"
                 value="{{ expense['cost'] }}"
                 class="form-control">
          <p class="form-hint">For example, £50</p>
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="accommodation-details-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
