{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        About your bus journey
      </h2>

      <form action="/first-time/eligibility/{{reference}}/claim/{{claimId}}/bus{{params}}" method="post">

        <div class="form-group {% if errors['from'][0] %} error {% endif %}">
          <label id="from" for="from-input" class="form-label-bold">From</label>

          {% if errors['from'][0] %}
            <span class="error-message">{{ errors['from'][0] }}</span>
          {% endif %}

          <input id="from-input"
                 type="text"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control">
          <p class="form-hint">For example, Euston</p>
        </div>

        <div class="form-group {% if errors['to'][0] %} error {% endif %}">
          <label id="to" for="to-input" class="form-label-bold">To</label>

          {% if errors['to'][0] %}
            <span class="error-message">{{ errors['to'][0] }}</span>
          {% endif %}

          <input id="to-input"
                 type="text"
                 name="to"
                 value="{{ expense['to'] }}"
                 class="form-control">
          <p class="form-hint">For example, Birmingham New Street</p>
        </div>

        <div class="form-group">

          <div class="form-group {% if errors['return-journey'][0] %} error {% endif %}">

            <h2 id="return-journey" class="form-label-bold">Is this a return journey?</h2>

            {% if errors['return-journey'][0] %}
              <span class="error-message">{{ errors['return-journey'][0] }}</span>
            {% endif %}

            <fieldset>

              <label for="return-yes" class="block-label inline">
                <input id="return-yes"
                       type="radio"
                       name="return-journey"
                       value="yes"
                       {% if expense['return-journey'] == 'yes' %} checked {% endif %}>
                Yes
              </label>
              <label for="return-no" class="block-label inline">
                <input id="return-no"
                       type="radio"
                       name="return-journey"
                       value="no"
                       {% if expense['return-journey'] == 'no' %} checked {% endif %}>
                No
              </label>

            </fieldset>
          </div>

          <div class="form-group {% if errors['is-child'][0] %} error {% endif %}">

            <h2 id="is-child" class="form-label-bold">Is this a child ticket?</h2>

            {% if errors['is-child'][0] %}
              <span class="error-message">{{ errors['is-child'][0] }}</span>
            {% endif %}

            <fieldset>

              <label for="is-child-yes" class="block-label inline">
                <input id="is-child-yes"
                       type="radio"
                       name="is-child"
                       value="yes"
                       {% if expense['is-child'] == 'yes' %} checked {% endif %}>
                Yes
              </label>
              <label for="is-child-no" class="block-label inline">
                <input id="is-child-no"
                       type="radio"
                       name="is-child"
                       value="no"
                       {% if expense['is-child'] == 'no' %} checked {% endif %}>
                No
              </label>

            </fieldset>
          </div>

          <div class="form-group {% if errors['cost'][0] %} error {% endif %}">
            <label id="cost" for="cost-input" class="form-label-bold">Cost</label>

            {% if errors['cost'][0] %}
              <span class="error-message">{{ errors['cost'][0] }}</span>
            {% endif %}

            <input id="cost-input"
                   type="text"
                   name="cost"
                   value="{{ expense['cost'] }}"
                   class="form-control">
            <p class="form-hint">For example, £20</p>
          </div>

          <div class="form-group">
            <fieldset>

              <label for="add-another-journey" class="block-label">
                <input id="add-another-journey"
                       type="checkbox"
                       name="add-another-journey"
                       {% if expense['add-another-journey'] == 'on' %} checked {% endif %}>
                Add another bus journey
              </label>

            </fieldset>
          </div>

          <input id="bus-details-submit"
                 type="submit"
                 class="button"
                 value="Continue">
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
