{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <h2 class="heading-large">
    Your claim details
  </h2>

  <p>Please add the relevant documentation associated with your claim.</p>

  <table class="col-2">
    <tr>
      <td>Visitor</td>
      <td>{{ claimDetails.claim['FirstName'] }} {{ claimDetails.claim['LastName'] }}</td>
    </tr>

    {% for child in claimDetails.claimChild %}
    <tr>
      <td>Child</td>
      <td>{{ child['Name'] }}</td>
    </tr>
    {% endfor %}

    <tr>
      <td>Benefit information</td>
      <td>
        {{ benefitsEnum[claimDetails.claim['Benefit']].displayName }}
      </td>
    </tr>

  </table>

  <h2 class="heading-medium">Your visit</h2>

  <table class="col-2">

    <tr>
      <td>Prisoner name</td>
      <td>{{ claimDetails.claim['PrisonerFirstName']}} {{ claimDetails.claim['PrisonerLastName'] }}</td>
    </tr>

    <tr>
      <td>Prisoner number</td>
      <td>{{ claimDetails.claim['PrisonNumber'] }}</td>
    </tr>

    <tr>
      <td>Prison</td>
      <td>{{ claimDetails.claim['NameOfPrison'] }}</td>
    </tr>

    <tr>
      <td>Date of visit</td>
      <td>{{ dateHelper(claimDetails.claim['DateOfJourney']) }}</td>
    </tr>

    <tr>
      <td>Visit confirmation</td>
      <td>
        {% if claimDetails.claim.visitConfirmation['DocumentStatus'] == 'uploaded' %}
          <span class="text-success">Evidence uploaded</span>
          <form
            action="/first-time/eligibility/{{ referenceId }}/claim/{{ claimId }}/summary/removeFile?documentType=VISIT-CONFIRMATION"
            method="post" class="form pull-right">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="link" name="remove">remove file</button>
          </form>
        {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'upload-later' %}
          <span class="text-success">Upload later</span>
        {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'post-later' %}
          <span class="text-success">Post later</span>
        {% else %}
          <span class="text-warning">Visit confirmation required</span>
          <a href="/first-time/eligibility/{{ referenceId }}/claim/{{ claimId }}/file-upload?document=VISIT_CONFIRMATION" class="button grey pull-right">Add</a>
        {% endif %}
      </td>
    </tr>

  </table>

  <br>

  <table>

    <thead>
    <tr>
      <th>Expense(s)</th>
      <th>Amount</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for claimExpense in claimDetails.claimExpenses %}
    <tr>
      <td>
        <span class="bold">{{ claimExpenseHelper.DisplayName(claimExpense) }} </span>
        <div>{{ claimExpenseHelper.FormattedDetail(claimExpense) }}</div>
        <form
          action="/first-time/eligibility/{{ referenceId }}/claim/{{ claimId }}/summary/remove/{{ claimExpense.ClaimExpenseId}}"
          method="post" class="form">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button class="link" name="remove">remove</button>
        </form>
      </td>
      <td>£{{claimExpense.Cost}}</td>
      <td><span class="text-warning">Receipt required</span></td>
    </tr>
    {% endfor %}
    </tbody>

  </table>

  <br>
  <a href="/first-time/eligibility/{{ referenceId }}/claim/{{ claimId }}" class="link">Add another expense</a>

  <br>
  <br>
  <br>

  <form action="/first-time/eligibility/{{ referenceId }}/claim/{{ claimId }}/summary" method="post" class="form">

    <div class="form-group">
      {% include "partials/csrf-hidden-input.html" %}

      <input id="claim-summary-submit"
             type="submit"
             value="Continue"
             class="button">
    </div>

  </form>

</main>

{% endblock %}
