{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        What type(s) of transport did you use?
      </h2>

      <p>You can select more than one mode of transport.</p>

      <form action="/first-time-claim/eligibility/{{reference}}/claim/{{claimId}}" method="post">
        <div class="form-group">

          <fieldset>

            <label class="block-label">
              <input id="car"
                     type="checkbox"
                     name="expenses"
                     value="car">
              Car/Motorcyle
            </label>
            <label class="block-label">
              <input id="hire"
                     type="checkbox"
                     name="expenses"
                     value="hire">
              Car Hire
            </label>
            <label class="block-label">
              <input id="bus"
                     type="checkbox"
                     name="expenses"
                     value="bus">
              Bus
            </label>
            <label class="block-label">
              <input id="train"
                     type="checkbox"
                     name="expenses"
                     value="train">
              Train
            </label>
            <label class="block-label">
              <input id="taxi"
                     type="checkbox"
                     name="expenses"
                     value="taxi">
              Taxi
            </label>
            <label class="block-label">
              <input id="plane"
                     type="checkbox"
                     name="expenses"
                     value="plane">
              Plane
            </label>
            <label class="block-label">
              <input id="ferry"
                     type="checkbox"
                     name="expenses"
                     value="ferry">
              Ferry
            </label>

          </fieldset>

          <h2 class="heading-medium">
            Additional expense(s)
          </h2>

          <fieldset>

            <label class="block-label">
              <input id="refreshment"
                     type="checkbox"
                     name="expenses"
                     value="refreshment">
              Light refreshment
            </label>
            <label class="block-label">
              <input id="accommodation"
                     type="checkbox"
                     name="expenses"
                     value="accommodation">
              Accommodation
            </label>

          </fieldset>

        </div>

        <input id="expenses-submit" type="submit" class="button" value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}
