{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        About your ferry journey
      </h2>

      <p>You may be able to get help with the cost of a ferry ticket if your journey involved a sea crossing
        - for example from the Isle of Wight to the mainland.</p>

      <form action="/first-time/eligibility/{{reference}}/claim/{{claimId}}/ferry{{params}}" method="post">

        <div class="form-group {% if errors['from'][0] %} error {% endif %}">
          <label id="from" for="from-input" class="form-label-bold">From</label>

          {% if errors['from'][0] %}
            <span class="error-message">{{ errors['from'][0] }}</span>
          {% endif %}

          <input id="from-input"
                 type="text"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control">
          <p class="form-hint">For example, Portsmouth</p>
        </div>

        <div class="form-group {% if errors['to'][0] %} error {% endif %}">
          <label id="to" for="to-input" class="form-label-bold">To</label>

          {% if errors['to'][0] %}
            <span class="error-message">{{ errors['to'][0] }}</span>
          {% endif %}

          <input id="to-input"
                 type="text"
                 name="to"
                 value="{{ expense['to'] }}"
                 class="form-control">
          <p class="form-hint">For example, Isle of Wight</p>
        </div>

        {% include "partials/expenses/return-journey.html" %}

        {% include "partials/expenses/is-child.html" %}

        <div class="form-group {% if errors['ticket-type'][0] %} error {% endif %}">

          <h2 id="ticket-type" class="form-label-bold">Ticket type</h2>

          {% if errors['ticket-type'][0] %}
            <span class="error-message">{{ errors['ticket-type'][0] }}</span>
          {% endif %}

          <fieldset>

            <label for="ticket-type-yes" class="block-label">
              <input id="ticket-type-yes"
                     type="radio"
                     name="ticket-type"
                     value="foot-passenger"
                     {% if expense['ticket-type'] == 'foot-passenger' %} checked {% endif %}>
              Foot passenger
            </label>
            <label for="ticket-type-no" class="block-label">
              <input id="ticket-type-no"
                     type="radio"
                     name="ticket-type"
                     value="car-passenger"
                     {% if expense['ticket-type'] == 'car-passenger' %} checked {% endif %}>
              Car
            </label>

          </fieldset>
        </div>

        <div class="form-group {% if errors['cost'][0] %} error {% endif %}">
          <label id="cost" for="cost-input" class="form-label-bold">Cost</label>

          {% if errors['cost'][0] %}
            <span class="error-message">{{ errors['cost'][0] }}</span>
          {% endif %}

          <input id="cost-input"
                 type="text"
                 name="cost"
                 value="{{ expense['cost'] }}"
                 class="form-control">
          <p class="form-hint">For example, £100</p>
        </div>

        <input id="ferry-details-submit"
               type="submit"
               class="button"
               value="Continue">

      </form>

    </div>
  </div>

</main>

{% endblock %}
