{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
      {{ fileUploadGuidingText[document].title }}
      </h2>
      <p>{{ fileUploadGuidingText[document].guidingText }}</p>

      <h3 id="upload" class="heading-medium">Upload now</h3>
      <p>Uploading your documentation is the fastest way to process your application.</p>
      <form action="{{ URL }}" method="post" class="form" enctype="multipart/form-data">

        {% include "partials/csrf-hidden-input.html" %}

        <label class="custom-file-upload">
          <input type="file" name="document" />
          Choose file
        </label>

        <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Help with upload</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
              <ul class="list list-number">
                <li>Photograph or capture your document using a camera, mobile phone, scanner or other device</li>
                <li>Transfer the image to your computer, or attach your camera to your computer</li>
                <li>Click “Choose File”</li>
                <li>Locate and select the file</li>
                <li>Click “Continue"</li>
              </ul>
            </div>
          </details>
        </div>

        <div class="form-group">
          <br>
          <h4 class="heading-small">Cannot Upload now?</h4>
          <p>Your application will not be processed until we receive your file </p>

          <label class="block-label">
            <input type="radio" name="alternative" value="post-later" id="Post">
            <span class="heading-small">Send by post</span>
            <br> Posting will add 10 days or more to the processing time
          </label>

          <label class="block-label">
            <input type="radio" name="alternative" value="upload-later" id="UploadLater">
            <span class="heading-small">Upload later</span>
            <br> You can upload later, you will receive a reference number which you will use to finish your application
          </label>

          </div>
          <div class="form-group">

          <input type="submit" 
                 name="commit"
                 value="Continue"
                 class="button">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
