{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Add light refreshment information

      </h2>

      <p> A contribution to the cost of light refreshments may apply where your visit caused you to be away from home
        for over 5 hours. This is the time it took you to travel to the prison and return home afterwards.</p>

      <p>A limit of £2.55 applies to visits over 5 hours, and £5.10 for visits over 10 hours.</p>

      <p>Receipts should be held in case these are needed later on.</p>

      <form action="/first-time-claim/eligibility/{{reference}}/claim/{{claimId}}/refreshment{{params}}" method="post">

        <div class="form-group {% if errors['travel-time'][0] %} error {% endif %}">

          <h2 id="travel-time" class="form-label-bold">Travel time</h2>

          {% if errors['travel-time'][0] %}
            <span class="error-message">{{ errors['travel-time'][0] }}</span>
          {% endif %}

          <fieldset>

            <label for="travel-time-up-to-five" class="block-label">
              <input id="travel-time-up-to-five"
                     type="radio"
                     name="travel-time"
                     value="up-to-five"
                     {% if expense['travel-time'] == 'up-to-five' %} checked {% endif %}>
              Up to 5 hours
            </label>

            <label for="travel-time-over-five" class="block-label">
              <input id="travel-time-over-five"
                     type="radio"
                     name="travel-time"
                     value="over-five"
                     {% if expense['travel-time'] == 'over-five' %} checked {% endif %}>
              Over 5 hours
            </label>

            <label for="travel-time-over-ten" class="block-label">
              <input id="travel-time-over-ten"
                     type="radio"
                     name="travel-time"
                     value="over-ten"
                     {% if expense['travel-time'] == 'over-ten' %} checked {% endif %}>
              Over 10 hours
            </label>

          </fieldset>

        </div>

        <div class="form-group {% if errors['cost'][0] %} error {% endif %}">
          <label id="cost" for="cost-input" class="form-label-bold">Cost</label>

          {% if errors['cost'][0] %}
            <span class="error-message">{{ errors['cost'][0] }}</span>
          {% endif %}

          <input id="cost-input"
                 type="text"
                 name="cost"
                 value="{{ expense['cost'] }}"
                 class="form-control">
          <p class="form-hint">For example, 5</p>
        </div>

        <input id="light-refreshment-details-submit"
               type="submit"
               value="Continue"
               class="button">

      </form>

    </div>
  </div>

</main>

{% endblock %}
