{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        About your plane journey
      </h2>

      <p>You may get help paying for air travel if it is cheaper than other public transport options.</p>

      <p>Claims that include air travel require approval before you travel, by the Assisted Prison Visits Unit.</p>

      <form action="/first-time/eligibility/{{reference}}/claim/{{claimId}}/plane{{params}}" method="post">

        <div class="form-group {% if errors['from'][0] %} error {% endif %}">
          <label id="from" for="from-input" class="form-label-bold">From</label>

          {% if errors['from'][0] %}
            <span class="error-message">{{ errors['from'][0] }}</span>
          {% endif %}

          <input id="from-input"
                 type="text"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control">
          <p class="form-hint">For example, Heathrow</p>
        </div>

        <div class="form-group {% if errors['to'][0] %} error {% endif %}">
          <label id="to" for="to-input" class="form-label-bold">To</label>

          {% if errors['to'][0] %}
            <span class="error-message">{{ errors['to'][0] }}</span>
          {% endif %}

          <input id="to-input"
                 type="text"
                 name="to"
                 value="{{ expense['to'] }}"
                 class="form-control">
          <p class="form-hint">For example, Edinburgh</p>
        </div>

        {% include "partials/expenses/return-journey.html" %}

        {% include "partials/expenses/is-child.html" %}

        <div class="form-group {% if errors['cost'][0] %} error {% endif %}">
          <label id="cost" for="cost-input" class="form-label-bold">Cost</label>

          {% if errors['cost'][0] %}
            <span class="error-message">{{ errors['cost'][0] }}</span>
          {% endif %}

          <input id="cost-input"
                 type="text"
                 name="cost"
                 value="{{ expense['cost'] }}"
                 class="form-control">
          <p class="form-hint">For example, £100</p>
        </div>

        {% include "partials/expenses/add-another-journey.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="plane-details-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}
