{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Add taxi journey information
      </h2>

      <p>Taxis may be used only if public transport is not available for part of your journey, at the time of your visit. </p>

      <p>Taxis may not be used for journeys that would take less than 20 minutes on foot, unless you are aged over 75
        or have a medical reason.</p>

      <p>You will need to enter a different taxi journey for each taxi receipt you hold. So a return taxi journey would
        require two separate taxi journey claims to be made (assuming you hold two receipts).</p>

      <form action="/first-time-claim/eligibility/{{reference}}/claim/{{claimId}}/taxi{{params}}" method="post">

        <div class="form-group">
          <label for="from" class="form-label-bold">From</label>

          <input id="from"
                 type="text"
                 name="from"
                 class="form-control">
          <p class="form-hint">eg Birmingham New Street</p>
        </div>

        <div class="form-group">
          <label for="destination" class="form-label-bold">To</label>

          <input id="destination"
                 type="text"
                 name="to"
                 class="form-control">
          <p class="form-hint">eg Hewell</p>
        </div>

        <div class="form-group">
          <label for="cost" class="form-label-bold">Cost</label>

          <input id="cost"
                 type="text"
                 name="cost"
                 class="form-control">
          <p class="form-hint">eg 20</p>
        </div>

        <div class="form-group">

          <div class="form-group">
            <fieldset>

              <label for="add-another-taxi" class="block-label">
                <input id="add-another-taxi"
                       type="radio"
                       name="add-another-journey">
                Add another taxi journey
              </label>

            </fieldset>
          </div>

          <input type="submit" class="button">
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
