{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Add train journey information
      </h2>

      <form action="/first-time-claim/eligibility/{{reference}}/claim/{{claim}}/train{{params}}" method="post">

        <div class="form-group">
          <label for="from" class="form-label-bold">From</label>
          <input id="from"
                 type="text"
                 name="from"
                 class="form-control">
          <p class="form-hint">eg Euston</p>
        </div>

        <div class="form-group">
          <label for="to" class="form-label-bold">To</label>
          <input id="to"
                 type="text"
                 name="to"
                 class="form-control">
          <p class="form-hint">eg Birmingham New Street</p>
        </div>

        <div class="form-group">

          <h2 class="form-label-bold">Is this a return journey?</h2>

          <div class="form-group">
            <fieldset>

              <label for="return-yes" class="block-label inline">
                <input id="return-yes"
                       type="radio"
                       name="return-journey"
                       value="yes">
                Yes
              </label>
              <label for="return-no" class="block-label inline">
                <input id="return-no"
                       type="radio"
                       name="return-journey"
                       value="no">
                No
              </label>

            </fieldset>
          </div>

          <div class="form-group">
            <label for="cost" class="form-label-bold">Cost</label>
            <input id="cost"
                   type="text"
                   name="cost"
                   class="form-control">
            <p class="form-hint">eg £20</p>
          </div>

          <div class="form-group">
            <fieldset>

              <label for="add-another-journey" class="block-label">
                <input id="add-another-journey"
                       type="checkbox"
                       name="add-another-journey">
                Add another train journey
              </label>

            </fieldset>
          </div>

          <input id="train-details-submit"
                 type="submit"
                 class="button"
                 value="Continue">
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
