{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% include "includes/validation-error-messages.html" %}

            <h2 id="assistance" class="heading-large">
                Does someone assist you during your journey?
            </h2>

            {% if errors['assistance'][0] %}
              <span class="error-message" id="error-message-journey-assistance">{{ errors['assistance'][0] }}</span>
            {% endif %}

            <form action="/first-time/{{ dob }}/{{ relationship }}" method="post">
                <div class="form-group {% if errors['assistance'][0] %} error {% endif %}">

                    <fieldset>

                        <label class="block-label">
                            <input id="assistance-yes-medical"
                                   type="radio"
                                   name="assistance"
                                   value="medical">
                            Yes, I have a medical reason
                        </label>

                        <label class="block-label">
                            <input id="assistance-yes-over-75"
                                   type="radio"
                                   name="assistance"
                                   value="older">
                            Yes, I'm 75 or older
                        </label>

                        <label class="block-label">
                            <input id="assistance-no"
                                   type="radio"
                                   name="assistance"
                                   value="no">
                            No
                        </label>

                    </fieldset>

                </div>

                <input id="journey-assistance-submit" type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
