<table>

  <thead>
  <tr>
    <th>Expense{% if claimDetails.claimExpenses[1] %}s{% endif %}</th>
    <th>Amount</th>
    <th></th>
  </tr>
  </thead>

  <tbody id='claim-expense'>
  {% for claimExpense in claimDetails.claimExpenses %}

  {% if claimExpense.fromInternalWeb %}
    <tr {% if forEdit %}{% if claimExpense.DocumentStatus == 'upload-later' or claimExpense.Status == 'REQUEST-INFORMATION' %} class="warning" {% endif %}{% endif %}>
  {% else %}
    <tr {% if errors['claim-expense'][0] %} {% if claimExpense.DocumentStatus == null %} {% if displayHelper.getExpenseReceiptRequired(claimExpense.ExpenseType) %} class="warning" {% endif %}{% endif %}{% endif %}>
  {% endif %}
    <td>
      <span class="bold pull-left{% if not viewClaim %} expense-padding{% endif %}">{{ displayHelper.getExpenseDisplayName(claimExpense.ExpenseType) }}
      {% if viewClaim %}</span><br>{% else %} - </span>
      <form
        action="{{ URL }}/remove-expense/{{ claimExpense.ClaimExpenseId}}?claimDocumentId={{ claimExpense.ClaimDocumentId }}"
        method="post" class="form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button class="expense link" name="remove">remove expense</button>
      </form>
      {% endif %}
      <div>{{ claimExpenseHelper(claimExpense) }}</div>
    </td>
    <td>{% if claimExpense.ExpenseType == 'car' %} 13p per mile {% else %} £{{claimExpense.Cost}} {% endif %}</td>

    <td>
    {% if displayHelper.getExpenseReceiptRequired(claimExpense.ExpenseType) %}
      {% if claimDetails.claim.IsAdvanceClaim and not forEdit and not claimExpense['DocumentStatus'] %}
        <span class="text-pending">Receipt must be supplied after visit</span>

      {% elif claimExpense.fromInternalWeb %}
        {% if forEdit %}
          {% if claimDetails.claim.IsAdvanceClaim and not claimExpense['DocumentStatus'] %}
            <span class="text-warning">Receipt pending upload</span>
            <a href="{{ URL }}/file-upload?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="update-receipt" class="button grey pull-right">Add</a>
          {% else %}

            {% if claimExpense['DocumentStatus'] == 'uploaded' and claimExpense['Status'] != 'REQUEST-INFORMATION' %}
              <span class="text-success">Receipt uploaded</span>
            {% elif claimExpense['DocumentStatus'] == 'upload-later' or claimExpense['Status'] == 'REQUEST-INFORMATION' %}
              <span class="text-warning">Receipt pending upload</span>
              <a href="{{ URL }}/file-upload?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="update-receipt" class="button grey pull-right">Add</a>
            {% elif claimExpense['DocumentStatus'] == 'post-later' %}
              <span class="text-pending">Sending receipt by post</span>
              <a href="{{ URL }}/file-upload?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" class="link pull-right" name="change" id="change-receipt-post">change</button>
            {% endif %}
          {% endif %}

        {% else %}
          {% if forReview and claimExpense.Status != 'APPROVED'  %}
            <span class="text-pending">In review</span>
          {% else %}
            <span {% if claimExpense.Status == 'APPROVED' or claimExpense.Status == 'APPROVED-DIFF-AMOUNT' %} class="text-success" {% else %} class="text-warning" {% endif %}>
              {% if claimExpense.Status == 'REQUEST-INFORMATION' and not forEdit %}
                Response with case worker
              {% else %}
                {{ claimStatusHelper(claimExpense.Status) }}
              {% endif %}
            </span>
          {% endif %}
        {% endif %}

      {% else %}
        {% if claimExpense.DocumentStatus == 'uploaded' %}
          <span class="text-success">Receipt uploaded</span>
          <form
            action="{{ URL }}/view-document/{{ claimExpense.ClaimDocumentId }}"
            method="get" class="form pull-right">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="link">view</button>
          </form>
          <span class="button-separator"></span>
          <form
            action="{{ URL }}/remove-document/{{ claimExpense.ClaimDocumentId }}?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}"
            method="post" class="form pull-right">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="link" name="remove">remove</button>
          </form>

        {% elif claimExpense.DocumentStatus == 'upload-later' %}
          <span class="text-pending">Uploading receipt later</span>
          <form
            action="{{ URL }}/remove-document/{{ claimExpense.ClaimDocumentId }}?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}"
            method="post" class="form pull-right">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="link" name="change">change</button>
          </form>

        {% elif claimExpense.DocumentStatus == 'post-later' %}
          <span class="text-pending">Sending receipt by post</span>
          <form
            action="{{ URL }}/remove-document/{{ claimExpense.ClaimDocumentId }}?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}"
            method="post" class="form pull-right">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="link" name="change">change</button>
          </form>

        {% else %}
          <span class="text-warning">Receipt needed</span>
          <a href="{{ URL }}/file-upload?document=RECEIPT&claimExpenseId={{ claimExpense.ClaimExpenseId }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="add-receipt-{{ claimExpense.ClaimExpenseId }}" class="button grey pull-right add-expense-receipt ">Add</a>

        {% endif %}
      {% endif %}

    {% elif claimExpense.Status %}
      <span class="{% if claimExpense.Status == 'REJECTED' %}text-warning{% elif claimExpense.Status == 'REQUEST-INFORMATION'%}text-pending{% else %}text-success{% endif %}">
        {{ claimStatusHelper(claimExpense.Status) }}
      </span>
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>

</table>