{% if claimDetails.claimEvents.length > 0 %}
<div id="messages" class="form-group">

  <h3 class="heading-medium">{{ __('Messages from caseworker') }}</h3>

  <ul class="claim-dialog-public">

  {% for event in claimDetails.claimEvents %}

    {% if event.Caseworker %}
      <li class="caseworker">
        <h4>{{ claimEventHelper(event.Event) }}</h4>
        <p>{{ event.Note }}</p>
        <p class="time">{{ dateHelper(event.DateAdded) }}</p>

    {% else %}
      <li class="claimant">
        <h4>{{claimDetails.claim.FirstName}} {{claimDetails.claim.LastName}}</h4>
        <p>{{ event.Note }}</p>
        <p class="time">{{ dateHelper(event.DateAdded) }}</p>
      </li>

    {% endif %}

  {% endfor %}
  </ul>

</div>

<br>
{% endif %}