<div class="form-group">

  <h1 class="heading-medium">Messages from caseworker</h1>

  <ul class="claim-dialog-public">

  {% for event in claimDetails.claimEvents %}

    {% if event.Caseworker %}
      <li class="caseworker">
        <h2>Caseworker</h2>
        <h2>{{ claimEventHelper(event.Event) }}</h2>
        <p>{{ event.Note }}</p>
        <p class="time">{{ dateHelper(event.DateAdded) }}</p>

    {% else %}
      <li class="claimant">
        <h2>{{claimDetails.claim.FirstName}} {{claimDetails.claim.LastName}}</h2>
        <p>{{ event.Note }}</p>
        <p class="time">{{ dateHelper(event.DateAdded) }}</p>
      </li>

    {% endif %}

  {% endfor %}
  </ul>

</div>