<table class="govuk-table col-2">
  <tr>
    <td class="govuk-table__cell">Visitor</td>
    <td class="govuk-table__cell" data-cy="visitor">{{ claimDetails.claim['FirstName'] }} {{ claimDetails.claim['LastName'] }}</td>
  </tr>

  {% if claimDetails.claimEscort %}
  <tr>
    <td class="govuk-table__cell">Escort</td>
    <td class="govuk-table__cell" data-cy="escort">{{ claimDetails.claimEscort['FirstName'] }} {{ claimDetails.claimEscort['LastName'] }}</td>
  </tr>
  {% endif %}

  {% for child in claimDetails.claimChild %}
  <tr>
    <td class="govuk-table__cell">Child</td>
    <td class="govuk-table__cell" data-cy="child-{{ loop.index }}">{{ child['FirstName'] }} {{ child['LastName'] }}</td>
  </tr>
  {% endfor %}

  <tr id='benefit-information' {% if errors['benefit-information'][0] %} class="warning" {% endif %}{% if forEdit %}{% if claimDetails.claim['benefitDocument'][0].fromInternalWeb %} {% if claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'upload-later' or  claimDetails.claim['BenefitStatus'] == 'REQUEST-INFORMATION' %} class="warning" {% endif %}{% endif %}{% endif %}>
    <td class="govuk-table__cell">Benefit information</td>
    <td class="govuk-table__cell" data-cy="benefits">
      {{ displayHelper.getBenefitDisplayName(claimDetails.claim['Benefit']) }}

      {% if displayHelper.getBenefitRequireUpload(claimDetails.claim['Benefit']) or claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'upload-later' or claimDetails.claim['BenefitStatus'] == 'REQUEST-INFORMATION' %}
      <br>

        {% if claimDetails.claim['benefitDocument'][0].fromInternalWeb or updated %}
          {% if forEdit %}
            {% if claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'uploaded' and claimDetails.claim['BenefitStatus'] != 'REQUEST-INFORMATION'%}
              <span class="text-success">Benefit documentation uploaded</span>
            {% elif claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'upload-later' or claimDetails.claim['BenefitStatus'] == 'REQUEST-INFORMATION'%}
              <span class="text-warning">Benefit documentation needed</span>
              <a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="update-benefit-documentation" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 pull-right">Add</a>
            {% else %}
              <span class="text-pending">Sending benefit documentation by post</span>
              <a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" class="govuk-link--no-visited-state pull-right" name="change" id="change-benefit-documentation-post">change</a>
            {% endif %}

          {% else %}
            {% if forReview and claimDetails.claim['BenefitStatus'] != 'APPROVED' %}
              <span class="text-pending">In review</span>
            {% else %}
              <span {% if claimDetails.claim['BenefitStatus'] == 'APPROVED' %} class="text-success" {% else %} class="text-warning" {% endif %}>{{ claimStatusHelper(claimDetails.claim['BenefitStatus']) }}</span>
            {% endif %}
          {% endif %}

        {% else %}
          {% if claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'uploaded' %}
            {% if displayHelper.getBenefitMultipage(claimDetails.claim['Benefit']) %}
            <ul class="list doc-upload">
              {% for benefit in claimDetails.claim['benefitDocument'] %}
                <li>
                  <span class="text-success">Benefit documentation uploaded</span>
                  <form
                    action="{{ URL }}/view-document/{{ benefit['ClaimDocumentId'] }}"
                    method="get" class="form pull-right">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="link">view</button>
                  </form>
                  <span class="button-separator"></span>
                  <form
                    action="{{ URL }}/remove-document/{{ benefit['ClaimDocumentId'] }}?document={{ claimDetails.claim['Benefit'] }}&multipage=true"
                    method="post" class="form pull-right">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <button class="link" name="remove">remove</button>
                  </form>
                </li>
              {% endfor %}
              <li><a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&hideAlt=true&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="add-benefit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 pull-right">Add another page</a></li>
            </ul>
            {% else %}
              <span class="text-success">Benefit documentation uploaded</span>
              <form
                action="{{ URL }}/view-document/{{ claimDetails.claim.benefitDocument[0]['ClaimDocumentId'] }}"
                method="get" class="form pull-right">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="link">view</button>
              </form>
              <span class="button-separator"></span>
              <form
                action="{{ URL }}/remove-document/{{ claimDetails.claim.benefitDocument[0]['ClaimDocumentId'] }}?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}"
                method="post" class="form pull-right">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button class="remove link" name="remove">remove</button>
              </form>
            {% endif %}
          {% elif claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'upload-later' %}
            <span class="text-pending">Uploading benefit documentation later</span>
            <a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" class="govuk-link--no-visited-state pull-right" name="change" id="change-benefit-documentation-post">change</a>
          {% elif claimDetails.claim['benefitDocument'][0]['DocumentStatus'] == 'post-later' %}
            <span class="text-pending">Sending benefit documentation by post</span>
            <a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" class="govuk-link--no-visited-state pull-right" name="change" id="change-benefit-documentation-post">change</a>
          {% elif benefitUploadNotRequired %}
            <span class="text-success">Benefit document previously uploaded</span>
          {% else %}
            <span class="text-warning">Benefit documentation needed</span>
            <a href="{{ URL }}/file-upload?document={{ claimDetails.claim['Benefit'] }}&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="add-benefit" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0 pull-right">Add</a>
          {% endif %}

        {% endif %}
      {% endif %}
    </td>
  </tr>


</table>
