<table class="col-2">

  <tr>
    <td>Prisoner name</td>
    <td>{{ claimDetails.claim['PrisonerFirstName']}} {{ claimDetails.claim['PrisonerLastName'] }}</td>
  </tr>

  <tr {% if claimDetails.claim['NomisCheck'] == 'REQUEST-INFORMATION' %} class="text-warning" {% endif %}>
    <td>Prisoner number</td>
    <td>{{ claimDetails.claim['PrisonNumber'] }}</td>
  </tr>

  <tr>
    <td>Prison</td>
    <td>{{ displayHelper.getPrisonDisplayName(claimDetails.claim['NameOfPrison']) }}</td>
  </tr>

  <tr>
    <td>Date of visit</td>
    <td>{{ dateHelper(claimDetails.claim['DateOfJourney']) }}</td>
  </tr>

  {% if claimDetails.claim.visitConfirmation.fromInternalWeb %}
    <tr id="VisitConfirmation" {% if forEdit %}{% if errors['VisitConfirmation'][0] or claimDetails.claim.visitConfirmation['DocumentStatus'] == 'upload-later' or claimDetails.claim['VisitConfirmationCheck'] == 'REQUEST-INFORMATION' %} class="warning" {% endif %}{% endif %}>
      <td>Visit confirmation</td>
      <td>
        {% if forEdit %}
          {% if claimDetails.claim.IsAdvanceClaim and not claimDetails.claim.visitConfirmation['DocumentStatus'] %}
            <span class="text-warning">Visit confirmation stamp pending upload</span>
            <a href="{{ URL }}/file-upload?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="update-visit-confirmation" class="button grey pull-right">Add</a>

          {% else %}
            {% if claimDetails.claim.visitConfirmation['DocumentStatus'] == 'uploaded' and claimDetails.claim['VisitConfirmationCheck'] != 'REQUEST-INFORMATION' %}
              <span class="text-success">Visit confirmation uploaded</span>
            {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'upload-later' or claimDetails.claim['VisitConfirmationCheck'] == 'REQUEST-INFORMATION' %}
              <span class="text-warning">Visit confirmation stamp pending upload</span>
              <a href="{{ URL }}/file-upload?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="update-visit-confirmation" class="button grey pull-right">Add</a>
            {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'post-later' %}
              <span class="text-pending">Sending visit confirmation by post</span>
              <a href="{{ URL }}/file-upload?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}" class="link pull-right" name="change" id="change-visit-confirmation-post">change</a>
            {% endif %}

          {% endif %}
        {% else %}
          {% if forReview and claimDetails.claim['VisitConfirmationCheck'] != 'APPROVED' %}
            <span class="text-pending">In review</span>

          {% else %}
            <span {% if claimDetails.claim['VisitConfirmationCheck'] == 'APPROVED' and not claimDetails.claim.IsAdvanceClaim %} class="text-success" {% else %}{% if claimDetails.claim.IsAdvanceClaim %}class="text-pending"{% else %}class="text-warning" {% endif %}{% endif %}>
            {% if claimDetails.claim.IsAdvanceClaim %}
              Visit confirmation must be supplied after visit
            {% else %}
              {{ claimStatusHelper(claimDetails.claim['VisitConfirmationCheck']) }}
            {% endif %}
            </span>

          {% endif %}
        {% endif %}
      </td>
    </tr>

  {% else %}
    <tr id="VisitConfirmation" {% if errors['VisitConfirmation'][0] %} class="warning" {% endif %}>
      <td>Visit confirmation</td>
      <td>
        {% if claimDetails.claim.IsAdvanceClaim and not forEdit %}
          <span class="text-pending">Visit confirmation must be supplied after visit</span>

        {% else %}
          {% if claimDetails.claim.visitConfirmation['DocumentStatus'] == 'uploaded' %}
            <span class="text-success">Visit confirmation uploaded</span>
            <form
              action="{{ URL }}/view-document/{{ claimDetails.claim.visitConfirmation.ClaimDocumentId }}"
              method="get" class="form pull-right">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <button class="link">view</button>
            </form>
            <span class="button-separator"></span>
            <form
              action="{{ URL }}/remove-document/{{ claimDetails.claim.visitConfirmation['ClaimDocumentId'] }}?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}"
              method="post" class="form pull-right">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <button class="link" name="remove">remove</button>
            </form>
          {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'upload-later' %}
            <span class="text-pending">Uploading visit confirmation later</span>
            <form
              action="{{ URL }}/remove-document/{{ claimDetails.claim.visitConfirmation.ClaimDocumentId }}?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}"
              method="post" class="form pull-right">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <button class="link" name="change" id="change-visit-confirmation-upload-later">change</button>
            </form>
          {% elif claimDetails.claim.visitConfirmation['DocumentStatus'] == 'post-later' %}
            <span class="text-pending">Sending visit confirmation by post</span>
            <form
              action="{{ URL }}/remove-document/{{ claimDetails.claim.visitConfirmation.ClaimDocumentId }}?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}"
              method="post" class="form pull-right">
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              <button class="link" name="change" id="change-visit-confirmation-post">change</button>
            </form>
          {% else %}
            <span class="text-warning">Visit confirmation needed</span>
            <a href="{{ URL }}/file-upload?document=VISIT_CONFIRMATION&eligibilityId={{ claimDetails.claim.EligibilityId }}" id="add-visit-confirmation" class="button grey pull-right">Add</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>

  {% endif %}

</table>