{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large">
        Are you claiming for a future or past visit?
      </h2>

      <p>I'm claiming for</p>

      <form action="visit-type" method="post">
        <div class="form-group">

          <fieldset>

            <label for="past-visit" class="block-label" data-target="past-visit-question">
              <input id="past-visit"
                     type="radio"
                     name="Visit"
                     value="Past Visit">
              a visit I have already made
            </label>

            <div class="panel panel-border-narrow js-hidden" id="past-visit-question">
              <label for="past-visit-date" class="form-label">
                What was the date of your visit?
              </label>
              <input id="past-visit-date"
                     type="text"
                     name="past-visit-date"
                     class="form-control">
            </div>

          </fieldset>

          <fieldset>

            <label for="future-visit" class="block-label">
              <input id="future-visit"
                     type="radio"
                     name="Visit"
                     value="Future Visit">
              a visit I will make in the future
            </label>

          </fieldset>

        </div>

        <input type="submit" class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
