{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        About you
      </h2>

      <form action="/apply/{{ claimType }}/new-eligibility/{{ dob }}/{{ relationship }}/{{ benefit }}/{{ referenceId }}"
            method="post">

        <div class="form-group {% if errors['FirstName'][0] %} error {% endif %}">
          <label id="FirstName" class="form-label-bold" for="first-name-input">First name</label>
          {% if errors['FirstName'][0] %}
          <span class="error-message" id="error-message-first-name">{{ errors['FirstName'][0] }}</span>
          {% endif %}
          <input id="first-name-input"
                 name="FirstName"
                 type="text"
                 class="form-control"
                 value="{{ visitor['FirstName'] }}">
        </div>

        <div class="form-group {% if errors['LastName'][0] %} error {% endif %}">
          <label id="LastName" class="form-label-bold" for="last-name-input">Last name</label>
          {% if errors['LastName'][0] %}
          <span class="error-message" id="error-message-last-name">{{ errors['LastName'][0] }}</span>
          {% endif %}
          <input id="last-name-input"
                 name="LastName"
                 type="text"
                 class="form-control"
                 value="{{ visitor['LastName'] }}">
        </div>

        <div class="form-group {% if errors['NationalInsuranceNumber'][0] %} error {% endif %}">
          <label id="NationalInsuranceNumber" class="form-label-bold" for="national-insurance-number-input">National
            Insurance number</label>
          {% if errors['NationalInsuranceNumber'][0] %}
          <span class="error-message" id="error-message-national">{{ errors['NationalInsuranceNumber'][0] }}</span>
          {% endif %}
          <input id="national-insurance-number-input"
                 name="NationalInsuranceNumber"
                 type="text"
                 class="form-control"
                 value="{{ visitor['NationalInsuranceNumber'] }}">
        </div>

        <p class="heading-medium">Address</p>

        <div class="form-group {% if errors['HouseNumberAndStreet'][0] %} error {% endif %}">
          <label id="HouseNumberAndStreet" class="form-label-bold" for="house-number-and-street-input">House number and
            street</label>
          {% if errors['HouseNumberAndStreet'][0] %}
          <span class="error-message" id="error-message-house-street">{{ errors['HouseNumberAndStreet'][0] }}</span>
          {% endif %}
          <p class="form-hint">For example, 123 Street Name</p>
          <input id="house-number-and-street-input"
                 name="HouseNumberAndStreet"
                 type="text"
                 class="form-control"
                 value="{{ visitor['HouseNumberAndStreet'] }}">
        </div>

        <div class="form-group {% if errors['Town'][0] %} error {% endif %}">
          <label id="Town" class="form-label-bold" for="town-input">Town</label>
          {% if errors['Town'][0] %}
          <span class="error-message" id="error-message-town">{{ errors['Town'][0] }}</span>
          {% endif %}
          <input id="town-input"
                 name="Town"
                 type="text"
                 class="form-control"
                 value="{{ visitor['Town'] }}">
        </div>

        <div class="form-group {% if errors['County'][0] %} error {% endif %}">
          <label id="County" class="form-label-bold" for="county-input">County</label>
          {% if errors['County'][0] %}
          <span class="error-message" id="error-message-county">{{ errors['County'][0] }}</span>
          {% endif %}
          <input id="county-input"
                 name="County"
                 type="text"
                 class="form-control"
                 value="{{ visitor['County'] }}">
        </div>

        <div class="form-group {% if errors['PostCode'][0] %} error {% endif %}">
          <label id="PostCode" class="form-label-bold" for="post-code-input">Postcode</label>
          {% if errors['PostCode'][0] %}
          <span class="error-message" id="error-message-post-code">{{ errors['PostCode'][0] }}</span>
          {% endif %}
          <input id="post-code-input"
                 name="PostCode"
                 type="text"
                 class="form-control"
                 value="{{ visitor['PostCode'] }}">
        </div>

        <div class="form-group {% if errors['Country'][0] %} error {% endif %}">
          <label id="Country" class="form-label-bold">Country</label>
          {% if errors['Country'][0] %}
          <span class="error-message" id="error-message-country">{{ errors['Country'][0] }}</span>
          {% endif %}
          <select id="country-input" class="form-control" name="Country">
            <option>select</option>
            <option {% if visitor['Country'] == 'England' %} selected {% endif %} id="country-england">England</option>
            <option {% if visitor['Country'] == 'Wales' %} selected {% endif %} id="country-wales">Wales</option>
            <option {% if visitor['Country'] == 'Scotland' %} selected {% endif %} id="country-scotland">Scotland</option>
            <option {% if visitor['Country'] == 'Northern Ireland' %} selected {% endif %} id="country-ni">Northern Ireland</option>
          </select>
        </div>

        <p class="heading-medium">Contact details</p>

        <div class="form-group {% if errors['EmailAddress'][0] %} error {% endif %}">
          <label id="EmailAddress" class="form-label-bold" for="email-address-input">Email address</label>
          {% if errors['EmailAddress'][0] %}
          <span class="error-message" id="error-message-email">{{ errors['EmailAddress'][0] }}</span>
          {% endif %}
          <p class="form-hint">You’ll receive confirmation by email</p>
          <input id="email-address-input"
                 name="EmailAddress"
                 type="text"
                 class="form-control"
                 value="{{ visitor['EmailAddress'] }}">
        </div>

        <div class="form-group {% if errors['PhoneNumber'][0] %} error {% endif %}">
          <label id="PhoneNumber" class="form-label-bold" for="phone-number-input">Phone number</label>
          {% if errors['PhoneNumber'][0] %}
          <span class="error-message" id="error-message-phone">{{ errors['PhoneNumber'][0] }}</span>
          {% endif %}
          <input id="phone-number-input"
                 name="PhoneNumber"
                 type="text"
                 class="form-control"
                 value="{{ visitor['PhoneNumber'] }}">
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="about-you-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}