{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Prisoner details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Prisoner details
    </h1>

    <form action="{{ URL }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "FirstName",
        name: "FirstName",
        value: prisoner['FirstName'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        attributes: {
          "data-cy": "prisoner-first-name"
        },
        errorMessage: errors | findError('FirstName')
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "LastName",
        name: "LastName",
        value: prisoner['LastName'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        attributes: {
          "data-cy": "prisoner-last-name"
        },
        errorMessage: errors | findError('LastName')
      }) }}

      {% set errorDob = errors | findError('dob') %}
      {% set errorClass = " govuk-input--error" if errorDob %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 28 04 1996"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            value: prisoner['dob-day'],
            attributes: {
              "data-cy": "dob-day"
            }
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            value: prisoner['dob-month'],
            attributes: {
              "data-cy": "dob-month"
            }
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            value: prisoner['dob-year'],
            attributes: {
              "data-cy": "dob-year"
            }
          }
        ],
        errorMessage: errorDob
      }) }}

      {% if not prisonerNumber %}
      {{ govukInput({
        label: {
          text: "Prison number"
        },
        hint: {
          text: "For example, A1234BC"
        },
        id: "prisoner-number",
        name: "PrisonerNumber",
        value: prisoner['PrisonerNumber'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        attributes: {
          "data-cy": "prisoner-number"
        },
        errorMessage: errors | findError('PrisonerNumber')
      }) }}
      {% else %}
        <label id="PrisonerNumber" class="govuk-label" for="prisoner-number">Prison number</label>
        <span>{{ prisonerNumber }}</span>
        <input id="prisoner-number" name="PrisonerNumber" value="{{ prisonerNumber }}" type="hidden">
      {% endif %}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with the prison number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>This is the number given to people when they enter prison.</p>
          <p>Their prison number stays the same if they move to another prison. </p>
          <p>You need to ask the prisoner for this information before you can book.</p>
        </div>
      </details>

      <div class="govuk-form-group {% if errors['NameOfPrison'][0] %} govuk-form-group--error{% endif %}">
        <label id="NameOfPrison" class="govuk-label" for="prison-name">Prison name</label>
        <div class="govuk-hint">For example, Hewell</div>
        {% if errors['NameOfPrison'][0] %}
        <span class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ errors['NameOfPrison'][0] }}
        </span>
        {% endif %}
        <!-- Ignore WCAG2AA.Principle4.Guideline4_1.4_1_2.H91 and WCAG2AA.Principle1.Guideline1_3.1_3_1.F68, caused by autocomplete generated input -->
        <select id="prison-name" class="govuk-select js-autocomplete" name="NameOfPrison" aria-label="Name of the prison" data-cy="prison-name">
          <option value="">select</option>
          <optgroup label="England / Wales">
          {% for key, prison in displayHelper.getPrisonsByRegion('ENG/WAL') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Scotland">
          {% for key, prison in displayHelper.getPrisonsByRegion('SCO') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Northern Ireland">
          {% for key, prison in displayHelper.getPrisonsByRegion('NI') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Jersey">
          {% for key, prison in displayHelper.getPrisonsByRegion('JSY') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          <optgroup label="Guernsey">
          {% for key, prison in displayHelper.getPrisonsByRegion('GSY') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          {% if showYCS %}
          <optgroup label="YCS">
          {% for key, prison in displayHelper.getPrisonsByRegion('YCS') %}
            <option value="{{ prison.value }}" {% if prisoner['NameOfPrison'] == prison.value %} selected {% endif %} id="prison-{{ prison.value }}">{{ prison.displayName }}</option>
          {% endfor %}
          </optgroup>
          {% endif %}
        </select>
      </div>

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>

{% endblock %}
