{% extends "includes/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% if relationship === 'eligible-child' %}
  {% set titleText = "Is the eligible child covered by any of the following" %}
{% else %}
  {% set titleText = "Do you claim or receive any of the following" %}
{% endif %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}{{ titleText }} - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      {{ titleText }}?
    </h1>

    {{ govukInsetText({
      text: "Tax credits are ending on 5 April 2025. Any submissions based on claiming Tax Credits made after 3 May 2025 will be rejected."
    }) }}

    <form action="{{ URL }}" method="post">

      {{ govukRadios({
        idPrefix: "benefit",
        name: "benefit",
        fieldset: {
          legend: {
            text: "Benefits",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "b1",
            text: "Income Support",
            attributes: {
              "data-cy": "income-support"
            }
          },
          {
            value: "b2",
            text: "Jobseeker’s Allowance (JSA)",
            hint: {
              text: "Income-based"
            },
            attributes: {
              "data-cy": "jsa"
            }
          },
          {
            value: "b3",
            text: "Employment and Support Allowance (ESA)",
            hint: {
              text: "Income related"
            },
            attributes: {
              "data-cy": "esa"
            }
          },
          {
            value: "b4",
            text: "Universal Credit",
            hint: {
              text: "While your monthly household income before tax is less than £1,250 a month"
            },
            attributes: {
              "data-cy": "universal-credit"
            }
          },
          {
            value: "b5",
            text: "Working Tax credits (with disability or child tax) or Child Tax Credit",
            hint: {
              text: "While earning less than £17,474 a year"
            },
            attributes: {
              "data-cy": "tax-credits"
            }
          },
          {
            value: "b6",
            text: "Pension Credit",
            attributes: {
              "data-cy": "pension-credit"
            }
          },
          {
            value: "b7",
            text: "Health Certificate (HC2)",
            attributes: {
              "data-cy": "hc2"
            }
          },
          {
            value: "b8",
            text: "Health Certificate (HC3)",
            attributes: {
              "data-cy": "hc3"
            }
          },
          {
            value: "b9",
            text: "NHS Tax Credit Exemption Certificate",
            attributes: {
              "data-cy": "tax-credit"
            }
          },
          ({
            value: "ycs",
            text: "YCS",
            attributes: {
              "data-cy": "ycs"
            }
          } if showYCS),
          {
            value: "none",
            text: "None of the above",
            attributes: {
              "data-cy": "none"
            }
          }
        ],
        errorMessage: errors | findError('benefit')
      }) }}

      {{ govukRadios({
        idPrefix: "benefitOwner",
        name: "benefitOwner",
        fieldset: {
          legend: {
            text: "Are you the benefit owner?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-cy": "yes"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-cy": "no"
            }
          }
        ],
        errorMessage: errors | findError('benefitOwner')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
