{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 id="benefit" class="heading-large">
        Do you claim or receive any of the following?
      </h2>

      <p>Please select from the following options:</p>

      {% if errors['benefit'][0] %}
        <span class="error-message">{{ errors['benefit'][0] }}</span>
      {% endif %}

      <form action="{{ URL }}" method="post">
        <fieldset class="{% if errors['benefit'][0] %} error {% endif %}">
          <legend class="hidden">Benefit</legend>
          <div class="form-group">
            <label for="income-support" class="block-label">
              <input id="income-support"
                     type="radio"
                     name="benefit"
                     value="income-support">
              <span class="heading-small">Income Support</span>
            </label>

            <label for="jobseekers-allowance" class="block-label">
              <input id="jobseekers-allowance"
                     type="radio"
                     name="benefit"
                     value="jobseekers-allowance">
              <span class="heading-small">Jobseeker’s Allowance (JSA)</span>
              <br>
              Income-based
            </label>

            <label for="employment-and-support-allowance" class="block-label">
              <input id="employment-and-support-allowance"
                     type="radio"
                     name="benefit"
                     value="employment-support">
              <span class="heading-small">Employment and Support Allowance (ESA)</span>
              <br>
              Income-based
            </label>

            <label for="universal-credit" class="block-label">
              <input id="universal-credit"
                     type="radio"
                     name="benefit"
                     value="universal-credit">
              <span class="heading-small">Universal Credit</span>
              <br>
              While earning less than £1,250 a month
            </label>

            <label for="working-or-child-tax-credits" class="block-label">
              <input id="working-or-child-tax-credits"
                     type="radio"
                     name="benefit"
                     value="working-tax-credit">
              <span class="heading-small">Working Tax credits (with disability or child tax) or Child Tax Credit</span>
              <br>
              While earning less than £17,474 a year
            </label>

            <label for="pension-credit" class="block-label">
              <input id="pension-credit"
                     type="radio"
                     name="benefit"
                     value="pension-credit">
              <span class="heading-small">Pension Credit</span>
            </label>

            <label for="health-certificate2" class="block-label">
              <input id="health-certificate2"
                     type="radio"
                     name="benefit"
                     value="hc2">
              <span class="heading-small">Health Certificate (HC2)</span>
            </label>

            <label for="health-certificate3" class="block-label">
              <input id="health-certificate3"
                     type="radio"
                     name="benefit"
                     value="hc3">
              <span class="heading-small">Health Certificate (HC3)</span>
            </label>

            <label for="nhs-tax-credit" class="block-label">
              <input id="nhs-tax-credit"
                     type="radio"
                     name="benefit"
                     value="nhs-tax-credit">
              <span class="heading-small">NHS Tax Credit Exemption Certificate</span>
            </label>

            <label for="none-of-the-above" class="block-label">
              <input id="none-of-the-above"
                     type="radio"
                     name="benefit"
                     value="none">
             <span class="heading-small">None of the above</span>
            </label>
          </div>

        </fieldset>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="benefit-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
