{% extends "includes/layout.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter information about the benefit owner - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    {% if isDuplicateClaim %}
    {{ govukErrorSummary({
      titleText: "There was a problem",
      errorList: [
        {
          text: "You've already applied"
        },
        {
          text: "Start a repeat claim",
          href: "/start-already-registered",
          attributes: {
            class: "repeat-link"
          }
        }
      ]
    }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      About the benefit owner
    </h1>

    <form action="{{ URL }}" method="post" novalidate>
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "FirstName",
        name: "FirstName",
        value: benefitOwner['FirstName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "given-name",
        spellcheck: false,
        errorMessage: errors | findError('FirstName')
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "LastName",
        name: "LastName",
        value: benefitOwner['LastName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "family-name",
        spellcheck: false,
        errorMessage: errors | findError('LastName')
      }) }}

      {% set errorDob = errors | findError('dob') %}
      {% set errorClass = " govuk-input--error" if errorDob %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
        hint: {
          text: "For example, 18 08 1989"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            value: benefitOwner['dob-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            value: benefitOwner['dob-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            value: benefitOwner['dob-year']
          }
        ],
        errorMessage: errorDob
      }) }}

      {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        hint: {
          text: "For example, QQ123456C"
        },
        id: "NationalInsuranceNumber",
        name: "NationalInsuranceNumber",
        value: benefitOwner['NationalInsuranceNumber'],
        classes: "govuk-!-width-one-half",
        autocomplete: "off",
        spellcheck: false,
        errorMessage: errors | findError('NationalInsuranceNumber')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

  </div>
</div>
{% endblock %}
