{% extends "includes/layout.html" %}

{% block page_title %}
What is your date of birth - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        What is your date of birth?
      </h1>

      <p>You must be 18 or over (16 or over in Scotland)</p>

      <form action="/apply/{{ claimType }}/new-eligibility/date-of-birth" method="post">

        <div class="form-group">
          <div class="date-of-birth {% if errors['dob'][0] %} error {% endif %}">

            {% if errors['dob'][0] %}
              <span class="error-message">{{ errors['dob'][0] }}</span>
            {% endif %}

            <div id="dob" class="form-date">
              <fieldset>
                <legend class="visually-hidden">Date of birth</legend>

                <p class="form-hint">For example, 18 08 1989</p>

                <div class="form-group form-group-day">
                  <label id="dob-day" for="dob-day-input">Day</label>
                  <input id="dob-day-input"
                         type="number"
                         name="dob-day"
                         autocomplete="off"
                         value="{{ claimant['dob-day'] }}"
                         class="form-control"
                         data-cy="dob-day">
                </div>

                <div class="form-group form-group-month">
                  <label id="dob-month" for="dob-month-input">Month</label>
                  <input id="dob-month-input"
                         type="number"
                         name="dob-month"
                         autocomplete="off"
                         value="{{ claimant['dob-month'] }}"
                         class="form-control"
                         data-cy="dob-month">
                </div>

                <div class="form-group form-group-year">
                  <label id="dob-year" for="dob-year-input">Year</label>
                  <input id="dob-year-input"
                         type="number"
                         name="dob-year"
                         autocomplete="off"
                         value="{{ claimant['dob-year'] }}"
                         class="form-control"
                         data-cy="dob-year">
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        {% include "partials/csrf-hidden-input.html" %}
        <div class="form-group">
          <input id="date-of-birth-submit"
                 type="submit"
                 value="Continue"
                 class="button"
                 data-cy="submit">
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
