{% extends "includes/layout-new.html" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}What is your date of birth - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <form action="/apply/{{ claimType }}/new-eligibility/date-of-birth" method="post">
      {% set errorDob = errors | findError('dob') %}
      {% set errorClass = " govuk-input--error" if errorDob %}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "What is your date of birth?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: 
          '<p>You must be 18 or over (16 or over in Scotland)</p>
          For example, 18 08 1989',
          classes: "govuk-!-margin-top-1"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            autocomplete: "bday-day",
            value: claimant['dob-day'],
            attributes: {
              "data-cy": "dob-day"
            }
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            autocomplete: "bday-month",
            value: claimant['dob-month'],
            attributes: {
              "data-cy": "dob-month"
            }
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            autocomplete: "bday-year",
            value: claimant['dob-year'],
            attributes: {
              "data-cy": "dob-year"
            }
          }
        ],
        errorMessage: errorDob
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
