{% extends "includes/layout.html" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter information about the Eligible Child you are escorting - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    {% if isDuplicateClaim %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You've already applied"
        },
        {
          text: "Start a repeat claim",
          href: "/start-already-registered",
          attributes: {
            class: "repeat-link"
          }
        }
      ]
    }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      About the Eligible Child
    </h1>

    <form action="{{ URL }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "FirstName",
        name: "FirstName",
        value: eligibleChild['FirstName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "given-name",
        spellcheck: false,
        errorMessage: errors | findError('FirstName')
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "LastName",
        name: "LastName",
        value: eligibleChild['LastName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "family-name",
        spellcheck: false,
        errorMessage: errors | findError('LastName')
      }) }}

      {{ govukSelect({
        id: "ChildRelationship",
        name: "ChildRelationship",
        label: {
          text: "Child's relationship to the prisoner"
        },
        classes: "govuk-!-width-one-half",
        hint: {
          text: "The prisoner is the child's:"
        },
        items: [
          {
            text: "select"
          },
          {
            value: "Mother",
            text: "Mother",
            selected: eligibleChild['ChildRelationship'] == "Mother"
          },
          {
            value: "Father",
            text: "Father",
            selected: eligibleChild['ChildRelationship'] == "Father"
          },
          {
            value: "Grandmother",
            text: "Grandmother",
            selected: eligibleChild['ChildRelationship'] == "Grandmother"
          },
          {
            value: "Grandfather",
            text: "Grandfather",
            selected: eligibleChild['ChildRelationship'] == "Grandfather"
          },
          {
            value: "Brother",
            text: "Brother",
            selected: eligibleChild['ChildRelationship'] == "Brother"
          },
          {
            value: "Sister",
            text: "Sister",
            selected: eligibleChild['ChildRelationship'] == "Sister"
          },
          {
            value: "Next of kin",
            text: "Next of kin",
            selected: eligibleChild['ChildRelationship'] == "Next of kin"
          }
        ],
        errorSummary: errors | findError('ChildRelationship')
      }) }}

      {% set errorDob = errors | findError('dob') %}
      {% set errorClass = " govuk-input--error" if errorDob %}
      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Child's date of birth"
          }
        },
        hint: {
          text: "For example, 18 08 1989"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            value: eligibleChild['dob-day']
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            value: eligibleChild['dob-month']
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            value: eligibleChild['dob-year']
          }
        ],
        errorMessage: errorDob
      }) }}

      {{ govukInput({
        label: {
          text: "Parent/Guardian First name"
        },
        id: "ParentFirstName",
        name: "ParentFirstName",
        value: eligibleChild['ParentFirstName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "given-name",
        spellcheck: false,
        errorMessage: errors | findError('ParentFirstName')
      }) }}

      {{ govukInput({
        label: {
          text: "Parent/Guardian Last name"
        },
        id: "ParentLastName",
        name: "ParentLastName",
        value: eligibleChild['ParentLastName'],
        classes: "govuk-!-width-one-half",
        autocomplete: "given-name",
        spellcheck: false,
        errorMessage: errors | findError('ParentLastName')
      }) }}

      <h2 class="govuk-heading-m">Address</h2>
      {% call govukFieldset({
        legend: {
          text: "Address",
          classes: "govuk-visually-hidden"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "House number and street"
          },
          hint: {
            text: "For example, 123 Street Name"
          },
          id: "HouseNumberAndStreet",
          name: "HouseNumberAndStreet",
          value: eligibleChild['HouseNumberAndStreet'],
          classes: "govuk-!-width-one-half",
          autocomplete: "address-line1",
          spellcheck: false,
          errorMessage: errors | findError('HouseNumberAndStreet')
        }) }}

        {{ govukInput({
          label: {
            text: "Town"
          },
          id: "Town",
          name: "Town",
          value: eligibleChild['Town'],
          classes: "govuk-!-width-one-half",
          autocomplete: "address-level2",
          spellcheck: false,
          errorMessage: errors | findError('Town')
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          id: "County",
          name: "County",
          value: eligibleChild['County'],
          classes: "govuk-!-width-one-half",
          spellcheck: false,
          errorMessage: errors | findError('County')
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "PostCode",
          name: "PostCode",
          value: eligibleChild['PostCode'],
          classes: "govuk-!-width-one-half",
          autocomplete: "postal-code",
          spellcheck: false,
          errorMessage: errors | findError('PostCode')
        }) }}

        {{ govukSelect({
          id: "Country",
          name: "Country",
          label: {
            text: "Country"
          },
          classes: "govuk-!-width-one-half",
          items: [
            {
              text: "select"
            },
            {
              value: "England",
              text: "England",
              selected: eligibleChild['Country'] == 'England'
            },
            {
              value: "Wales",
              text: "Wales",
              selected: eligibleChild['Country'] == 'Wales'
            },
            {
              value: "Scotland",
              text: "Scotland",
              selected: eligibleChild['Country'] == 'Scotland'
            },
            {
              value: "Northern Ireland",
              text: "Northern Ireland",
              selected: eligibleChild['Country'] == 'Northern Ireland'
            }
          ],
          errorMessage: errors | findError('Country')
        }) }}

      {% endcall %}

      {{ govukCheckboxes({
        idPrefix: "add-another-child",
        name: "add-another-child",
        items: [
          {
            value: "on",
            text: "Add another child",
            checked: eligibleChild['add-another-child'] == 'on'
          }
        ]
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

  </div>
</div>
{% endblock %}
