{% extends "includes/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}How are you related to the prisoner - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <form action="{{ URL }}" method="post">
      {{ govukRadios({
        idPrefix: "relationship",
        name: "relationship",
        fieldset: {
          legend: {
            text: "How are you related to the prisoner?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "They are my:"
        },
        items: [
          {
            value: "r1",
            text: "Husband",
            attributes: {
              "data-cy": "husband"
            }
          },
          {
            value: "r2",
            text: "Wife",
            attributes: {
              "data-cy": "wife"
            }
          },
          {
            value: "r3",
            text: "Partner",
            hint: {
              text: "You must have been living with the prisoner before the period of imprisonment"
            },
            attributes: {
              "data-cy": "partner"
            }
          },
          {
            value: "r4",
            text: "Mother",
            hint: {
              text: "Including step mother or adoptive mother"
            },
            attributes: {
              "data-cy": "mother"
            }
          },
          {
            value: "r5",
            text: "Father",
            hint: {
              text: "Including step father or adoptive father"
            },
            attributes: {
              "data-cy": "father"
            }
          },
          {
            value: "r6",
            text: "Grandchild",
            attributes: {
              "data-cy": "grandchild"
            }
          },
          {
            value: "r7",
            text: "Brother",
            hint: {
              text: "Including step brother or half brother"
            },
            attributes: {
              "data-cy": "brother"
            }
          },
          {
            value: "r8",
            text: "Sister",
            hint: {
              text: "Including step sister or adoptive sister"
            },
            attributes: {
              "data-cy": "sister"
            }
          },
          {
            value: "r9",
            text: "Son",
            hint: {
              text: "Including step son or adoptive son"
            },
            attributes: {
              "data-cy": "son"
            }
          },
          {
            value: "r10",
            text: "Daughter",
            hint: {
              text: "Including step daughter or adoptive daughter"
            },
            attributes: {
              "data-cy": "daughter"
            }
          },
          {
            value: "r11",
            text: "Next of kin",
            attributes: {
              "data-cy": "next-of-kin"
            }
          },
          {
            value: "r12",
            text: "Sole visitor",
            hint: {
              text: "The only adult visitor within the 4 week period before your visit took place"
            },
            attributes: {
              "data-cy": "sole-visitor"
            }
          },
          {
            value: "r13",
            text: "None of the above, but I am escorting an eligible child",
            attributes: {
              "data-cy": "none-eligible-child"
            }
          },
          {
            value: "r14",
            text: "None of the above",
            attributes: {
              "data-cy": "none"
            }
          }
        ],
        errorMessage: errors | findError('relationship')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
