{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 id='relationship' class="heading-large">
        How are you related to the prisoner?
      </h2>

      {% if errors['relationship'][0] %}
      <span class="error-message" id="error-message-relaionship">{{ errors['relationship'][0] }}</span>
      {% endif %}

      <form action="{{ URL }}" method="post">
        <div class="form-group {% if errors['relationship'][0] %} error {% endif %}">
          <fieldset>
          <p>They are:</p>
            <label for="husband-wife-civil" class="block-label" data-target="husband-wife-civil-question">
              <input id="husband-wife-civil"
                     type="radio"
                     name="relationship"
                     value="husband-wife-civil">

              <span class="heading-small">My husband, wife or civil partner</span>
              <br>
            </label>

            <label for="partner" class="block-label" data-target="partner-question">
              <input id="partner"
                     type="radio"
                     name="relationship"
                     value="partner">
              <span class="heading-small">My partner</span>
              <br>
              You were living together as a couple before they went to prison or remand
            </label>

            <label for="parent-grandparent" class="block-label" data-target="parent-grandparent-question">
              <input id="parent-grandparent"
                     type="radio"
                     name="relationship"
                     value="parent-grandparent">
              <span class="heading-small">My parent or grand-parent</span>
              <br>
              Includes step-parent or adoptive parent
            </label>

            <label for="sibling" class="block-label" data-target="sibling-question">
              <input id="sibling"
                     type="radio"
                     name="relationship"
                     value="sibling">
              <span class="heading-small">My brother or sister</span>
              <br>
              Includes half-sibling, or step-sibling
            </label>

            <label for="child" class="block-label" data-target="child-question">
              <input id="child"
                     type="radio"
                     name="relationship"
                     value="child">
              <span class="heading-small">My son or daughter</span>
              <br>
              Includes step- or adopted son or daughter
            </label>

            <label for="sole-visitor" class="block-label">
              <input id="sole-visitor"
                     type="radio"
                     name="relationship"
                     value="sole-visitor">
              <span class="heading-small">None of the above, but I am their only visitor for the next 4 weeks (sole visitor)</span>
              <br>
            </label>

            <label for="other" class="block-label" data-target="other-question">
              <input id="other"
                     type="radio"
                     name="relationship"
                     value="none">
              <span class="heading-small">None of the above</span>
              <br>
            </label>

          </fieldset>

        </div>



        {% include "partials/csrf-hidden-input.html" %}
        <div class="form-group">
          <input id="prisoner-relationship-submit"
                 type="submit"
                 class="button"
                 value="Continue">
        </div>
      </form>

    </div>
  </div>

</main>

{% endblock %}
