{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                Add additional expenses
            </h2>

            <form action="additional-expenses" method="post">

                <p>You can select more than one type of additional expense.</p>
                <div class="form-group">

                    <label class="block-label">
                        <input id="light-refreshment"
                               type="checkbox"
                               name="Expense"
                               value="Light Refreshment">
                        Light refreshment
                    </label>

                    <label class="block-label">
                        <input id="accommodation"
                               type="checkbox"
                               name="Expense"
                               value="Accommodation">
                        Accommodation
                    </label>

                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
