{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">
            <h3 class="heading-large">
                Reference number<br>
                APVS1234
            </h3>
            <a href="confirm-your-details">
                <input type="submit" class="button">
            </a>

            <br>
            <br>

            <h3 class="heading-medium">
                Your claim(s)
            </h3>

            <table>
                <tr>
                    <th>Date of claim</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>20/09/16</td>
                    <td>Pending</td>
                    <td><a href="claim-details">View</a></td>
                </tr>
                <tr>
                    <td>17/09/16</td>
                    <td>More information required</td>
                    <td><a href="claim-details" class="button">Add information</a></td>
                </tr>
                <tr>
                    <td>12/09/16</td>
                    <td>Complete</td>
                    <td><a href="claim-details">View</a></td>
                </tr>
            </table>

        </div>
        <div class="column-third">
        </div>
    </div>
</main>

{% endblock %}
