{% extends "includes/layout.html" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter details about your escort - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <form action="/apply/eligibility/claim/about-escort" method="post" novalidate>

      {% call govukFieldset({
        legend: {
          text: "About your escort",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "FirstName",
          name: "FirstName",
          value: escort['FirstName'],
          classes: "govuk-!-width-one-half",
          autocomplete: "given-name",
          spellcheck: false,
          attributes: {
            "data-cy": "first-name"
          },
          errorMessage: errors | findError('FirstName')
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "LastName",
          name: "LastName",
          value: escort['LastName'],
          classes: "govuk-!-width-one-half",
          autocomplete: "family-name",
          spellcheck: false,
          attributes: {
            "data-cy": "last-name"
          },
          errorMessage: errors | findError('LastName')
        }) }}

      {% endcall %}

      {% set errorDob = errors | findError('dob') %}
      {% set errorClass = " govuk-input--error" if errorDob %}

      {{ govukDateInput({
        id: "dob",
        namePrefix: "dob",
        fieldset: {
          legend: {
            text: "Date of birth"
          }
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            value: escort['dob-day'],
            attributes: {
              "data-cy": "dob-day"
            }
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            value: escort['dob-month'],
            attributes: {
              "data-cy": "dob-month"
            }
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            value: escort['dob-year'],
            attributes: {
              "data-cy": "dob-year"
            }
          }
        ],
        errorMessage: errorDob
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
