{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Enter details about your escort') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        {{ __('About your escort') }}
      </h1>

      <form action="/apply/eligibility/claim/about-escort" method="post">

        <div class="form-group {% if errors['FirstName'][0] %} error {% endif %}">
          <label id="FirstName" class="form-label-bold" for="first-name-input">{{ __('First name') }}</label>

          {% if errors['FirstName'][0] %}
            <span class="error-message" id="error-message-first-name">{{ __(errors['FirstName'][0]) }}</span>
          {% endif %}

          <input id="first-name-input"
                 name="FirstName"
                 type="text"
                 autocomplete="off"
                 class="form-control"
                 value="{{ escort['FirstName'] }}">
        </div>

        <div class="form-group {% if errors['LastName'][0] %} error {% endif %}">
          <label id="LastName" class="form-label-bold" for="last-name-input">{{ __('Last name') }}</label>

          {% if errors['LastName'][0] %}
            <span class="error-message" id="error-message-last-name">{{ __(errors['LastName'][0]) }}</span>
          {% endif %}

          <input id="last-name-input"
                 name="LastName"
                 type="text"
                 autocomplete="off"
                 class="form-control"
                 value="{{ escort['LastName'] }}">
        </div>

        <div class="form-group {% if errors['dob'][0] %} error {% endif %}">
          <fieldset>
            <legend id="dob" class="form-label-bold">{{ __('Date of birth') }}</legend>

            {% if errors['dob'][0] %}
              <span class="error-message" id="error-message-dob">{{ __(errors['dob'][0]) }}</span>
            {% endif %}

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="dob-day">{{ __('Day') }}</label>
                <input id="dob-day"
                       name="dob-day"
                       autocomplete="off"
                       value="{{ escort['dob-day'] }}"
                       type="number"
                       class="form-control">
              </div>

              <div class="form-group form-group-month">
                <label for="dob-month">{{ __('Month') }}</label>
                <input id="dob-month"
                       name="dob-month"
                       autocomplete="off"
                       value="{{ escort['dob-month'] }}"
                       type="number"
                       class="form-control">
              </div>

              <div class="form-group form-group-year">
                <label for="dob-year">{{ __('Year') }}</label>
                <input id="dob-year"
                       name="dob-year"
                       autocomplete="off"
                       value="{{ escort['dob-year'] }}"
                       type="number"
                       class="form-control">
              </div>
            </div>

          </fieldset>
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="about-escort-submit"
               type="submit"
               value="{{ __('Continue') }}"
               class="button">
      </form>
    </div>
  </div>

</main>

{% endblock %}
