{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Enter your accommodation details') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        {{ __('Your accommodation') }}
      </h1>

      <p>{{ __('Claims that include accommodation must be approved before you travel by the Assisted Prison Visits Unit.') }}</p>

      <p>
        {{ __('You are allowed one accommodation expense per claim.') }}
      </p>

      <form action="/apply/eligibility/claim/accommodation{{ params }}"
            method="post">

        <div id="duration" class="form-group {% if errors['duration'][0] %} error {% endif %}">
          <label for="duration-input" class="form-label-bold">{{ __('Number of nights') }}</label>

          {% if errors['duration'][0] %}
            <span class="error-message">{{ errors['duration'][0] }}</span>
          {% endif %}

          <p class="form-hint">{{ __('For example') }}, 1</p>

          <input id="duration-input"
                 type="text"
                 autocomplete="off"
                 name="duration"
                 value="{{ expense['duration'] }}"
                 class="form-control">
        </div>

        {% set costExample = 50 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="accommodation-details-submit"
               type="submit"
               value="{{ __('Continue') }}"
               class="button">
      </form>

      <br>
      <a href="{{ redirectUrl }}" class="link">{{ __('Remove this expense') }}</a>

    </div>
  </div>

</main>

{% endblock %}
