{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your accommodation
      </h2>

      <p>Claims that include accommodation must be approved before you travel by the Assisted Prison Visits Unit.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/accommodation{{ params }}"
            method="post">

        <div id="duration" class="form-group {% if errors['duration'][0] %} error {% endif %}">
          <label for="duration-input" class="form-label-bold">Number of nights</label>

          {% if errors['duration'][0] %}
            <span class="error-message">{{ errors['duration'][0] }}</span>
          {% endif %}

          <p class="form-hint">For example, 1</p>

          <input id="duration-input"
                 type="text"
                 name="duration"
                 value="{{ expense['duration'] }}"
                 class="form-control">
        </div>

        {% set costExample = 50 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="accommodation-details-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
