{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your accommodation details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your accommodation
    </h1>

    <p>Claims that include accommodation must be approved before you travel by Help With Prison Visits (HWPV).</p>

    <p>
      You are allowed one accommodation expense per claim.
    </p>

    <form action="/apply/eligibility/claim/accommodation{{ params }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Number of nights"
        },
        hint: {
          text: "For example, 1"
        },
        id: "duration",
        name: "duration",
        value: expense['duration'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('duration')
      }) }}

      {% set costExample = 50 %}
      {% include "partials/expenses/cost.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

    <a href="{{ redirectUrl }}">Remove this expense</a>

  </div>
</div>
{% endblock %}
