{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h2 class="heading-large">
    Your bank details
  </h2>

  <p>This is where you’ll receive payment if your claim is approved.</p>

  <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/bank-account-details?isAdvance={{ isAdvance }}"
        method="post">

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="form-group {% if errors['AccountNumber'][0] %} error {% endif %}">
          <label id="AccountNumber" class="form-label-bold" for="account-number-input">Account number</label>
          {% if errors['AccountNumber'][0] %}
          <span class="error-message" id="error-message-account-number">{{ errors['AccountNumber'][0] }}</span>
          {% endif %}
          <input id="account-number-input"
                 name="AccountNumber"
                 type="text"
                 class="form-control"
                 value="{{ bankDetails['AccountNumber'] }}">
        </div>

        <div class="form-group {% if errors['SortCode'][0] %} error {% endif %}">
          <label id="SortCode" class="form-label-bold" for="sort-code-input">Sort code</label>
          {% if errors['SortCode'][0] %}
          <span class="error-message" id="error-message-sort-code">{{ errors['SortCode'][0] }}</span>
          {% endif %}
          <input id="sort-code-input"
                 name="SortCode"
                 type="text"
                 class="form-control"
                 value="{{ bankDetails['SortCode'] }}">
        </div>

      </div>
    </div>

    <h2 class="heading-medium">
      Declarations and statement of truth
    </h2>

    {% if isAdvance == 'true' %}
      <p>I declare that the information I have given is, to the best of my knowledge, true and all the supporting evidence is genuine and the latest in issue.
      I declare that any monies or tickets I receive for any future visit will only be used by me to visit the prisoner on the date claimed for.  If not you agree to return any money or tickets to the APVU.  As this is for an advance claim, you agree to submit receipts and a confirmation of visits form within 28 days.
      Without these documents no further claims will be processed.
      I authorise you to make the necessary checks with the DWP.
      I understand that a false declaration may lead to prosecution and or my suspension from the scheme.</p>
    {% else %}
      <p>I declare that the information I have given is, to the best of my knowledge, true and all the supporting evidence is genuine.
      I authorise you to make the necessary checks with the DWP.
      I understand that a false declaration may lead to prosecution and or my suspension from the scheme.</p>
    {% endif %}
    <div id="terms-and-conditions" class="form-group{% if errors['terms-and-conditions'][0] %} error {% endif %}">
      {% if errors['terms-and-conditions'][0] %}
      <span class="error-message" id="error-message-terms-an-conditions">{{ errors['terms-and-conditions'][0] }}</span>
      {% endif %}
      <label for="terms-and-conditions-input" class="block-label">
        <input id="terms-and-conditions-input"
               type="checkbox"
               name="terms-and-conditions-input"
               {% if bankDetails['tAndC'] %}
                checked
               {% endif %}
               value="yes">
        <span class="heading-small">Confirm</span>
      </label>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input id="bank-account-details-submit"
           type="submit"
           class="button"
           value="Finish">
  </form>

</main>

{% endblock %}
