{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set cashPaymentVoucherNotificationHtml %}
  <h3 class="govuk-notification-banner__heading">
    Payment by cash voucher to end
  </h3>
  <p class="govuk-body">At the end of 2023, claims will only be paid to your bank account.</p>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="mailto:familyservices.management@justice.gov.uk">familyservices.management@justice.gov.uk</a> for more information.</p>
{% endset %}

{% block pageTitle %}
{% if errors %}Error: {% endif %}Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    {{ govukNotificationBanner({
      html: cashPaymentVoucherNotificationHtml
    }) }}

    <h1 class="govuk-heading-l">
      Bank Account Details
    </h1>

    <form action="/apply/eligibility/claim/bank-payment-details?isAdvance={{ isAdvance }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Name on the account"
        },
        classes: "govuk-!-width-one-half",
        id: "NameOnAccount",
        name: "NameOnAccount",
        value: paymentDetails['NameOnAccount'],
        autocomplete: "name",
        spellcheck: false,
        attributes: {
          "data-cy": "name-on-account"
        },
        errorMessage: errors | findError('NameOnAccount')
      }) }}

      {{ govukInput({
        label: {
          text: "Sort code"
        },
        classes: "govuk-input--width-5",
        hint: {
          text: "Must be 6 digits long"
        },
        id: "SortCode",
        name: "SortCode",
        value: paymentDetails['SortCode'],
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false,
        attributes: {
          "data-cy": "sort-code"
        },
        errorMessage: errors | findError('SortCode')
      }) }}

      {{ govukInput({
        label: {
          text: "Account number"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "Must be 8 digits long"
        },
        id: "AccountNumber",
        name: "AccountNumber",
        value: paymentDetails['AccountNumber'],
        inputmode: "numeric",
        pattern: "[0-9]*",
        spellcheck: false,
        attributes: {
          "data-cy": "account-number"
        },
        errorMessage: errors | findError('AccountNumber')
      }) }}

      {{ govukInput({
        label: {
          text: "Building society roll number (if you have one)"
        },
        classes: "govuk-input--width-10",
        hint: {
          text: "You can find it on your card, statement or passbook"
        },
        id: "RollNumber",
        name: "RollNumber",
        value: paymentDetails['RollNumber'],
        spellcheck: false,
        attributes: {
          "data-cy": "roll-number"
        },
        errorMessage: errors | findError('RollNumber')
      }) }}

      <p>
        <a href="/apply/eligibility/claim/payout-confirmation?isAdvance={{ isAdvance }}" id="switchToVoucher" name="switchToVoucher" class="govuk-!-font-size-24" data-cy="voucher">Receive a cash voucher sent by post instead</a>
      </p>

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>
  </div>
</div>
{% endblock %}
