{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your bus journey details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your bus journey
    </h1>

    <form action="/apply/eligibility/claim/bus{{ params }}"
          method="post">
      {% include "partials/expenses/ticket-owner.html" %}

      {% set exampleFrom = 'Euston' %}
      {% include "partials/expenses/from.html" %}

      {% set exampleTo = 'Birmingham New Street' %}
      {% include "partials/expenses/to.html" %}

      {% include "partials/expenses/return-journey.html" %}

      {% set costExample = 20 %}
      {% include "partials/expenses/cost.html" %}

      {% set journeyType = 'bus' %}
      {% include "partials/expenses/add-another-journey.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

    <a href="{{ redirectUrl }}">Remove this journey</a>

  </div>
</div>
{% endblock %}
