{% extends "includes/layout-new.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your car hire details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <h1 class="govuk-heading-l">
      Your car hire
    </h1>

    <p>You can get up to £40 a day for car hire, or the amount that public transport would have cost - whichever is
      cheaper.</p>

    <p>You will also get 13p per mile based on the shortest return journey.</p>

    <p>
      You are allowed one car hire per claim.
    </p>

    <form action="/apply/eligibility/claim/hire{{ params }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Number of days"
        },
        id: "duration",
        name: "duration",
        value: expense['duration'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('duration')
      }) }}

      {{ govukInput({
        label: {
          text: "From"
        },
        hint: {
          text: "For example, Euston"
        },
        id: "from",
        name: "from",
        value: expense['from'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('from')
      }) }}

      {{ govukInput({
        label: {
          text: "To"
        },
        hint: {
          text: "For example, Birmingham New Street"
        },
        id: "to",
        name: "to",
        value: expense['to'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('to')
      }) }}


      {% set costExample = 10 %}
      {% include "partials/expenses/cost.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

    <a href="{{ redirectUrl }}">Remove this journey</a>

  </div>
</div>
{% endblock %}
