{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your car or motorcycle journey
      </h2>

      <p>
        You will get 13p per mile for this kind of travel. The distance is calculated as the shortest route between
        your home and the prison’s visitor centre.
      </p>

      {% if not carOnly %}
      <p>
        You can also claim for any tolls or parking charges.
      </p>
      {% endif %}

      <p>
        You are allowed one car journey per claim
      </p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/car{{ params }}"
            method="post">

        <div class="form-group hide-border">
          <label class="form-label-bold" for="from">From</label>
          <input id="from"
                 type="text"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control"
                 readonly>
        </div>

        <div class="form-group hide-border">
          <label class="form-label-bold" for="to-display">To</label>
          <input id="to-display"
                 name="to-display"
                 class="form-control"
                 value="{{ displayHelper.getPrisonDisplayName(expense['to']) }}"
                 readonly>
          <input id="to"
                 type="hidden"
                 name="to"
                 value="{{ expense['to'] }}">
        </div>

        {% if not carOnly %}
        <fieldset>
          <legend class="hidden">Parking and Toll charges</legend>
          <label for="toll" data-target="toll-question" class="block-label">
            <input id="toll"
                   type="checkbox"
                   name="toll"
                   value="yes"
                   {% if expense['toll'] == 'yes' %} checked {% endif %}>
            Add toll charge
          </label>

          <div id="toll-question" class="panel panel-border-narrow {% if errors['toll-cost'][0] %} error {% else %} js-hidden {% endif %}">
            <label id="toll-cost" for="toll-cost-input" class="form-label">Cost</label>

            {% if errors['toll-cost'][0] %}
              <span class="error-message">{{ errors['toll-cost'][0] }}</span>
            {% endif %}
            <div class="pound-wrapper">
              <span>£</span>
              <input id="toll-cost-input"
                     type="text"
                     name="toll-cost"
                     value="{{ expense['toll-cost'] }}"
                     class="form-control">
            </div>
          </div>

          <label for="parking-charge" data-target="parking-charge-question" class="block-label">
            <input id="parking-charge"
                   type="checkbox"
                   name="parking-charge"
                   value="yes"
                   {% if expense['parking-charge'] == 'yes' %} checked {% endif %}>
            Add parking charge
          </label>

          <div id="parking-charge-question"
               class="panel panel-border-narrow {% if errors['parking-charge-cost'][0] %} error {% else %} js-hidden {% endif %}">

            <label id="parking-charge-cost" for="parking-charge-cost-input" class="form-label">Cost</label>

            {% if errors['parking-charge-cost'][0] %}
              <span class="error-message">{{ errors['parking-charge-cost'][0] }}</span>
            {% endif %}
            <div class="pound-wrapper">
              <span>£</span>
              <input id="parking-charge-cost-input"
                     type="text"
                     name="parking-charge-cost"
                     value="{{ expense['parking-charge-cost'] }}"
                     class="form-control">
            </div>
          </div>

        </fieldset>
        {% endif %}

        <br/>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="car-details-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}
