{% extends "includes/layout.html" %}

{% block page_title %}
  Enter your car or motorcycle journey details - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        Your car or motorcycle journey
      </h1>

      <p>
        You will get 13p per mile for this kind of travel. The distance is calculated as the shortest route between
        your home and the prison’s visitor centre.
      </p>

      {% if not carOnly %}
      <p>
        You can also claim for parking, and tolls for bridges or tunnels.
      </p>
      {% endif %}

      <p>
        You are allowed one car journey per claim
      </p>

      <form action="/apply/eligibility/claim/car{{ params }}"
            method="post">

        <div class="form-group hide-border">
          <label class="form-label-bold" for="from">From</label>
          <input id="from"
                 type="text"
                 autocomplete="off"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control"
                 readonly>
        </div>

        <div class="form-group hide-border">
          <label class="form-label-bold" for="to-display">To</label>
          <input id="to-display"
                 name="to-display"
                 autocomplete="off"
                 class="form-control"
                 value="{{ displayHelper.getPrisonDisplayName(expense['to']) }}"
                 readonly>
          <input id="to"
                 type="hidden"
                 name="to"
                 value="{{ expense['to'] }}">
        </div>

        <div class="form-group">
          <label for="new-destination" class="block-label selection-button-checkbox" data-target="new-destination-details" >Was this not your journey?
          <input id="new-destination" type="checkbox" name="new-destination" {% if expense['new-destination'] %}checked{% endif %}></label>
        </div>

        <div id="new-destination-details" class="panel panel-border-narrow js-hidden">
          <span class="text-secondary">Please enter your prefered journey</span>
          <br>
          <br>

          <div class="form-group {% if errors['destination'][0] %} error {% endif %}">
            <label id="destination" for="destination-input" class="form-label-bold">Destination</label>

            {% if errors['destination'][0] %}
              <span class="error-message">{{ errors['destination'][0] }}</span>
            {% endif %}
            <p class="form-hint">For example, Euston train station</p>
            <input id="destination-input"
                   type="text"
                   name="destination"
                   autocomplete="off"
                   value="{{ expense['destination'] }}"
                   class="form-control">
          </div>

          <div class="form-group {% if errors['PostCode'][0] %} error {% endif %}">
            <label id="PostCode" for="postcode-input" class="form-label-bold">Postcode (optional)</label>

            {% if errors['PostCode'][0] %}
              <span class="error-message">{{ errors['PostCode'][0] }}</span>
            {% endif %}
            <input id="postcode-input"
                   type="text"
                   name="PostCode"
                   autocomplete="off"
                   value="{{ expense['PostCode'] }}"
                   class="form-control">
          </div>
        </div>

        {% if not carOnly %}
        <fieldset>
          <legend class="hidden">Parking and Toll charges</legend>
          <label for="toll" data-target="toll-question" class="block-label">
            <input id="toll"
                   type="checkbox"
                   name="toll"
                   value="yes"
                   {% if expense['toll'] == 'yes' %} checked {% endif %}>
            Add toll charge (bridges or tunnels only)
          </label>

          <div id="toll-question" class="panel panel-border-narrow {% if errors['toll-cost'][0] %} error {% else %} js-hidden {% endif %}">
            <label id="toll-cost" for="toll-cost-input" class="form-label">{% if isAdvanceClaim %}Estimated cost{% else %}Cost{% endif %}</label>

            {% if errors['toll-cost'][0] %}
              <span class="error-message">{{ errors['toll-cost'][0] }}</span>
            {% endif %}
            <div class="pound-wrapper">
              <span>£</span>
              <input id="toll-cost-input"
                     type="text"
                     autocomplete="off"
                     name="toll-cost"
                     value="{{ expense['toll-cost'] }}"
                     class="form-control">
            </div>
          </div>

          <label for="parking-charge" data-target="parking-charge-question" class="block-label">
            <input id="parking-charge"
                   type="checkbox"
                   name="parking-charge"
                   value="yes"
                   {% if expense['parking-charge'] == 'yes' %} checked {% endif %}>
            Add parking charge
          </label>

          <div id="parking-charge-question"
               class="panel panel-border-narrow {% if errors['parking-charge-cost'][0] %} error {% else %} js-hidden {% endif %}">

            <label id="parking-charge-cost" for="parking-charge-cost-input" class="form-label">{% if isAdvanceClaim %}Estimated cost{% else %}Cost{% endif %}</label>

            {% if errors['parking-charge-cost'][0] %}
              <span class="error-message">{{ errors['parking-charge-cost'][0] }}</span>
            {% endif %}
            <div class="pound-wrapper">
              <span>£</span>
              <input id="parking-charge-cost-input"
                     type="text"
                     autocomplete="off"
                     name="parking-charge-cost"
                     value="{{ expense['parking-charge-cost'] }}"
                     class="form-control">
            </div>
          </div>

        </fieldset>
        {% endif %}

        <br/>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="car-details-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

      <br>
      <a href="{{ redirectUrl }}" class="link">Remove this journey</a>

    </div>
  </div>

</main>

{% endblock %}
