{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Summary of your claim - {{ serviceName }}
{% endblock %}

{% block content %}
{% include "includes/validation-error-messages.html" %}

<h1 class="govuk-heading-l">
  Your claim
</h1>

<p>Add evidence to support your claim, and check that everything is correct.</p>

{% include "partials/claim-summary/claim-summary-visitor.html" %}

{% include "partials/claim-summary/claim-summary-eligible-children.html" %}

<h2 class="govuk-heading-m govuk-!-margin-top-7">Your visit</h2>

{% include "partials/claim-summary/claim-summary-visit.html" %}

{% include "partials/claim-summary/claim-summary-expenses.html" %}

{% if not claimDetails.claimExpenses[0] %}
  <span class="govuk-error-message" id="error-message-no-expenses">{{ errors['claim-expense'][0] }}</span>
{% endif %}
<p>
  <a href="/apply/eligibility/claim/expenses">Add another expense</a>
</p>

<form action="/apply/eligibility/claim/summary" method="post" class="govuk-!-margin-top-8">

  {% include "partials/csrf-hidden-input.html" %}

  {{ govukButton({
    text: "Continue",
    preventDoubleClick: true,
    attributes: {
      "data-cy": "submit"
    }
  }) }}

</form>
{% endblock %}
