{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h2 class="heading-large">
    Your claim
  </h2>

  <p>Add evidence for your claim and check that everything is correct.</p>

  {% include "partials/claim-summary/claim-summary-visitor.html" %}

  <h2 class="heading-medium">Your visit</h2>

  {% include "partials/claim-summary/claim-summary-visit.html" %}

  <br>

  {% include "partials/claim-summary/claim-summary-expenses.html" %}

  <br>
  <a href="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}" class="link">Add another expense</a>

  <br>
  <br>
  <br>

  <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/summary" method="post" class="form">

    <div class="form-group">
      {% include "partials/csrf-hidden-input.html" %}

      <input id="claim-summary-submit"
             type="submit"
             value="Continue"
             class="button">
    </div>

  </form>

</main>

{% endblock %}
