{% extends "includes/layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Declaration - {{ serviceName }}
{% endblock %}

{% block content %}
{% include "includes/validation-error-messages.html" %}

<h1 class="govuk-heading-l">
  Declaration
</h1>

<form action="/apply/eligibility/claim/declaration?isAdvance={{ isAdvance }}&paymentMethod={{ paymentMethod }}" method="post">

  {% if isAdvance == 'true' %}
    <p>I declare that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The information I have given is true to the best of my knowledge</li>
      <li>The evidence I’ve given is genuine and the most recent version</li>
      <li>Any money or tickets I receive for a visit will only be used by
      myself, on the date claimed for</li>
      <li>If I do not use the tickets or money I will return them to
        Help With Prison Visits (HWPV)</li>
      <li>As this is an advance claim I will submit receipts and a visit
        confirmation form within 28 days</li>
      <li>I authorise the APVU to make any necessary checks with the
        Department for Work and Pensions (DWP)</li>
      <li>I understand that a false declaration may lead to prosecution and
        a ban from claiming again</li>
      <li>I agree to the terms of service as documented in the <a href="/privacy" target="_blank">terms and conditions</a></li>
    </ul>
  {% else %}
    <p>I declare that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>The information I have given is true to the best of my knowledge </li>
      <li>The evidence I’ve given is genuine and the most recent version</li>
      <li>I authorise the APVU to make any necessary checks with the
      Department for Work and Pensions (DWP)</li>
      <li>I understand that a false declaration may lead to prosecution and
      a ban from claiming again</li>
      <li>I agree to the terms of service as documented in the <a href="/privacy" target="_blank">terms and conditions</a></li>
    </ul>
  {% endif %}

  {{ govukCheckboxes({
    idPrefix: "terms-and-conditions-input",
    name: "terms-and-conditions-input",
    items: [
      {
        value: "yes",
        html: '<span class="govuk-!-font-weight-bold">I agree to the declaration</span>',
        attributes: {
          "data-cy": "terms-and-conditions"
        }
      }
    ],
    errorMessage: errors | findError('terms-and-conditions')
  }) }}

  {% include "partials/csrf-hidden-input.html" %}

  {{ govukButton({
    text: "Finish",
    preventDoubleClick: true,
    attributes: {
      "data-cy": "submit"
    }
  }) }}
</form>
{% endblock %}
