{% extends "includes/layout.html" %}

{% block page_title %}
{{ __('Declaration') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h1 class="heading-large">
    {{ __('Declaration') }}
  </h1>

  <form action="/apply/eligibility/claim/declaration?isAdvance={{ isAdvance }}&paymentMethod={{ paymentMethod }}" method="post">

    {% if isAdvance == 'true' %}
      <p>{{ __('I declare that:') }}</p>
      <ul class="list list-bullet">
        <li>{{ __('The information I have given is true to the best of my knowledge') }}</li>
        <li>{{ __('The evidence I’ve given is genuine and the most recent version') }}</li>
        <li>{{ __('Any money or tickets I receive for a visit will only be used by myself, on the date claimed for') }}</li>
        <li>{{ __('If I do not use the tickets or money I will return them to the Assisted Prison Visits Unit (APVU)') }}</li>
        <li>{{ __('As this is an advance claim I will submit receipts and a visit confirmation form within 28 days') }}</li>
        <li>{{ __('I authorise the APVU to make any necessary checks with the Department for Work and Pensions (DWP)') }}</li>
        <li>{{ __('I understand that a false declaration may lead to prosecution and a ban from claiming again') }}</li>
        <li>{{ __('I agree to the terms of service as documented in the') }} <a href="/terms-and-conditions" target="_blank">{{ __('terms and conditions') }}</a></li>
      </ul>
    {% else %}
      <p>{{ __('I declare that:') }}</p>
      <ul class="list list-bullet">
        <li>{{ __('The information I have given is true to the best of my knowledge') }}</li>
        <li>{{ __('The evidence I’ve given is genuine and the most recent version') }}</li>
        <li>{{ __('I authorise the APVU to make any necessary checks with the Department for Work and Pensions (DWP)') }}</li>
        <li>{{ __('I understand that a false declaration may lead to prosecution and a ban from claiming again') }}</li>
        <li>{{ __('I agree to the terms of service as documented in the') }} <a href="/terms-and-conditions" target="_blank">{{ __('terms and conditions') }}</a></li>
      </ul>
    {% endif %}

    <div id="terms-and-conditions" class="form-group{% if errors['terms-and-conditions'][0] %} error {% endif %}">
      {% if errors['terms-and-conditions'][0] %}
      <span class="error-message" id="error-message-terms-an-conditions">{{ __(errors['terms-and-conditions'][0]) }}</span>
      {% endif %}
      <label for="terms-and-conditions-input" class="block-label">
        <input id="terms-and-conditions-input"
               type="checkbox"
               name="terms-and-conditions-input"
               {% if bankDetails['tAndC'] %}
                checked
               {% endif %}
               value="yes">
        <span class="heading-small">{{ __('I agree to the declaration') }}</span>
      </label>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input id="claim-submit"
           type="submit"
           class="button"
           value="{{ __('Finish') }}">
  </form>

</main>

{% endblock %}