{% extends "includes/layout.html" %}

{% block page_title %}
  What expenses are you claiming for - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      {% if isAdvanceClaim %}
        <h1 class="heading-large">
          What kind of transport will you use?
        </h1>

        <p>If your application’s approved you will be sent train tickets or money to cover for expenses. Tickets will be the cheapest available for the time of day.</p>

      {% else %}
        <h1 class="heading-large">
          What kind of transport did you use?
        </h1>

        <p>You can select more than one. You will need to show us receipts or tickets
          for all parts of the journey, except for car or motorcycle travel.</p>
      {% endif %}

      <form action="/apply/eligibility/claim/expenses" method="post">
        <div class="form-group">

        {% if not isNorthernIrelandClaim %}
          <fieldset>
            <legend class="hidden">Travel</legend>
            <div class="multiple-choice">
              <input id="car" type="checkbox" name="expenses" value="car">
              <label for="car" class="block-label">
                Car or motorcycle
              </label>
            </div>
            
            <div class="multiple-choice">
              <input id="train" type="checkbox" name="expenses" value="train">
              <label for="train" class="block-label">
                Train
              </label>
            </div>

            <div class="multiple-choice">
              <input id="bus" type="checkbox" name="expenses" value="bus">
              <label for="bus" class="block-label">
                Bus
              </label>
            </div>

            <div class="multiple-choice">
              <input id="hire" type="checkbox" name="expenses" value="hire">
              <label for="hire" class="block-label">
                Car hire
              </label>
            </div>

            <div class="multiple-choice">
              <input id="taxi" type="checkbox" name="expenses" value="taxi">
              <label for="taxi" class="block-label">  
                Taxi
              </label>
            </div>

            <div class="multiple-choice">
              <input id="ferry" type="checkbox" name="expenses" value="ferry">
              <label for="ferry" class="block-label">
                Ferry
              </label>
            </div>

            <div class="multiple-choice">
              <input id="plane" type="checkbox" name="expenses" value="plane">
              <label for="plane" class="block-label">
                Plane
              </label>
            </div>

          </fieldset>

          {% if isAdvanceClaim %}
            <h2 class="heading-medium">
              Will you have any other expenses?
            </h2>
          {% else %}
            <h2 class="heading-medium">
              Did you have any other expenses?
            </h2>
          {% endif %}

          <p>You may be able to get help paying for light refreshments and accommodation.</p>

          <fieldset>
            <legend class="hidden">Other</legend>
            <div class="multiple-choice">
              <input id="refreshment" type="checkbox" name="expenses" value="refreshment">
              <label for="refreshment" class="block-label">
                Light refreshment
              </label>
            </div>
            
            <div class="multiple-choice">
              <input id="accommodation" type="checkbox" name="expenses" value="accommodation">
              <label for="accommodation" class="block-label">
                Accommodation
              </label>
            </div>
            {% if ycsEnabled %}
            <div class="multiple-choice">
              <input id="childCare" type="checkbox" name="expenses" value="child-care">
              <label for="childCare" class="block-label">
                Child care
              </label>
            </div>
            {% endif %}

          </fieldset>
        {% else %}
          <fieldset>
            <legend class="hidden">Travel</legend>
            
            <div class="multiple-choice">
              <input id="car-only" type="checkbox" name="expenses" value="car-only">
              <label for="car-only" class="block-label">
                Car/Motorcycle
              </label>
            </div>

            <div class="multiple-choice">
              <input id="train" type="checkbox" name="expenses" value="train">
              <label for="train" class="block-label">
                Train (standard class)
              </label>
            </div>

            <div class="multiple-choice">
              <input id="bus" type="checkbox" name="expenses" value="bus">
              <label for="bus" class="block-label">
                Bus
              </label>
            </div>

            <div class="multiple-choice">
              <input id="taxi" type="checkbox" name="expenses" value="taxi">
              <label for="taxi" class="block-label">
                Taxi
              </label>
            </div>

            <div class="multiple-choice">
              <input id="plane" type="checkbox" name="expenses" value="plane">
              <label for="plane" class="block-label">
                Plane
              </label>
            </div>

          </fieldset>
        {% endif %}

        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="expenses-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}
