{% extends "includes/layout-new.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  {% if errors %}Error: {% endif %}What expenses are you claiming for - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    {% if isAdvanceClaim %}
      <h1 class="govuk-heading-l">
        What kind of transport will you use?
      </h1>

      <p>If your application’s approved you will be sent train tickets or money to cover for expenses. Tickets will be the cheapest available for the time of day.</p>

    {% else %}
      <h1 class="govuk-heading-l">
        What kind of transport did you use?
      </h1>

      <p>You can select more than one. You will need to show us receipts or tickets
        for all parts of the journey, except for car or motorcycle travel.</p>
    {% endif %}

    <form action="/apply/eligibility/claim/expenses" method="post">

      {% if not isNorthernIrelandClaim %}
        {{ govukCheckboxes({
          idPrefix: "expenses",
          name: "expenses",
          fieldset: {
            legend: {
              text: "Travel"
            }
          },
          items: [
            {
              value: "car",
              text: "Car or motorcycle",
              attributes: {
                "data-cy": "car"
              }
            },
            {
              value: "train",
              text: "Train",
              attributes: {
                "data-cy": "train"
              }
            },
            {
              value: "bus",
              text: "Bus",
              attributes: {
                "data-cy": "bus"
              }
            },
            {
              value: "hire",
              text: "Car hire",
              attributes: {
                "data-cy": "hire"
              }
            },
            {
              value: "taxi",
              text: "Taxi",
              attributes: {
                "data-cy": "taxi"
              }
            },
            {
              value: "ferry",
              text: "Ferry",
              attributes: {
                "data-cy": "ferry"
              }
            },
            {
              value: "plane",
              text: "Plane",
              attributes: {
                "data-cy": "plane"
              }
            }
          ]
        }) }}

        {% if isAdvanceClaim %}
          <h2 class="govuk-heading-m">
            Will you have any other expenses?
          </h2>
        {% else %}
          <h2 class="govuk-heading-m">
            Did you have any other expenses?
          </h2>
        {% endif %}

        <p>You may be able to get help paying for light refreshments and accommodation.</p>

        {{ govukCheckboxes({
          idPrefix: "otherExpenses",
          name: "expenses",
          fieldset: {
            legend: {
              text: "Other"
            }
          },
          items: [
            {
              value: "refreshment",
              text: "Light refreshment",
              attributes: {
                "data-cy": "refreshment"
              }
            },
            {
              value: "accommodation",
              text: "Accommodation",
              attributes: {
                "data-cy": "accommodation"
              }
            }
          ]
        }) }}

      {% else %}

        {{ govukCheckboxes({
          idPrefix: "expenses",
          name: "expenses",
          fieldset: {
            legend: {
              text: "Travel"
            }
          },
          items: [
            {
              value: "car-only",
              text: "Car/Motorcycle",
              attributes: {
                "data-cy": "car-only"
              }
            },
            {
              value: "train",
              text: "Train (standard class)",
              attributes: {
                "data-cy": "train"
              }
            },
            {
              value: "bus",
              text: "Bus",
              attributes: {
                "data-cy": "bus"
              }
            },
            {
              value: "taxi",
              text: "Taxi",
              attributes: {
                "data-cy": "taxi"
              }
            },
            {
              value: "plane",
              text: "Plane",
              attributes: {
                "data-cy": "plane"
              }
            }
          ]
        }) }}
      {% endif %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
