{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Enter your ferry journey details') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        {{ __('Your ferry journey') }}
      </h1>

      {% if isAdvanceClaim %}
      <p>{{ __('You may be able to get help with the cost of a ferry ticket if your journey involves a sea crossing - for example from the Isle of Wight to the mainland.') }}</p>
      {% else %}
      <p>{{ __('You may be able to get help with the cost of a ferry ticket if your journey involved a sea crossing - for example from the Isle of Wight to the mainland.') }}</p>
      {% endif %}

      <form action="/apply/eligibility/claim/ferry{{ params }}"
            method="post">
        {% include "partials/expenses/ticket-owner.html" %}

        {% set exampleFrom = 'Portsmouth' %}
        {% include "partials/expenses/from.html" %}

        {% set exampleTo = 'Isle of Wight' %}
        {% include "partials/expenses/to.html" %}

        {% include "partials/expenses/return-journey.html" %}

        <div class="form-group {% if errors['ticket-type'][0] %} error {% endif %}">

          <h2 id="ticket-type" class="form-label-bold">{{ __('Ticket type') }}</h2>

          {% if errors['ticket-type'][0] %}
            <span class="error-message">{{ __(errors['ticket-type'][0]) }}</span>
          {% endif %}

          <label for="ticket-type-yes" class="block-label">
            <input id="ticket-type-yes"
                   type="radio"
                   name="ticket-type"
                   value="foot-passenger"
                   {% if expense['ticket-type'] == 'foot-passenger' %} checked {% endif %}>
            {{ __('Foot passenger') }}
          </label>
          <label for="ticket-type-no" class="block-label">
            <input id="ticket-type-no"
                   type="radio"
                   name="ticket-type"
                   value="car-passenger"
                   {% if expense['ticket-type'] == 'car-passenger' %} checked {% endif %}>
            {{ __('Car') }}
          </label>

        </div>

        {% set costExample = 100 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="ferry-details-submit"
               type="submit"
               class="button"
               value="{{ __('Continue') }}">
      </form>

      <br>
      <a href="{{ redirectUrl }}" class="link">{{ __('Remove this journey') }}</a>

    </div>
  </div>

</main>

{% endblock %}
