{% extends "includes/layout-new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your ferry journey details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <h1 class="govuk-heading-l">
      Your ferry journey
    </h1>

    <p>You may be able to get help with the cost of a ferry ticket if your journey {% if isAdvanceClaim %}involves{% else %}involved{% endif %} a sea crossing
      - for example from the Isle of Wight to the mainland.</p>

    <form action="/apply/eligibility/claim/ferry{{ params }}" method="post" novalidate>
      {% include "partials/expenses/ticket-owner.html" %}

      {% set exampleFrom = 'Portsmouth' %}
      {% include "partials/expenses/from.html" %}

      {% set exampleTo = 'Isle of Wight' %}
      {% include "partials/expenses/to.html" %}

      {% include "partials/expenses/return-journey.html" %}

      {{ govukRadios({
        idPrefix: "ticket-type",
        name: "ticket-type",
        fieldset: {
          legend: {
            text: "Ticket type"
          }
        },
        items: [
          {
            value: "foot-passenger",
            text: "Foot passenger",
            checked: expense['ticket-type'] == 'foot-passenger'
          },
          {
            value: "car-passenger",
            text: "Car",
            checked: expense['ticket-type'] == 'car-passenger'
          }
        ],
        errorMessage: errors | findError('ticket-type')
      }) }}

      {% set costExample = 100 %}
      {% include "partials/expenses/cost.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

    <a href="{{ redirectUrl }}">Remove this journey</a>

  </div>
</div>
{% endblock %}
