{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your ferry journey
      </h2>

      <p>You may be able to get help with the cost of a ferry ticket if your journey involved a sea crossing
        - for example from the Isle of Wight to the mainland.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/ferry{{ params }}"
            method="post">
        {% include "partials/expenses/ticket-owner.html" %}

        {% set exampleFrom = 'Portsmouth' %}
        {% include "partials/expenses/from.html" %}

        {% set exampleTo = 'Isle of Wight' %}
        {% include "partials/expenses/to.html" %}

        {% include "partials/expenses/return-journey.html" %}

        <div class="form-group {% if errors['ticket-type'][0] %} error {% endif %}">

          <h2 id="ticket-type" class="form-label-bold">Ticket type</h2>

          {% if errors['ticket-type'][0] %}
            <span class="error-message">{{ errors['ticket-type'][0] }}</span>
          {% endif %}

          <fieldset>

            <label for="ticket-type-yes" class="block-label">
              <input id="ticket-type-yes"
                     type="radio"
                     name="ticket-type"
                     value="foot-passenger"
                     {% if expense['ticket-type'] == 'foot-passenger' %} checked {% endif %}>
              Foot passenger
            </label>
            <label for="ticket-type-no" class="block-label">
              <input id="ticket-type-no"
                     type="radio"
                     name="ticket-type"
                     value="car-passenger"
                     {% if expense['ticket-type'] == 'car-passenger' %} checked {% endif %}>
              Car
            </label>

          </fieldset>
        </div>

        {% set costExample = 100 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="ferry-details-submit"
               type="submit"
               class="button"
               value="Continue">

      </form>

    </div>
  </div>

</main>

{% endblock %}
