{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
      {{ fileUploadGuidingText[document].title }}
      </h2>
      <p>{{ fileUploadGuidingText[document].guidingText }}</p>

      <h3 id="upload" class="heading-medium">Upload now</h3>
      <p>Your claim will be processed faster if you upload your document.</p>
      <form action="{{ URL }}" method="post" class="form" enctype="multipart/form-data">

      {% include "partials/csrf-hidden-input.html" %}
        <div>
          <div>
            <p id='document-name' class="column-two-quarter"></p>
            <a id="remove-file-upload" class="link pull-right remove-upload" href="{{ URL }}">remove</a>
          </div>
          <div>
            <label id="label" class="custom-file-upload">
              <input id="document" type="file" name="document" />
              <div id='choose-file'>Choose file</div>
            </label>
          </div>

        </div>
        <br>
        <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">How to upload a file</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
              <ul class="list list-number">
                <li>Take a photo using your smartphone, tablet or camera, or scan the document</li>
                <li>Transfer the image to your computer or the device you’re using to make the claim</li>
                <li>Go to ‘choose file’ above and find the image</li>
              </ul>
            </div>
          </details>
        </div>

        <div id="alternative" class="form-group" {% if hideAlternative %} hidden {% endif %}>
          <br>
          <h4 class="heading-small">Can’t upload now?</h4>

          <label for="Post" class="block-label">
            <input type="radio" name="alternative" value="post-later" id="Post">
            <span class="heading-small">Send by post</span>
            <br>It will take 10 or more days longer to process your claim
          </label>

          <label for="UploadLater" class="block-label">
            <input type="radio" name="alternative" value="upload-later" id="UploadLater">
            <span class="heading-small">Upload later</span>
            <br> You will get a reference number allowing you to return and complete your application
          </label>
        </div>

        <div class="form-group">
          <input id="file-upload-submit"
                 type="submit"
                 name="commit"
                 value="Continue"
                 class="button">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}
