{% extends "includes/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Do you want to claim expeneses for any children - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <form action="/apply/eligibility/claim/has-child" method="post">

      {{ govukRadios({
        idPrefix: "has-child",
        name: "has-child",
        fieldset: {
          legend: {
            text: "Do you want to claim expenses for any children?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html:
          "<p>
            You are only allowed to claim for children if they are the prisoner's
            child or if they're your child and you're the prisoner's husband, wife or civil partner.
          </p>
          <p>We may ask you later for evidence of the relationship.</p>",
          classes: "govuk-!-margin-top-1"
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-cy": "child-yes"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-cy": "child-no"
            }
          }
        ],
        errorMessage: errors | findError('has-child')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
