{% extends "includes/layout.html" %}

{% block page_title %}
  Do you want to claim expeneses for any children - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        Do you want to claim expenses for any children?
      </h1>

      <form action="/apply/eligibility/claim/has-child" method="post">

        <div id="has-child" class="form-group {% if errors['has-child'][0] %} error {% endif %}">

          <p>
            You are only allowed to claim for children if they are the prisoner's
            child or if they're your child and you're the prisoner's husband, wife or civil partner.
          </p>

          <p>We may ask you later for evidence of the relationship.</p>

          {% if errors['has-child'][0] %}
            <span class="error-message">{{ errors['has-child'][0] }}</span>
          {% endif %}
          <fieldset class="inline">
            <legend class="visually-hidden">Do you want to claim expenses for any children</legend>

            <div class="multiple-choice">
              <input id="child-yes" type="radio" name="has-child" value="yes" {% if claim['has-child'] == 'yes' %} checked {% endif %} data-cy="child-yes">
              <label for="child-yes" class="block-label inline">  
                Yes
              </label>
            </div>

            <div class="multiple-choice">
              <input id="child-no" type="radio" name="has-child" value="no" {% if claim['has-child'] == 'no' %} checked {% endif %} data-cy="child-no">
              <label for="child-no" class="block-label inline">
                No
              </label>
            </div>

          </fieldset>

        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="has-child-submit"
               type="submit"
               value="Continue"
               class="button"
               data-cy="submit">
      </form>

    </div>
  </div>

</main>

{% endblock %}
