{% extends "includes/layout-new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Do you want to claim expenses for an escort - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <form action="/apply/eligibility/claim/has-escort" method="post">

      {% set hint %}
        <p>You can claim travel and expenses for someone who {% if isAdvanceClaim %}will help{% else %}helped{% endif %} you if you are 75 or over, or have a serious medical condition.</p>
        <p>We may ask later for evidence of any medical condition.</p>
      {% endset %}

      {{ govukRadios({
        idPrefix: "has-escort",
        name: "has-escort",
        fieldset: {
          legend: {
            text: "Do you want to claim expenses for an escort?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
          }
        },
       hint: {
          html: hint,
          classes: "govuk-!-margin-top-1"
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-cy": "escort-yes"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-cy": "escort-no"
            }
          }
        ],
        errorMessage: errors | findError('has-escort')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
