{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Light refreshments

      </h2>

      <p> You can claim a contribution to food and drink costs if your visit caused you to be away from home for more than 5 hours.</p>

      <p>The limit is £2.55 if you were away over 5 hours, and £5.10 if away over 10 hours.</p>

      <p>We may ask to see receipts later on.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/refreshment{{ params }}"
            method="post">

        <div class="form-group {% if errors['travel-time'][0] %} error {% endif %}">

          <h2 id="travel-time" class="form-label-bold">Travel time</h2>

          {% if errors['travel-time'][0] %}
            <span class="error-message">{{ errors['travel-time'][0] }}</span>
          {% endif %}

          <fieldset>

            <label for="travel-time-over-five" class="block-label">
              <input id="travel-time-over-five"
                     type="radio"
                     name="travel-time"
                     value="over-five"
                     {% if expense['travel-time'] == 'over-five' %} checked {% endif %}>
              Over 5 hours
            </label>

            <label for="travel-time-over-ten" class="block-label">
              <input id="travel-time-over-ten"
                     type="radio"
                     name="travel-time"
                     value="over-ten"
                     {% if expense['travel-time'] == 'over-ten' %} checked {% endif %}>
              Over 10 hours
            </label>

          </fieldset>

        </div>

        {% set costExample = 5 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="light-refreshment-details-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
