{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Light refreshments

      </h2>

      <p>If you were away from home for more than 5 hours for your visit, you can claim a contribution towards food and drink purchased.</p>

      <p>Provide the total cost for everyone you are claiming for below.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/refreshment{{ params }}"
            method="post">

        {% set refreshment = true %}
        {% include "partials/expenses/cost.html" %}

        <p>Please obtain and keep any receipts in case we need to see these later.<p>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="light-refreshment-details-submit"
               type="submit"
               value="Continue"
               class="button">

        {% include "partials/expenses/go-to-summary-link.html" %}
      </form>

    </div>
  </div>

</main>

{% endblock %}
