{% extends "includes/layout.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your payment
    </h1>

    <p>If your application is successful, you will receive a payment for your travel and expenses.</p>

    <form action="/apply/eligibility/claim/payment-details?isAdvance={{ isAdvance }}" method="post" novalidate>

      {{ govukRadios({
        idPrefix: "PaymentMethod",
        name: "PaymentMethod",
        fieldset: {
          legend: {
            text: "How do you want to receive your payment",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "bank",
            text: "Money paid into your bank account",
            checked: paymentDetails['PaymentMethod'] == 'bank'
          },
          {
            value: "payout",
            text: "Cash voucher sent by post",
            checked: paymentDetails['PaymentMethod'] == 'payout'
          }
        ],
        errorMessage: errors | findError('PaymentMethod')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}

    </form>
  </div>
</div>
{% endblock %}
