{% extends "includes/layout.html" %}

{% block page_title %}
Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h1 class="heading-large">
    Your payment
  </h1>

  <p>If your application is successful, you will receive a payment for your travel and expenses.</p>

  <form action="/apply/eligibility/claim/payment-details?isAdvance={{ isAdvance }}"
        method="post">

    <div class="grid-row">
      <div class="column-two-thirds">

      <h2 {% if privateBeta == 'true' %} class="heading-small bank-payments-hidden" {% else %} class="heading-small" {% endif%}>How do you want to receive your payment? </h2>
        {% if errors['PaymentMethod'][0] %}
        <span class="error-message" id="error-message-payment-method">{{ errors['PaymentMethod'][0] }}</span>
        {% endif %}

        <div id="PaymentMethod" class="form-group {% if errors['PaymentMethod'][0] %} error {% endif %}">
          <fieldset {% if privateBeta == 'true' %} class="bank-payments-hidden" {% endif %}>
            <legend class="visually-hidden">How do you want to receive your payment</legend>
              <label for="bank" class="block-label" data-target="bank-details">
                <input id="bank"
                       type="radio"
                       name="PaymentMethod"
                       value="bank"
                       {% if paymentDetails['PaymentMethod'] == 'bank' %} checked {% endif %}>

                <span>Money paid into your bank account</span>
                <br>
              </label>

              <label for="payout" class="block-label" data-target="payout-details">
                <input id="payout"
                       type="radio"
                       name="PaymentMethod"
                       value="payout"
                       {% if paymentDetails['PaymentMethod'] == 'payout' %} checked {% endif %}
                       {% if privateBeta == 'true' %} checked {% endif %}>

                <span>Cash voucher sent by post</span>
                <br>
                <br>
              </label>
          </fieldset>
        </div>
      </div>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input id="payment-submit"
           type="submit"
           class="button"
           value="Continue">
  </form>

</main>

{% endblock %}
