{% extends "includes/layout.html" %}

{% block page_title %}
Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  <h1 class="heading-large">
    Your bank details
  </h1>

  <p>Any money due to you will be paid into your bank account.</p>

  <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/payment-details-and-declaration?isAdvance={{ isAdvance }}"
        method="post">

    <div class="grid-row">
      <div class="column-two-thirds">

        <div class="form-group {% if errors['AccountNumber'][0] %} error {% endif %}">
          <label id="AccountNumber" class="form-label-bold" for="account-number-input">Account number</label>
          {% if errors['AccountNumber'][0] %}
          <span class="error-message" id="error-message-account-number">{{ errors['AccountNumber'][0] }}</span>
          {% endif %}
          <input id="account-number-input"
                 name="AccountNumber"
                 type="text"
                 class="form-control"
                 value="{{ paymentDetailsAndDeclaration['AccountNumber'] }}">
        </div>

        <div class="form-group {% if errors['SortCode'][0] %} error {% endif %}">
          <label id="SortCode" class="form-label-bold" for="sort-code-input">Sort code</label>
          {% if errors['SortCode'][0] %}
          <span class="error-message" id="error-message-sort-code">{{ errors['SortCode'][0] }}</span>
          {% endif %}
          <input id="sort-code-input"
                 name="SortCode"
                 type="text"
                 class="form-control"
                 value="{{ paymentDetailsAndDeclaration['SortCode'] }}">
        </div>

        <div class="form-group">
          <label for="payout" class="block-label selection-button-checkbox" data-target="payout-details" >I don't have a bank account
          <input id="payout" type="checkbox" name="payout" {% if paymentDetailsAndDeclaration['payout'] %}checked{% endif %}></label>
        </div>

        <div id="payout-details" class="js-hidden">
          <details>
            <summary><span class="summary">If you don't have a bank account</span></summary>
            <div class="panel panel-border-narrow">
              <ul class=" list list-bullet">
                <li>Post Office payout is an easy way of claiming back your visit costs
                </li>
                <li>You will receive a unique reference barcode which can be scanned in any post office branch</li>
                <li>The reference barcode will be sent out to the address you have provided </li>
              </ul>
            </div>
          </details>

          <p>Address to be sent to:</p>
          <p>{{ address.HouseNumberAndStreet }}
          <br>{{ address.Town }}
          <br>{{ address.PostCode }}</p>

        </div>

      </div>
    </div>

    <h2 class="heading-medium">
      Declaration
    </h2>

    {% if isAdvance == 'true' %}
      <p>I declare that:</p>
      <ul class="list list-bullet">
        <li>The information I have given is true to the best of my knowledge</li>
        <li>The evidence I’ve given is genuine and the most recent version</li>
        <li>Any money or tickets I receive for a visit will only be used by
        myself, on the date claimed for</li>
        <li>If I do not use the tickets or money I will return them to the
          Assisted Prison Visits Unit (APVU)</li>
        <li>As this is an advance claim I will submit receipts and a visit
          confirmation form within 28 days</li>
        <li>I authorise the APVU to make any necessary checks with the
          Department for Work and Pensions (DWP)</li>
        <li>I understand that a false declaration may lead to prosecution and
          a ban from claiming again</li>
        <li>I agree to the terms of service as documented in the <a href="/terms-and-conditions" target="_blank">terms and conditions</a></li>
      </ul>
    {% else %}
    <p>I declare that:</p>
    <ul class="list list-bullet">
      <li>The information I have given is true to the best of my knowledge </li>
      <li>The evidence I’ve given is genuine and the most recent version</li>
      <li>I authorise the APVU to make any necessary checks with the
      Department for Work and Pensions (DWP)</li>
      <li>I understand that a false declaration may lead to prosecution and
      a ban from claiming again</li>
      <li>I agree to the terms of service as documented in the <a href="/terms-and-conditions" target="_blank">terms and conditions</a></li>
    </ul>
    {% endif %}

    <div id="terms-and-conditions" class="form-group{% if errors['terms-and-conditions'][0] %} error {% endif %}">
      {% if errors['terms-and-conditions'][0] %}
      <span class="error-message" id="error-message-terms-an-conditions">{{ errors['terms-and-conditions'][0] }}</span>
      {% endif %}
      <label for="terms-and-conditions-input" class="block-label">
        <input id="terms-and-conditions-input"
               type="checkbox"
               name="terms-and-conditions-input"
               {% if bankDetails['tAndC'] %}
                checked
               {% endif %}
               value="yes">
        <span class="heading-small"> I agree to the declaration</span>
      </label>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input id="claim-submit"
           type="submit"
           class="button"
           value="Finish">
  </form>

</main>

{% endblock %}
