{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Voucher Confirmation
    </h1>

    <form action="/apply/eligibility/claim/payout-confirmation?isAdvance={{ isAdvance }}" method="post">

      <h2 class="govuk-heading-s">Payment by voucher</h2>

      <div id="payout-details">
        <span>You can exchange the voucher for cash at any post office.</span>
        <br>
        <br>

        <p>Your voucher will be sent to:</p>
        <p>{{ address.HouseNumberAndStreet }}
        <br>{{ address.Town }}
        <br>{{ address.PostCode }}</p>
        <a href="{{ changeAddressLink }}">Change address</a><br><br>
        <span>(This will take you back to the start of your application)</span>
      </div>

      {% include "partials/csrf-hidden-input.html" %}
      <br/>

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}

    </form>
  </div>
</div>
{% endblock %}
