{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set cashPaymentVoucherNotificationHtml %}
  <h3 class="govuk-notification-banner__heading">
    Payment by cash voucher to end
  </h3>
  <p class="govuk-body">The payment by cash voucher option will no longer be available from 8 January 2024.</p>
  <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="mailto:familyservices.management@justice.gov.uk">familyservices.management@justice.gov.uk</a> for more information.</p>
{% endset %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Payment details and declaration - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    {{ govukNotificationBanner({
      html: cashPaymentVoucherNotificationHtml
    }) }}

    <h1 class="govuk-heading-l">
      Voucher Confirmation
    </h1>

    <form action="/apply/eligibility/claim/payout-confirmation?isAdvance={{ isAdvance }}" method="post">

      <h2 class="govuk-heading-m">Payment by voucher</h2>

      <p>You can exchange the voucher for cash at any post office.</p>

      <p>Your voucher will be sent to:</p>
      <p>{{ address.HouseNumberAndStreet }}
      <br>{{ address.Town }}
      <br>{{ address.PostCode }}</p>
      <p>
        <a href="{{ changeAddressLink }}">Change address</a>
        <br>(This will take you back to the start of your application)
      </p>

      {% include "partials/csrf-hidden-input.html" %}
      <br/>

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}

    </form>
  </div>
</div>
{% endblock %}
