{% extends "includes/layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your plane journey details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your plane journey
    </h1>

    <p>You may get help paying for air travel if it is cheaper than other public transport options.</p>
    {% if not isAdvanceClaim %}
      <p>Claims that include air travel should be approved before you travel by Help With Prison Visits (HWPV).</p>
    {% endif %}

    <form action="/apply/eligibility/claim/plane{{ params }}" method="post" novalidate>
      {% include "partials/expenses/ticket-owner.html" %}

      {% set exampleFrom = 'Heathrow' %}
      {% include "partials/expenses/from.html" %}

      {% set exampleTo = 'Edinburgh' %}
      {% include "partials/expenses/to.html" %}

      {% include "partials/expenses/return-journey.html" %}

      {% set costExample = 100 %}
      {% include "partials/expenses/cost.html" %}

      {% set journeyType = 'plane' %}
      {% include "partials/expenses/add-another-journey.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

    <a href="{{ redirectUrl }}">Remove this journey</a>

  </div>
</div>
{% endblock %}
