{% extends "includes/layout.html" %}

{% block page_title %}
  {{ __('Enter your plane journey details') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        {{ __('Your plane journey') }}
      </h1>

      <p>{{ __('You may get help paying for air travel if it is cheaper than other public transport options.') }}</p>
      {% if not isAdvanceClaim %}
        <p>{{ __('Claims that include air travel should be approved before you travel by the Assisted Prison Visits Unit.') }}</p>
      {% endif %}

      <form action="/apply/eligibility/claim/plane{{ params }}"
            method="post">
        {% include "partials/expenses/ticket-owner.html" %}

        {% set exampleFrom = 'Heathrow' %}
        {% include "partials/expenses/from.html" %}

        {% set exampleTo = 'Edinburgh' %}
        {% include "partials/expenses/to.html" %}

        {% include "partials/expenses/return-journey.html" %}

        {% set costExample = 100 %}
        {% include "partials/expenses/cost.html" %}

        {% set journeyType = 'plane' %}
        {% include "partials/expenses/add-another-journey.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="plane-details-submit"
               type="submit"
               class="button"
               value="{{ __('Continue') }}">
      </form>

      <br>
      <a href="{{ redirectUrl }}" class="link">{{ __('Remove this journey') }}</a>

    </div>
  </div>

</main>

{% endblock %}
