{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your plane journey
      </h2>

      <p>You may get help paying for air travel if it is cheaper than other public transport options.</p>

      <p>Claims that include air travel should be approved before you travel by the Assisted Prison Visits Unit.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/plane{{ params }}"
            method="post">
        {% include "partials/expenses/ticket-owner.html" %}

        {% set exampleFrom = 'Heathrow' %}
        {% include "partials/expenses/from.html" %}

        {% set exampleTo = 'Edinburgh' %}
        {% include "partials/expenses/to.html" %}

        {% include "partials/expenses/return-journey.html" %}

        {% set costExample = 100 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/expenses/add-another-journey.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="plane-details-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

    </div>
  </div>

</main>

{% endblock %}
