{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your taxi journey
      </h2>

      <p>You can get help paying for a taxi if public transport wasn’t available for part of the journey and it would
        take longer that 20 minutes to walk.</p>

      <p>If you are over 75 or have a medical reason, you can take a longer taxi journey.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/claim/{{ claimId }}/taxi{{ params }}"
            method="post">

        <div class="form-group {% if errors['from'][0] %} error {% endif %}">
          <label id="from" for="from-input" class="form-label-bold">From</label>

          {% if errors['from'][0] %}
            <span class="error-message">{{ errors['from'][0] }}</span>
          {% endif %}

          <p class="form-hint">For example, Birmingham New Street</p>

          <input id="from-input"
                 type="text"
                 name="from"
                 value="{{ expense['from'] }}"
                 class="form-control">
        </div>

        <div class="form-group {% if errors['to'][0] %} error {% endif %}">
          <label id="to" for="to-input" class="form-label-bold">To</label>

          {% if errors['to'][0] %}
            <span class="error-message">{{ errors['to'][0] }}</span>
          {% endif %}

          <p class="form-hint">For example, Hewell</p>

          <input id="to-input"
                 type="text"
                 name="to"
                 value="{{ expense['to'] }}"
                 class="form-control">
        </div>

        {% set costExample = 10 %}
        {% include "partials/expenses/cost.html" %}

        {% include "partials/expenses/add-another-journey.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input id="taxi-details-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
