{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your taxi journey details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your taxi journey
    </h1>

    <p>You can get help paying for a taxi if public transport {% if isAdvanceClaim %}isn't{% else %}wasn’t{% endif %} available for part of the journey and it would
      take longer that 20 minutes to walk.</p>

    <p>If you are over 75 or have a medical reason, you can take a longer taxi journey.</p>

    <form action="/apply/eligibility/claim/taxi{{ params }}" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "From"
        },
        hint: {
          text: "For example, Birmingham New Street"
        },
        id: "from",
        name: "from",
        value: expense['from'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('from')
      }) }}

      {{ govukInput({
        label: {
          text: "To"
        },
        hint: {
          text: "For example, Hewell"
        },
        id: "to",
        name: "to",
        value: expense['to'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('to')
      }) }}


      {% set costExample = 10 %}
      {% include "partials/expenses/cost.html" %}

      {% set journeyType = 'taxi' %}
      {% include "partials/expenses/add-another-journey.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>

    <p>
      <a href="{{ redirectUrl }}">Remove this journey</a>
    </p>

  </div>
</div>
{% endblock %}
