{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Enter your train journey details - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-l">
      Your train journey
    </h1>
    <p>You can only claim for standard off peak trains</p>

    <form action="/apply/eligibility/claim/train{{ params }}" method="post" novalidate>
      {% include "partials/expenses/ticket-owner.html" %}

      {% set exampleFrom = 'Euston' %}
      {% include "partials/expenses/from.html" %}

      {% if isAdvanceClaim  %}
        {{ govukInput({
          label: {
            text: "Departure time",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          hint: {
            text: "For example, 10am"
          },
          id: "departure-time-input",
          name: "departure-time",
          value: expense['departure-time'],
          errorMessage: errors | findError('departure-time'),
          attributes: {
            "data-cy": "departure-time"
          }
        }) }}
      {% endif %}

      {% set exampleTo = 'Birmingham New Street' %}
      {% include "partials/expenses/to.html" %}

      {% include "partials/expenses/return-journey.html" %}

      {% if isAdvanceClaim %}
        {{ govukInput({
          label: {
            text: "What time is your return train home?",
            classes: "govuk-label--s"
          },
          classes: "govuk-!-width-one-half",
          hint: {
            text: "For example, 4pm"
          },
          id: "return-time-input",
          name: "return-time",
          value: expense['return-time'],
          errorMessage: errors | findError('return-time'),
          attributes: {
            "data-cy": "return-time"
          }
        }) }}
      {% else %}
        {{ govukInput({
          label: {
            text: "Cost"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          hint: {
            text: "For example, 20"
          },
          id: "cost-input",
          name: "cost",
          value: expense['cost'],
          errorMessage: errors | findError('cost'),
          attributes: {
            "data-cy": "cost"
          }
        }) }}
      {% endif %}

      {% set journeyType = 'train' %}
      {% include "partials/expenses/add-another-journey.html" %}

      {% include "partials/csrf-hidden-input.html" %}

      <input type="hidden" name="isAdvanceClaim" value="{{ isAdvanceClaim }}" />

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

    <br>
    <a href="{{ redirectUrl }}">Remove this journey</a>

  </div>
</div>
{% endblock %}
