<meta name="robots" content="noindex, nofollow">

{% extends "includes/layout.html" %}

{% block page_title %}
  Enter your train journey details - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-large">
        Your train journey
      </h1>
      <p>You can only claim for standard off peak trains</p>
      <form action="/apply/eligibility/claim/train{{ params }}"
            method="post">
        {% include "partials/expenses/ticket-owner.html" %}

        {% set exampleFrom = 'Euston' %}
        {% include "partials/expenses/from.html" %}

        {% if isAdvanceClaim  %}

          <div id="departure-time" class="form-group {% if errors['departure-time'][0] %} error {% endif %}">
            <label for="departure-time-input" class="form-label-bold">Departure time</label>

            {% if errors['departure-time'][0] %}
            <span class="error-message">{{ errors['departure-time'][0] }}</span>
            {% endif %}

            <p class="form-hint">For example, 10am</p>
            <input id="departure-time-input"
                   type="text"
                   autocomplete="off"
                   name="departure-time"
                   value="{{ expense['departure-time'] }}"
                   class="form-control">
          </div>

        {% endif %}

        {% set exampleTo = 'Birmingham New Street' %}
        {% include "partials/expenses/to.html" %}

        {% include "partials/expenses/return-journey.html" %}

        {% if isAdvanceClaim %}

          <div id="return-time" class="panel panel-border-narrow js-hidden">
            <div class="form-group {% if errors['return-time'][0] %} error {% endif %}">
              <label class="form-label-bold" for="return-time-input">What time is your return train home?</label>
                {% if errors['return-time'][0] %}
                  <span class="error-message">{{ errors['return-time'][0] }}</span>
                {% endif %}
              <p class="form-hint">For example, 4pm</p>
              <input id="return-time-input" name="return-time-input" type="text" autocomplete="off" class="form-control">

            </div>
          </div>

        {% else %}

          <div id="cost" class="form-group {% if errors['cost'][0] %} error {% endif %}">
            <label for="cost-input" class="form-label-bold">Cost</label>

            {% if errors['cost'][0] %}
            <span class="error-message">{{ errors['cost'][0] }}</span>
            {% endif %}

            <p class="form-hint">For example, 20</p>
            <div class="pound-wrapper">
              <span>£</span>
              <input id="cost-input"
                     type="text"
                     autocomplete="off"
                     name="cost"
                     value="{{ expense['cost'] }}"
                     class="form-control">
            </div>
          </div>

        {% endif %}

        {% set journeyType = 'train' %}
        {% include "partials/expenses/add-another-journey.html" %}

        {% include "partials/csrf-hidden-input.html" %}

        <input type="hidden" name="isAdvanceClaim" value="{{ isAdvanceClaim }}" />
        <input id="train-details-submit"
               type="submit"
               class="button"
               value="Continue">
      </form>

      <br>
      <a href="{{ redirectUrl }}" class="link">Remove this journey</a>

    </div>
  </div>

</main>

{% endblock %}
