{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            {% if errors %}
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                    You have not selected appropriate options:
                </h1>

                <ul class="error-summary-list">
                    {% for field, messages in errors %}
                        {% if messages[0] %}
                            <li><a href="#{{ field }}">{{ messages[0] }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
            {% endif %}

            <h2 id='relationship' class="heading-large">
                What is your relationship with the person you're visiting?
            </h2>

            {% if errors['relationship'][0] %}
              <span class="error-message" id="error-message-relaionship">{{ errors['relationship'][0] }}</span>
            {% endif %}

            <form action="prisoner-relationship" method="post">
                <div class="form-group {% if errors['relationship'][0] %} error {% endif %}">
                    <fieldset>

                        <label class="block-label" data-target="close-relative-question">
                            <input id="close-relative"
                                   type="radio"
                                   name="relationship"
                                   value="Close Relative">

                            <span class="heading-small">Close Relative</span>
                            <br>
                            You are the prisoner’s wife, husband, civil partner, mother, father, sister, brother, son,
                            daughter, grandparent or adoptive step/half brother/sister, stepchild, stepparent or next of
                            kin
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="close-relative-question">
                            <label class="form-label">
                                What is your relationship to the person you're visiting?
                                <input id="close-relative-relationship"
                                       type="text"
                                       name="close-relative-relationship"
                                       class="form-control">
                            </label>
                        </div>

                        <label class="block-label" data-target="partner-question">
                            <input id="partner"
                                   type="radio"
                                   name="relationship"
                                   value="Partner">
                            <span class="heading-small">Partner </span>
                            <br>
                            You were living with the prisoner, as a couple, in an established relationship, immediately
                            before the period of remand/imprisonment
                        </label>

                        <label class="block-label">
                            <input id="sole-visitor"
                                   type="radio"
                                   name="relationship"
                                   value="Sole Visitor">
                            <span class="heading-small">Sole Visitor</span>
                            <br>
                            You are going to be the prisoner’s only visitor for the next four weeks
                        </label>

                        <label class="block-label" data-target="escort">
                            <input id="escort-yes"
                                   type="radio"
                                   name="relationship"
                                   value="Escort">
                            <span class="heading-small">Escort</span>
                            <br>
                            You are the guardian to the prisoner’s child/children or have permission to take the
                            prisoner’s child/children to make a visit

                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="escort">
                            <p class="form-label"> You are escorting:</p>

                            <label class="block-label">
                                <input id="escort-adult"
                                       type="checkbox"
                                       name="escorting"
                                       value="Adult">
                                An adult
                            </label>

                            <label class="block-label">
                                <input id="escort-someones-children"
                                       type="checkbox"
                                       name="escorting"
                                       value="Someones Children">
                                Someone else’s child/children
                            </label>

                            <label class="block-label">
                                <input id="escort-my-children"
                                       type="checkbox"
                                       name="escorting"
                                       value="Own Children">
                                My child/children
                            </label>

                        </div>

                        <label for="other" class="block-label" data-target="other-question">
                            <input id="other"
                                   type="radio"
                                   name="relationship"
                                   value="None of the above">
                            <span class="heading-small">None of the above</span>
                            <br>
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="other-question">
                            <label for="other-relationship" class="form-label">
                                What is your relationship to the person you're visiting?
                            </label>
                            <input id="other-relationship"
                                   type="text"
                                   name="other-relationship">
                        </div>

                    </fieldset>

                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
