{% extends "includes/layout-new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Have you already made the prison visit - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <form action="/apply/eligibility/new-claim/future-or-past-visit" method="post">

      {{ govukRadios({
        idPrefix: "advance-past",
        name: "advance-past",
        fieldset: {
          legend: {
            text: "Have you already made the prison visit?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "<p>You can apply for help with one visit at a time.</p>",
          classes: "govuk-!-margin-top-1"
        },
        items: [
          {
            value: "past",
            text: "Yes",
            attributes: {
              "data-cy": "past"
            }
          },
          {
            value: "advance",
            text: "No - it's in the future",
            attributes: {
              "data-cy": "advance"
            }
          }
        ],
        errorMessage: errors | findError('advance-past')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}

    </form>

  </div>
</div>
{% endblock %}
