{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

  <main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Have you already made the prison visit?
      </h2>

      <p>You can apply for help with one visit at a time.</p>

      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/new-claim" method="post" class="form">
      {% if errors['advance-past'][0] %}
        <span class="error-message">{{ errors['advance-past'][0] }}</span>
      {% endif %}

          <div class="form-group">
            <label for="past" class="block-label">
              <input type="radio"
                     name="advance-past"
                     value="past"
                     id="past">
              Yes
            </label>

            <label for="advance" class="block-label">
              <input type="radio"
                     name="advance-past"
                     value="advance"
                     id="advance">
              No - it's in the future
            </label>
          </div>

        <div class="form-group">
          {% include "partials/csrf-hidden-input.html" %}

          <input type="submit"
                 id="future-or-past-submit"
                 name="commit"
                 value="Continue"
                 class="button">
        </div>

      </form>

    </div>
  </div>

  </main>

{% endblock %}