{% extends "includes/layout.html" %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Date of the prison visit you are claiming for - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <form action="/apply/eligibility/new-claim/journey-information" method="post">

      {% set errorDateOfJourney = errors | findError('DateOfJourney') %}
      {% set errorClass = " govuk-input--error" if DateOfJourney %}

      {% set hint %}
        {% if advanceOrPast == 'past' %}
          <p>The visit must have been in the last 28 days.</p>
        {% else %}
          <p>The visit must be in the next 28 days.</p>
        {% endif %}
      {% endset %}

      {{ govukDateInput({
        id: "DateOfJourney",
        namePrefix: "date-of-journey",
        fieldset: {
          legend: {
            text: "Date of prison visit",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: hint,
          classes: "govuk-!-margin-top-1"
        },
        items: [
          {
            name: "day",
            classes: "govuk-input--width-2" + errorClass,
            value: claim['date-of-journey-day'],
            attributes: {
              "data-cy": "journey-day"
            }
          },
          {
            name: "month",
            classes: "govuk-input--width-2" + errorClass,
            value: claim['date-of-journey-month'],
            attributes: {
              "data-cy": "journey-month"
            }
          },
          {
            name: "year",
            classes: "govuk-input--width-4" + errorClass,
            value: claim['date-of-journey-year'],
            attributes: {
              "data-cy": "journey-year"
            }
          }
        ],
        errorMessage: errorDateOfJourney
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
