{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Date of prison visit
      </h2>

      {% if advanceOrPast == 'past' %}
        <p>The visit must have been in the last 28 days.</p>
      {% else %}
        <p>The visit must be in the next 28 days.</p>
      {% endif %}
      <form action="/apply/{{ claimType }}/eligibility/{{ referenceId }}/new-claim/{{ advanceOrPast }}" method="post">

        <div class="form-group {% if errors['DateOfJourney'][0] %} error {% endif %}">
          <fieldset>

            {% if errors['DateOfJourney'][0] %}
              <span class="error-message" id="error-message-benefit">{{ errors['DateOfJourney'][0] }}</span>
            {% endif %}

            <div class="form-date">

              <div class="form-group form-group-day">
                <label for="date-of-journey-day">Day</label>
                <input id="date-of-journey-day"
                       name="date-of-journey-day"
                       value="{{ claim['date-of-journey-day'] }}"
                       class="form-control">
              </div>

              <div class="form-group form-group-month">
                <label for="date-of-journey-month">Month</label>
                <input id="date-of-journey-month"
                       name="date-of-journey-month"
                       value="{{ claim['date-of-journey-month'] }}"
                       class="form-control">
              </div>

              <div class="form-group form-group-year">
                <label for="date-of-journey-year">Year</label>
                <input id="date-of-journey-year"
                       name="date-of-journey-year"
                       value="{{ claim['date-of-journey-year'] }}"
                       class="form-control">
              </div>
            </div>

          </fieldset>
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="journey-information-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
