{% extends "includes/layout-new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Are you applying for the same journey as last time - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages-new.html" %}

    <h1 class="govuk-heading-l">
      Your last journey
    </h1>

    <table>
      <thead>
        <tr>
          <th>Expense</th>
          <th>Amount</th>
        </tr>
      </thead>

      <tbody>
      {% for claimExpense in lastClaimDetails.expenses %}
        <tr>
          <td>
            <div class="govuk-!-font-weight-bold">{{ displayHelper.getExpenseDisplayName(claimExpense.ExpenseType) }}</div>
            {{ claimExpenseHelper(claimExpense) }}
          </td>
          <td>
            {{ displayHelper.toCurrency(claimExpense.Cost) }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if lastClaimDetails.escort[0] %}
    <p>
      <div class="govuk-!-font-weight-bold">Escort</div>
      {% for claimEscort in lastClaimDetails.escort %}
      <div>{{ claimEscort.FirstName + ' ' + claimEscort.LastName }}</div>
      {% endfor %}
    </p>
    {% endif %}

    {% if lastClaimDetails.children[0] %}
    <p>
      <div class="govuk-!-font-weight-bold">Children</div>
      {% for claimChild in lastClaimDetails.children %}
      <div>{{ claimChild.FirstName }} {{ claimChild.LastName }}</div>
      {% endfor %}
    </p>
    {% endif %}

    <form action="/apply/eligibility/new-claim/same-journey-as-last-claim" method="post" class="govuk-!-margin-top-7">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "same-journey-as-last-claim",
        fieldset: {
          legend: {
            text: "Are you applying for the same journey as last time?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-cy": "yes"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-cy": "no"
            }
          }
        ],
        errorMessage: errors | findError('same-journey-as-last-claim')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true,
        attributes: {
          "data-cy": "submit"
        }
      }) }}
    </form>

  </div>
</div>
{% endblock %}
