{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

  <main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Your last journey
      </h2>

      <table>
        <thead>
          <tr>
            <th>Expense</th>
            <th>Amount</th>
          </tr>
        </thead>

        <tbody>
        {% for claimExpense in lastClaimDetails.expenses %}
          <tr>
            <td>
              <div class="bold">{{ displayHelper.getExpenseDisplayName(claimExpense.ExpenseType) }}</div>
              {{ claimExpenseHelper(claimExpense) }}
            </td>
            <td>
              £{{claimExpense.Cost}}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% if lastClaimDetails.escort[0] %}
      <p>
        <div class="bold">Escort</div>
        {% for claimEscort in lastClaimDetails.escort %}
        <div>{{ claimEscort.FirstName + ' ' + claimEscort.LastName }}</div>
        {% endfor %}
      </p>
      {% else %}
      <br>
      {% endif %}

      {% if lastClaimDetails.children[0] %}
      <p>
        <div class="bold">Children</div>
        {% for claimChild in lastClaimDetails.children %}
        <div>{{ claimChild.FirstName }} {{ claimChild.LastName }}</div>
        {% endfor %}
      </p>
      {% else %}
      <br>
      {% endif %}

      <h3 class="heading-medium">Are you applying for the same journey as last time?</h3>

      <form action="/apply/repeat/eligibility/{{ referenceId }}/new-claim/same-journey-as-last-claim/{{ advanceOrPast }}" method="post" class="form">

        <div class="form-group">
          <fieldset>
            <label for="yes" class="block-label inline">
              <input type="radio"
                     name="same-journey-as-last-claim"
                     value="yes"
                     id="yes">
              Yes
            </label>

            <label for="no" class="block-label inline">
              <input type="radio"
                     name="same-journey-as-last-claim"
                     value="no"
                     id="no">
              No
            </label>
          </fieldset>
        </div>

        <div class="form-group">
          {% include "partials/csrf-hidden-input.html" %}

          <input type="submit"
                 id="same-journey-as-last-claim-submit"
                 name="commit"
                 value="Continue"
                 class="button">
        </div>

      </form>

    </div>
  </div>

  </main>

{% endblock %}