{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                What is your date of birth?
            </h2>

            <form action="apply-2">

                <div class="form-group">
                    <fieldset>

                        <div class="form-date">

                            <p class="form-hint">eg 18 08 1989</p>

                            <div class="form-group form-group-day">
                                <label for="dob-day">Day</label>
                                <input id="dob-day"
                                       type="number"
                                       pattern="[0-9]*"
                                       min="0"
                                       max="31"
                                       class="form-control">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="dob-month">Month</label>
                                <input id="dob-month"
                                       type="number"
                                       pattern="[0-9]*"
                                       min="0"
                                       max="12"
                                       class="form-control">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="dob-year">Year</label>
                                <input id="dob-year"
                                       type="number"
                                       pattern="[0-9]*"
                                       min="0"
                                       max="2014"
                                       class="form-control">
                            </div>

                        </div>

                    </fieldset>
                    <br>
                    <p class="form-hint">You must be over 16 to be eligible for assistance</p>
                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
