{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

     <h2 class="heading-large">
       Your claim details
     </h2>

     <p>Add the details of your <span class="bold">car</span> journey</p>

     <form action="apply-basket" method="get" class="form">

     <div class="form-group inline">
      <label class="form-label-bold" for="full-name">Time of departure</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg 10am</p>
      </div>

      <div class="form-group inline">
      <label class="form-label-bold" for="full-name">From</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg London</p>
      </div>

      <div class="form-group">
      <label class="form-label-bold" for="full-name">Time of arrival</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg 11am</p>
      </div>

      <div class="form-group">
      <label class="form-label-bold" for="full-name">To</label>
        
        <input type="text" class="form-control" id="full-name">
        <p class="form-hint">eg Hewell</p>
      </div>


      <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
    </form>


  </div>
</div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


