{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                Please upload your {{ benefit }} document(s)
            </h2>

            <form action="apply-6.html">

                <ul class="list list-number">
                    <li>Photograph or capture your document using a camera, mobile phone, scanner or other device</li>
                    <li>Transfer the image to your computer, or attach your camera to your computer</li>
                    <li>Click “Choose File”</li>
                    <li>Locate and select the file</li>
                    <li>Click “Continue"</li>
                </ul>

                <label class="block-label" data-target="escort">
                    <input id="upload-now"
                           type="radio"
                           name="escort"
                           value="Upload Now">
                    <span class="heading-small">Upload now</span>
                    <br>
                    Uploading your document(s) is the fastest way to process your application
                </label>

                <div id="escort" class="panel panel-border-narrow js-hidden">
                    <h3 class="heading-small">Select file</h3>

                    <input id="income-support"
                           type="file"
                           name="benefit"
                           value="Income Support">
                </div>

                <div class="form-group">
                    <h4 class="heading-small">Cannot upload document(s) now?</h4>
                    <p>Your application will not be processed until we receive your document(s). </p>
                    <label class="block-label">
                        <input id="send-by-post"
                               type="radio"
                               name="escort"
                               value="Send By Post">
                        <span class="heading-small">Send by post</span>
                        <br>
                        Posting will add 10 days or more to the processing time
                    </label>

                    <label class="block-label">
                        <input id="upload-later"
                               type="radio"
                               name="escort"
                               value="Upload Later">
                        <span class="heading-small">Upload later</span>
                        <br>
                        You can upload your document(s) later, you will receive a reference number which you will use to
                        finish your application
                    </label>
                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
