{% extends "includes/layout.html" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
Application submitted - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application submitted",
      html:
      'Your reference number is <br><br><strong data-cy="reference">' + reference + '</strong>' +
      '<br><br><span class="govuk-!-font-size-24">Keep your reference number safe. You will need it if you contact us or make another application.</span>'
    }) }}

    <p>You must upload or send any evidence to go with your application within 7 days</p>

    <p>We have sent you a confirmation email.</p>

    <p><a href="/start-already-registered">Check progress on your application</a></p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p>We will contact you within 5 working days.</p>

    {% if advanceOrPast == 'advance' %}
      <p>If your application is approved you will receive:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a FastTicket reference number if you’ve chosen train travel</li>
        <li>money by your chosen method for other travel and expenses</li>
      </ul>

      <p>Once you’ve made your visit you’ll be asked to send your completed visit confirmation form.</p>

      <p>If you don’t make the visit you may need to refund the cost of your travel.</p>

    {% endif %}

    <div>
      <a href="https://www.gov.uk/government/publications/assisted-prison-visits-form">Download a confirmation of visit form</a>
    </div>

    <div>
      <a class="print-link" href="#">Print this page</a>
    </div>
  </div>

</div>
{% endblock %}
