{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                Your journey information
            </h2>

            <form action="apply-99">

                <div class="form-group">
                    <label class="form-label-bold" for="date-of-journey">Date of journey</label>

                    <input id="date-of-journey"
                           type="text"
                           class="form-control">
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="journey-from">From</label>

                    <input id="journey-from"
                           type="text"
                           class="form-control">
                    <p class="form-hint">e.g Euston train station</p>
                </div>

                <div class="form-group">
                    <label class="form-label-bold" for="journey-to">To</label>

                    <input id="journey-to"
                           type="text"
                           class="form-control">
                    <p class="form-hint">e.g Hewell Prison</p>
                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}


