{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application updated</h1>
        <p>
          Your reference number is <br>
          <strong id="reference" class="heading-medium">{{reference}}</strong>
        </p>
        <p>You will need this reference number for further claims <br> or if you need to contact us
        </p>
      </div>

      <p>If you have chosen to upload or post any documentation later this should be done within 7 days of your original submission.</p>

      <p>We have sent confirmation of your update to your application by email.</p>
      <a href="/start-already-registered">Check progress on your claim</a>

      <h3 class="heading-medium">What happens next</h3>
      <p>The Assisted Prison Visits Unit will email you within 5 working days.</p>

      <div class="download-confirmation-form">
        <a href="https://www.gov.uk/government/publications/assisted-prison-visits-form">Download a confirmation of visit form</a>
      </div>

      <div class="print-page">
        <a onclick="window.print();return false;" href="#">Print this page</a>
      </div>
    </div>

  </div>

</main>

{% endblock %}
