{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                Create your claim
            </h2>

            <form action="apply-11.html">
                <input type="submit" class="button">
            </form>

        </div>
      </div>
</main>

{% endblock %}
