{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="bold-large">Application submitted</h1>
                <p>
                    Your reference number is <br>
                    <strong id="reference" class="heading-medium">{{reference}}</strong>
                </p>
                <p>You will need this reference number for new claims <br> or if you need to contact us
                </p>
            </div>

            <p>We have sent your application confirmation by email.</p>

            <h3 class="heading-medium">What happens next</h3>
            <p>Your application will be assessed by the Assisted Prison Visits Unit.</p>
            <p>They will contact you either to confirm your application, or to ask for more information within 5 working
                days.</p>

            <p>Once your application has been confirmed you can submit further claims using your unique reference
                number.</p>
        </div>

    </div>

</main>

{% endblock %}
