{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

     <h2 class="heading-large">
       Add additional expenses
     </h2>

    

     <form action="apply-add-food.html" method="get" class="form">

<p>You can select more than one type of additional expense.</p>
<div class="form-group">

<label class="block-label">
              <input type="checkbox" name="category">
              Light refreshment
              
            </label>
            <label class="block-label">
              <input type="checkbox" name="category">
              Accommodation
              
            </label>

</div>
  


      <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
    </form>


  </div>
</div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


