{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large">
                What type(s) of transport did you use?
            </h2>

            <p>You can select more than one mode of transport.</p>

            <form action="apply-add-info.html">
                <div class="form-group">
                    <fieldset>

                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Car
                        </label>
                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Bus
                        </label>
                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Train
                        </label>
                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Taxi
                        </label>

                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Plane
                        </label>

                        <label class="block-label">
                            <input type="checkbox" name="category">
                            Ferry
                        </label>

                    </fieldset>

                </div>

                <input type="submit" class="button">
            </form>

        </div>
    </div>

</main>

{% endblock %}
