{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

    {% include "includes/phase_banner_beta.html" %}

    <div class="grid-row">
        <div class="column-two-thirds">


            <h2 class="heading-large">
                Are you 16 years of age or above?
            </h2>

            <form action="el-2" method="get" class="form">
                <div class="form-group">
                    <fieldset>

                        <label for="Yes" class="block-label">
                            <input type="radio" name="age" value="Yes" id="Yes">
                            Yes
                        </label>

                        <label for="No" class="block-label">
                            <input type="radio" name="age" value="No" id="No">
                            No
                        </label>

                    </fieldset>
                </div>


                <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div>
            </form>

        </div>
        <!-- <div class="column-third">

          <aside class="govuk-related-items" role="complementary">
            <h2 class="heading-medium" id="subsection-title">Subsection</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="font-xsmall">
                <li><a href="#">Related link</a></li>
                <li><a href="#">Related link</a></li>
                <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
              </ul>
            </nav>
          </aside>

        </div>
      </div> -->

</main>

{% endblock %}


