{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Eligibility</h2>

      <h3 class="heading-medium">Close Relative</h3>
      <p>Close relative means: wife, husband, civil partner, mother, father, sister, brother, son, daughter,
        grand-parent or adoptive step/half brother/sister, step-child or 􏰌􏰇􏰃􏰓􏰂􏰊􏰆􏰋􏰈􏰃􏰈􏰝􏰊􏰆step-parent
        or someone who was in loco parentis for a significant period during the prisoner’s childhood.</p>

      <h3 class="heading-medium">Partner</h3>
      <p>A partner means a person with whom the prisoner was living, as a couple, in an established relationship,
        immediately before the period of remand or imprisonment was imposed. </p>
      <p>Any children living within the family unit are also eligible to receive assistance.</p>

      <h3 class="heading-medium">Sole visitor</h3>
      <p>A sole visitor is someone who is not a close relative or partner but is the prisoner’s only visitor
        during a four week period immediately before the date of
        􏰇􏰁􏰂􏰃􏰕􏰊􏰅􏰇􏰃􏰖􏰅􏰅􏰆􏰅􏰇􏰂􏰈􏰃􏰔􏰆􏰅􏰆􏰇􏰠􏰃 the first assisted visit.</p>

      <h3 class="heading-medium">Escort to a qualifying child or young person</h3>
      <p>There are two types of escort to a prisoner’s child/children:</p>

      <ul class="list list-number">
        <li>Carer</li>
        <li>A person authorised to escort the child/children on someone’s behalf</li>
      </ul>

      <p>1. Carer</p>
      <p>If you're the guardian to the prisoner’s child/children, and you receive a qualifying low income benefit,
        you may be able to claim as an escort. </p>

      <p>You'll need to provide:</p>
      <ul class="list list-bullet">
        <li>Birth Certificate for child/children being escorted</li>
        <li>Proof of receipt of a qualifying benefit (for example, Child Tax Credit award)</li>
      </ul>

      <p>2. Authorised Person</p>
      <p>If you're not a relative, partner or guardian, but have permission to take the prisoner’s child/children
        to make a visit, you may be able to claim as an escort.</p>
      <p>You do not need to receive a qualifying low income benefit, but the child/children’s parent or guardian
        must receive a qualifying benefit for them.</p>

      <p>You'll need to provide:</p>
      <ul class="list list-bullet">
        <li>A letter of permission from the child/children’s parent or guardian</li>
        <li>Birth Certificate for child/children being escorted</li>
        <li>Proof of receipt of a qualifying benefit (for example, Child Tax Credit award)</li>
      </ul>

      <h3 class="heading-medium">Escort to a qualifying adult</h3>
      <p>Adult visitors may qualify for an escort.</p>
      <p>The escort must complete an application form and wherever possible it should be sent to us at the same
        time as the visitors form.</p>
      <p>A return journey between the home of the escort and qualifying visitor is payable subject to a maximum
        rate.</p>
      <p>Where a car journey is being claimed, the total mileage allowance will normally be paid to the qualifying
        visitor unless advised otherwise. The volunteer driver rate only applies if the escort isn’t going into
        the visit. </p>

      <h3 class="heading-medium">Income Support/Income-based Jobseeker's Allowance/Employment and Support
        Allowance (Income Related)</h3>
      <p>We confirm with the Department for Work and Pensions which benefit you receive and carry out regular
        checks. </p>

      <h3 class="heading-medium">Universal Credit (and you earn less than £1,250 a month)</h3>
      <p>An original award notice must be sent to us when you first claim and you must send us a new award notice
        every four months after that. An income limit applies.</p>

      <h3 class="heading-medium">Working and Child Tax Credit</h3>
      <p>To qualify you must be in receipt of one of the following:</p>

      <ul class="list list-bullet">
        <li>Child Tax Credit</li>
        <li>The disability element in Working Tax Credit</li>
        <li>Working Tax Credit with Child Tax Credit</li>
      </ul>

      <p>In each case the gross household income as shown on the tax credit award
        notice must not exceed a published limit.</p>
      <p>The original award notice must be sent to us when first applying and thereafter when a when a new or
        amended award notice is issued.</p>

      <h3 class="heading-medium">Pension Credit</h3>
      <p>Recipients of Pension Credit are entitled to assisted prison visits subject to
        meeting the relationship criteria.</p>
      <p>The original award notice must be sent to us when first applying and thereafter when a when a new or
        amended award notice is issued.</p>

      <h3 class="heading-medium">Health Certificate (2 or 3)</h3>
      The original certificate must be sent to us when first applying and thereafter when a when a new or amended
      certificate is issued.

      Assisted prison visits may be backdated up to three months prior to the commencement of the health
      certificate, subject to meeting all other conditions.

      The contribution shown on the HC3 certificate for travel to receive NHS treatment is deducted from the
      assisted prison visit payment. The application form for a HC certificate is available from APVU.

    </div>
  </div>

</main>

{% endblock %}
