{% extends "includes/layout.html" %}

{% block page_title %}
Not Eligible - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Eligibility Status
      </h1>

      <p>Based on the criteria entered, you are not eligible for the Assisted Prison Visits Scheme.</p>

      <p>
        For more information please contact the Assisted Prison Visits Unit using
        our <a target="_blank" href="/technical-help">help form</a>.
      </p>

    </div>
  </div>
</main>

{% endblock %}
