{% extends "includes/layout.html" %}

{% block page_title %}
Not Eligible - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        You can’t apply this time
      </h1>

      <p>Based on the information you’ve given, you aren’t eligible for help with the cost of prison visits.</p>

      <p>
        For more information about who can apply and what for see the <a target="_blank" href="https://www.gov.uk/government/publications/assisted-prison-visits-form">guide to applying</a>.
      </p>

      <p>
        You can also <a target="_blank" href="/help">contact Help With Prison Visits (HWPV) for help</a>.
      </p>

      <a href="https://www.gov.uk/">Continue to GOV.UK</a>

    </div>
  </div>
</main>

{% endblock %}
