{% extends "includes/layout.html" %}

{% block page_title %}
{{ __('Not Eligible') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        {{ __('You can’t apply this time') }}
      </h1>

      <p>{{ __('Based on the information you’ve given, you aren’t eligible for help with the cost of prison visits.') }}</p>

      <p>
        {{ __('For more information about who can apply and what for see the') }} <a target="_blank" href="https://www.gov.uk/government/publications/assisted-prison-visits-form">{{ __('guide to applying') }}</a>.
      </p>

      <p>
        {{ __('You can also') }} <a target="_blank" href="/technical-help">{{ __('contact the Assisted Prison Visits Unit for help') }}</a>.
      </p>

      <a href="https://www.gov.uk/">{{ __('Continue to GOV.UK') }}</a>

    </div>
  </div>
</main>

{% endblock %}
