{% extends "includes/layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
 {% if errors %}Error: {% endif %}Give feedback - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-xl">Give feedback</h1>

    <form action="/feedback" method="post" novalidate>
      {{ govukRadios({
        name: "rating",
        fieldset: {
          legend: {
            text: "Overall, how did you feel about the service you received today?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "very-satisfied",
            text: "Very satisfied",
            checked: rating == 'very-satisfied'
          },
          {
            value: "satisfied",
            text: "Satisfied",
            checked: rating == 'satisfied'
          },
          {
            value: "neutral",
            text: "Neutral",
            checked: rating == 'neutral'
          },
          {
            value: "dissatisfied",
            text: "Dissatisfied",
            checked: rating == 'dissatisfied'
          },
          {
            value: "very-dissatisfied",
            text: "Very dissatisfied",
            checked: rating == 'very-dissatisfied'
          }
        ],
        errorMessage: errors | findError('rating')
      }) }}

      {{ govukCharacterCount({
        name: "improvements",
        id: "improvements",
        maxlength: 1200,
        label: {
          text: "How could we improve this service?",
          classes: "govuk-label--s"
        },
        hint: {
          text: "Please don't include any personal information or financial information, for example your National Insurance or bank details."
        },
        value: improvements,
        errorMessage: errors | findError('improve-service')
      }) }}

      {{ govukInput({
        label: {
          text: "Email address (optional, include if you want us to get back to you)",
          classes: "govuk-label--s"
        },
        id: "emailAddress",
        name: "emailAddress",
        type: "email",
        value: emailAddress,
        classes: "govuk-!-width-one-half",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: errors | findError('EmailAddress')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}
    </form>
  </div>

</div>
{% endblock %}
