{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ __(serviceName) }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ __('Get help with the cost of visiting someone in prison') }}
      </h1>

      <p>{{ __('You may get help with the cost of visiting a close relative or partner in prison if you’re aged over
        16.') }}</p>

      <h3 class="heading-medium">{{ __('Who can apply') }}</h3>
      <p>{{ __('You may be eligible if you receive:') }}</p>

      <ul class="list list-bullet">
        <li>{{ __('Income Support') }}</li>
        <li>{{ __('Income-based Jobseeker’s Allowance (JSA)') }}</li>
        <li>{{ __('Employment and Support Allowance (ESA)') }}</li>
        <li>{{ __('Universal Credit') }}</li>
        <li>{{ __('Working Tax Credit, Child Tax Credit or Pension Credit') }}</li>
      </ul>

      <p>{{ __('or if you have an HC2 or HC3 Health Certificate.') }}</p>

      <a href="">{{ __('More about who can apply') }}</a>

      <h4 class="heading-medium">{{ __('What you can get help with') }}</h4>

      <ul class=" list list-bullet">
        <li>{{ __('travel costs, for example train tickets, petrol or car hire') }}</li>
        <li>{{ __('overnight stays') }}</li>
        <li>{{ __('other costs to do with your visit - for example food, childminding, a volunteer driver or an escort
          if needed') }}
        </li>
      </ul>

      <a href="" class="link">{{ __('More about what you can get help with') }}</a>

      <br>
      <br>
      <p>
        <a id="start" href="start" role="button" class="button button-start">{{__('Start now')}}</a>
      </p>

      <h3 class="heading-small">{{ __('Before you start') }}</h3>

      <p>{{ __('You\'ll need:') }}</p>

      <ul class=" list list-bullet">
        <li>{{ __('your National Insurance number') }}</li>
        <li>{{ __('the name of the prison and the prisoner number of the person you’re visiting') }}</li>
        <li>{{ __('details of your claim, for example tickets') }}</li>
      </ul>

      <p>{{ __('If you’ve used this service before you can return to a claim with your 8-digit reference number.')
        }}</p>

      <h3 class="heading-small">{{ __('Other ways to apply') }}</h3>

      <p>{{ __('You can complete and send a ') }}<a href="">{{ __('paper application form') }}</a>{{ __(' to the
        Assisted Prison Visits Unit.') }}</p>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">{% if serviceName %} {{ __(serviceName) }} {% endif
          %}</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="">{{__('How to apply')}}</a></li>
            <li><a href="eligibility-requirements">{{__('Eligibility')}}</a></li>
            <li><a href="">{{__('Contact')}}</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

</main>

{% endblock %}