{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ __(serviceName) }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        {{ __('Get help with prison visits') }}
      </h1>

      <p class="lede">{{ __('You may get help with the cost of visiting someone in prison.') }}</p>


      <h3 class="heading-medium">{{ __('Who can apply') }}</h3>
      <p>{{ __('You must be:') }}</p>

      <ul class="list list-bullet">
        <li>{{ __('18 or over (16 or over in Scotland)') }}</li>
        <li>{{ __('the prisoner’s close relative, partner or only visitor in a month') }}</li>
      </ul>

      <p>{{ __('You must receive one of the following, or have a Health Certificate 2 or 3:') }}</p>

      <ul class="list list-bullet">
        <li>{{ __('Jobseeker’s Allowance (income related)') }}</li>
        <li>{{ __('Employment and Support Allowance (income related)') }}</li>
        <li>{{ __('Income support') }}</li>
        <li>{{ __('Universal Credit') }}</li>
        <li>{{ __('Working Tax Credit (with disability) or Child Tax Credit') }}</li>
        <li>{{ __('Pension Credit') }}</li>
      </ul>

      <h4 class="heading-medium">{{ __('What you may be able to get help with') }}</h4>

      <ul class=" list list-bullet">
        <li>{{ __('travel costs for you, children and an escort if you need one') }}</li>
        <li>{{ __('overnight stays') }}</li>
        <li>{{ __('childcare and food costs') }}</li>
      </ul>

      <br>
      <p>
        <a id="start" href="start" role="button" class="button button-start">{{__('Start now')}}</a>
      </p>

      <p>{{ __('If you’ve made an online claim before ') }}<a href="/start-already-registered">{{ __('start with your reference number') }}</a></p>

      <h3 class="heading-small">{{ __('Before you start') }}</h3>

      <p>{{ __('You\'ll need:') }}</p>

      <ul class=" list list-bullet">
        <li>{{ __('your National Insurance number') }}</li>
        <li>{{ __('bank account details') }}</li>
        <li>{{ __('an email address') }}</li>
        <li>{{ __('stamped visit confirmation form from the prison') }}</li>
      </ul>

      <h3 class="heading-small">{{ __('Other ways to apply') }}</h3>

      <p>{{ __('Send a ') }}<a href="https://www.gov.uk/government/publications/assisted-prison-visits-form">{{ __('paper application form') }}</a>{{ __(' by post.') }}</p>
    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/prison-visits">{{__('Visit someone in prison')}}</a></li>
            <li><a href="https://www.gov.uk/staying-in-touch-with-someone-in-prison">{{__('Staying in touch with someone in prison')}}</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

</main>

{% endblock %}