{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


        <h2 class="heading-large">
          Enter your details
        </h2>

<form action="confirm" method="get" class="form">
        <div class="form-group">
      <label class="form-label-bold" for="full-name">Reference number</label>
      <p class="form-hint">For example APVS1234</p>
      <input type="text" class="form-control" id="full-name">
      <br>
      <br><a href="">Forgotten your reference number?</a>
    </div>

    <div class="form-group">
      <fieldset>

        <div class="form-date">
<label class="form-label-bold" for="full-name">Date of birth</label>
          <p class="form-hint">You must be over 16 to be eligible for assistance</p>

          <div class="form-group form-group-day">
            <label for="dob-day">Day</label>
            <input class="form-control" id="dob-day" type="number" pattern="[0-9]*" min="0" max="31">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>

          <div class="form-group form-group-year">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
          </div>
        </div>

      </fieldset>
    </div>

    
    
    <br>
    <br>
        <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div> 
</form>

      </div>
      <!-- <div class="column-third">

        <aside class="govuk-related-items" role="complementary">
          <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav>
        </aside>

      </div>
    </div> -->

  </main>

  {% endblock %}


