{% extends "includes/layout.html" %}

{% block pageTitle %}
Northern Ireland claimant - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Northern Ireland claimants</h1>

    <p>Claims for residents of Northern Ireland visiting prisons in Northern Ireland, England, Scotland or Wales are now processed by the Northern Ireland Prison Service.</p>

    <p>For further support, contact: <a href="mailto:assistedprisonvisits@justice-ni.gov.uk">assistedprisonvisits@justice-ni.gov.uk</a></p>

    <p>If you need help applying, or have claim queries, you can contact the following:</p>

    <h2 class="govuk-heading-m">Family Support Officers:</h2>

    <p>Maghaberry - 028 9261 6067
    <br>Magilligan - 028 7772 0516</p>

    <h2 class="govuk-heading-m">Visitors Centres:</h2>

    <p>Maghaberry - 028 9261 1213
    <br>Magilligan - 028 7772 0415
    <br>Hydebank - 028 9025 3849</p>
  </div>
</div>
{% endblock %}
