{% extends "includes/layout.html" %}

{% block pageTitle %}
Privacy policy - Get help with the cost of prison visits
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Privacy policy
    </h1>
    <p>This privacy policy explains why the HM Prison and Probation Service (HMPPS) collects personal data when you use the 'Get help with the cost of prison visits' service.</p>
<p>The policy also explains:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>how we store this data</li>
      <li>what we do with it</li>
      <li>how you can get a copy of the data we have about you</li>
      <li>how you can complain if you think we’ve done something wrong</li>
    </ul>
    <p>This service is managed by HMPPS, an executive agency of the Ministry of Justice (MOJ). MOJ is the data controller for the personal information we hold.</p>
    <p>HMPPS collects and processes personal data so that it can safely and securely provide prison services, including those related to the management and rehabilitation of offenders.</p>

    <h2 class="govuk-heading-m">About personal information</h2>
    <p>Personal data is information about you as an individual. It can be your name, address, bank details or telephone number. It can also include information about the person you are visiting in prison.</p>
    <p>We know how important it is to protect your privacy and to comply with data protection laws. We will keep your personal data safe and will only disclose it where it is lawful to do so, or with your consent.</p>

    <h2 class="govuk-heading-m">Types of personal data we process</h2>      
    <p>We only process personal data that is relevant for the services we are providing to you.</p>

    <p>It includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>your name, date of birth, benefit information, postal address, bank details, email address</li>
      <li>details about your contact in prison and your relationship to them</li>
    </ul>
    
    <p>We also collect site-usage information which allows us to see how the service is being used in order to allow us to improve it. This information does not contain any personal data. It includes:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>questions, queries or feedback you leave if you send a message via feedback</li>
      <li>your IP address, and details of which version of web browser you used</li>
      <li>information on how you use the site, using cookies and page tagging techniques to help us improve the website</li>
    </ul>

    <p>This helps us to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>improve the site by monitoring how you use it</li>
      <li>respond to any feedback you send us, if you’ve asked us to</li>
      <li>provide you with information about local services if you want it</li>
    </ul>
    <p>We can’t personally identify you using your site usage data.</p>

    <h2 class="govuk-heading-m">Purpose of processing and the lawful basis for the process</h2> 
    <p>We collect personal data to assess your eligibility to apply for financial assistance to visit a prisoner and to make a payment if you are eligible. Data provided will be monitored for the purposes of crime detection and prevention.</p>
    <p>Additionally, if we don’t have all the personal data we ask for, the bank transfer payment can not be processed. Data given will be monitored to protect from financial fraud.</p>
    
    <h2 class="govuk-heading-m">Who the information may be shared with</h2> 
    <p>We sometimes need to share the personal information we process with the individual themselves and also with other organisations. Where this is necessary we will comply with all aspects of the data laws. The organisations we share your personal information with are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" class="govuk-link">Department of Work & Pensions</a> to check benefit status;</li>
      <li><a href="https://www.notifications.service.gov.uk/" class="govuk-link">GOV.UK Notify</a> to send you emails to keep you informed on the status of your claim. See their <a href="https://www.notifications.service.gov.uk/privacy" class="govuk-link">privacy notice.</a></li>
      <li><a href="https://sscl.com/" class="govuk-link">SSCL</a> to pay your claims. See their <a href="https://sscl.com/wp-content/uploads/2024/02/SSCL-Privacy-Notice-2022-creative.pdf" class="govuk-link">privacy notice.</a></li>
      <li><a href="https://www.zendesk.co.uk" class="govuk-link">ZenDesk</a> to handle any feedback that you leave. See the <a href="http://www.zendesk.com/company/terms" class="govuk-link">terms & conditions</a> attached to this service.</li>
    </ul>

    <h2 class="govuk-heading-m">Details of transfers to third country and safeguards</h2> 
    <p>All data collected by this service is stored within the European Economic Area (EEA). However, due to the global nature of the internet, the data sent to and from the database may transit through countries outside of the EEA. Data is not stored in a non-EEA country. Any transfers made will be in full compliance with all aspects of the data protection law.</p>

    <h2 class="govuk-heading-m">How long we keep data</h2>
    <p>Data is retained for seven years in accordance with HMPPS <a href="https://www.gov.uk/government/publications/records-information-management-policy-psi-042018-pi-022018" class="govuk-link">retention policy</a>.</p>

    <h2 class="govuk-heading-m">Access to personal information</h2>
    <p>You can find out if we hold any personal data about you by making a ‘subject access request’. To make a subject access request please contact:</p>
    <p>
      Disclosure Team<br>
      Post point 10.38<br>
      102 Petty France<br>
      London<br>
      SW1H 9AJ
    </p>

    <h2 class="govuk-heading-m">When we ask you for personal data</h2>
    <p>Whenever we ask for personal data, we promise to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>only ask for the information we need</li>
      <li>keep it safe and make sure nobody can access it unless authorised</li>
      <li>make sure we do not keep the data longer than needed</li>
      <li>only share the data with other organisations for legitimate purposes</li>
      <li>consider any request you make to correct, stop storing or delete your personal data</li>
    </ul>

    <p>We also promise to make it easy for you to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tell us at any time if you want us to stop storing your personal data</li>
      <li>make a complaint with the supervisory authority</li>
    </ul>

    <h2 class="govuk-heading-m">More information</h2>
    <p>You can get more details on: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>agreements we have with other organisations for sharing information</li>
      <li>when we can pass on personal information without telling you, for example, to help with the prevention or detection of crime or to produce anonymised statistics</li>
      <li>instructions we give to staff on how to collect, use or delete your personal information</li>
      <li>how we check that the information we hold is accurate and up-to-date</li>
      <li>how to make a complaint</li>
    </ul>

    <p>For more information about the above issues, please contact:</p>
    <p>
      MoJ Data Protection Officer<br>
      Post point 10.38<br>
      102 Petty France<br>
      London<br>
      SW1H 9AJ<br>
    </p>
    <p>or email: DOP@justice.gov.uk</p>
    <p>For more information on how and why your information is processed please see the information provided when you accessed our services or were contacted by us.</p>

    <h2 class="govuk-heading-m">Complaints</h2>
    <p>When we ask you for information, we will keep to the law. If you think that your information has been handled incorrectly, you can contact the Information Commissioner for independent advice about data protection at:</p>
    <p>
      Information Commissioner's Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF<br>
      Tel: 0303 123 1113<br>
      www.ico.org.uk
    </p>

    <h2 class="govuk-heading-m">Changes to this policy</h2>
    <p>We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.</p>
    <p>If these changes affect how your personal data is processed, MOJ will take reasonable steps to let you know.</p>
    <p>Last updated on 21 May 2024</p>
    
  </div>
</div>
{% endblock %}
