{% extends "layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">

    <h3 class="heading-large">
          Reference number<br>
          APVS1234
        </h3>

        <a href="confirm"><input type="submit" name="commit" value="Start a new claim" class="button"></a> 
        <br>
       
<Br>

 <h3 class="heading-medium">
          Your claim(s)
        </h3>

        <table>
            <tr>
              <th>Date of claim</th>
              <th>Status</th>
              <th></th>
            </tr>
            
            <tr>
              <td>20/09/16</td>
              <td>Pending</td>
              <td><a href="view-claim.html">View</a></td>
            </tr>
            <tr>
              <td>17/09/16</td>
              <td>More information required</td>
              <td><a href="view-claim.html" class="button">Add information</a></td>
            </tr>
            <tr>
              <td>12/09/16</td>
              <td>Complete</td>
              <td><a href="view-claim.html">View</a></td>
            </tr>
        </table>


      </div>
      
        <div class="column-third">

          <!-- <h2 class="heading-medium" id="subsection-title">Subsection</h2>
          <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="font-xsmall">
              <li><a href="#">Related link</a></li>
              <li><a href="#">Related link</a></li>
              <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
            </ul>
          </nav> -->



    

      </div>
    </div>

  </main>

  {% endblock %}


