{% extends "includes/layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set backLinkHref = "/start-already-registered" %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Recover your reference number - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

    <h1 class="govuk-heading-xl">Recover your reference number</h1>

    <p>Enter your email address and the prison number to recover your reference number.</p>

    <form action="/reference-recovery" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--s"
        },
        id: "EmailAddress",
        name: "EmailAddress",
        type: "email",
        value: recovery['EmailAddress'],
        classes: "govuk-!-width-one-half",
        autocomplete: "email",
        spellcheck: false,
        errorMessage: errors | findError('EmailAddress')
      }) }}

      {{ govukInput({
        label: {
          text: "Prison number",
          classes: "govuk-label--s"
        },
        hint: {
          text: "For example, A1234BC"
        },
        id: "PrisonerNumber",
        name: "PrisonerNumber",
        value: recovery['PrisonerNumber'],
        classes: "govuk-!-width-one-half",
        spellcheck: false,
        errorMessage: errors | findError('PrisonerNumber')
      }) }}

      {% include "partials/csrf-hidden-input.html" %}

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}

    </form>

  </div>
</div>
{% endblock %}
