{% extends "includes/layout.html" %}

{% block page_title %}
  {{ ('Recover your reference number') }} - {{ __(serviceName) }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-xlarge">{{ ('Recover your reference number') }}</h1>

      <p>{{ ('Enter your email address and the prisoner number to recover your reference number.') }}</p>

      <form action="/reference-recovery" method="post">
        <div id="EmailAddress" class="form-group {% if errors['EmailAddress'][0] %} error {% endif %}">
          <label for="EmailAddress" class="form-label-bold">{{ ('Email address') }}</label>
          {% if errors['EmailAddress'][0] %}
            <span class="error-message" id="error-message-email">{{ __(errors['EmailAddress'][0]) }}</span>
          {% endif %}
          <input name="EmailAddress" autocomplete="off" class="form-control" value="{{ recovery['EmailAddress'] }}">
        </div>

        <div id="PrisonerNumber" class="form-group {% if errors['PrisonerNumber'][0] %} error {% endif %}">
          <label for="PrisonerNumber" class="form-label-bold">{{ ('Prisoner number') }}</label>
          <p class="form-hint">{{ ('For example') }}, A1234BC</p>
          {% if errors['PrisonerNumber'][0] %}
            <span class="error-message" id="error-message-PrisonerNumber">{{ __(errors['PrisonerNumber'][0]) }}</span>
          {% endif %}
          <input name="PrisonerNumber" autocomplete="off" class="form-control" value="{{ recovery['PrisonerNumber'] }}">
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="recovery-submit"
               type="submit"
               value="{{ ('Continue') }}"
               class="button">
      </form>
      <br>
      <a href="/start-already-registered" id="back" class="link">{{ ('back') }}</a>
    </div>

  </div>

</main>

{% endblock %}
