{% extends "includes/layout-new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Have you applied online for help visiting this prisoner before - {{ serviceName }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "includes/validation-error-messages-new.html" %}

      <form action="/start" method="post">
        {{ govukRadios({
          idPrefix: "madeClaimForPrisonerBefore",
          name: "madeClaimForPrisonerBefore",
          fieldset: {
            legend: {
              text: "Have you applied online for help visiting this prisoner before?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-cy": "yes"
              }
            },
            {
              value: "no",
              text: "No",
              attributes: {
                "data-cy": "no"
              }
            }
          ]
        }) }}

        {% include "partials/csrf-hidden-input.html" %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true,
          attributes: {
            "data-cy": "submit"
          }
        }) }}
      </form>

    </div>
  </div>

  <p><strong class="govuk-!-font-weight-bold">Please note</strong>
    <br>If you don’t enter any information for more than 20 minutes, your session will time out and you’ll need to start again.
  </p>
{% endblock %}
