{% extends "includes/layout.html" %}

{% block page_title %}
  Have you applied online for help visiting this prisoner before - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 id="start" class="heading-large">
        Have you applied online for help visiting this prisoner before?
      </h1>

      <form action="/start" method="post">
        <div class="form-group">
          <label for="yes" class="block-label">
            <input id="yes"
                   type="radio"
                   name="madeClaimForPrisonerBefore"
                   value="yes">
            Yes
          </label>

          <label for="no" class="block-label">
            <input id="no"
                   type="radio"
                   name="madeClaimForPrisonerBefore"
                   value="no">
            No
          </label>
        </div>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="start-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>

    </div>
  </div>

</main>

{% endblock %}
