{% extends "includes/layout.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if errors %}Error: {% endif %}Return visitor sign in - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {% include "includes/validation-error-messages.html" %}

  {% if recovery %}
    {{ govukNotificationBanner({
      titleText: "Reference recovery",
      text: "Now check your email for your recovered reference number",
      type: 'success'
    }) }}
  {% endif %}

  <h1 class="govuk-heading-l">
    Return visitors
  </h1>

  <p>Sign in to check progress on a claim or apply without entering all of your information again.</p>

  <p>If you are visiting a different prisoner or they’ve moved prisons, <a href='/apply/first-time/new-eligibility/date-of-birth'>start a new claim.</a></p>

      <form action="/start-already-registered" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Reference number"
          },
          hint: {
            text: "For example, P1FD187"
          },
          id: "reference",
          name: "reference",
          value: reference,
          classes: "govuk-!-width-one-half",
          spellcheck: false,
          attributes: {
            "data-cy": "reference"
          },
          errorMessage: errors | findError('reference')
        }) }}
        
        {% set detailsHtml %}
        <ul class="govuk-list govuk-list--number">
          <li>Check your emails from HWPV (Help With Prison Visits)</li>
          <li><a href="/reference-recovery">Recover your reference number</a></li>
        </ul>
        {% endset %}
        {{ govukDetails({
          summaryText: "Where to find your reference number",
          html: detailsHtml
        }) }}


        {% set errorDob = errors | findError('dob') %}
        {% set errorClass = " govuk-input--error" if errorDob %}
        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "Date of birth"
            }
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2" + errorClass,
              autocomplete: "bday-day",
              value: dobDay,
              attributes: {
                "data-cy": "dob-day"
              }
            },
            {
              name: "month",
              classes: "govuk-input--width-2" + errorClass,
              autocomplete: "bday-month",
              value: dobMonth,
              attributes: {
                "data-cy": "dob-month"
              }
            },
            {
              name: "year",
              classes: "govuk-input--width-4" + errorClass,
              autocomplete: "bday-year",
              value: dobYear,
              attributes: {
                "data-cy": "dob-year"
              }
            }
          ],
          errorMessage: errorDob
        }) }}


        {% include "partials/csrf-hidden-input.html" %}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true,
          attributes: {
            "data-cy": "submit"
          }
        }) }}

        <p><strong class="govuk-!-font-weight-bold">Please note</strong>
          <br>If you don’t enter any information for more than 20 minutes, your session will time out and you’ll need to start again.
        </p>
      </form>
    </div>
  </div>
{% endblock %}
