{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
        Return visitors
      </h2>

      <p>Sign in to check progress on a claim or apply without entering all of your information again.</p>

      <p>If you are visiting a different prisoner or they’ve moved prisons, <a href='/apply/first-time/new-eligibility'>start a new claim.</a></p>

      <form action="/start-already-registered" method="post">

        <div class="form-group {% if errors['reference'][0] %} error {% endif %}">
          <label class="form-label-bold" for="reference">Reference number</label>

          {% if errors['reference'][0] %}
            <span class="error-message">{{ errors['reference'][0] }}</span>
          {% endif %}

          <p class="form-hint">For example, P1FD187</p>
          <input id="reference"
                 name="reference"
                 type="text"
                 value="{{ reference }}"
                 class="form-control"/>
          <br>
        </div>

        <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Where to find your reference number</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
              <ul class="list list-number">
                <li>Check your confirmation or update emails from the Assisted Prison Visit Service (APVS).</li>
              </ul>
            </div>
          </details>
        </div>

        <div class="form-group {% if errors['dob'][0] %} error {% endif %}">

          <fieldset>

            <div id="dob" class="form-date">

              <label class="form-label-bold">Your date of birth</label>

              {% if errors['dob'][0] %}
                <span class="error-message">{{ errors['dob'][0] }}</span>
              {% endif %}

              <div class="form-group form-group-day">
                <label id="dob-day" for="dob-day-input">Day</label>
                <input id="dob-day-input"
                       name="dob-day"
                       value="{{ dobDay }}"
                       class="form-control"/>
              </div>

              <div class="form-group form-group-month">
                <label id="dob-month" for="dob-month-input">Month</label>
                <input id="dob-month-input"
                       name="dob-month"
                       value="{{ dobMonth }}"
                       class="form-control"/>
              </div>

              <div class="form-group form-group-year">
                <label id="dob-year" for="dob-year-input">Year</label>
                <input id="dob-year-input"
                       name="dob-year"
                       value="{{ dobYear }}"
                       class="form-control"/>
              </div>

            </div>

          </fieldset>

        </div>

        <br>
        <br>

        <div class="form-group">

          {% include "partials/csrf-hidden-input.html" %}

          <input id="already-registered-submit"
                 type="submit"
                 value="Continue"
                 class="button">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
