{% extends "includes/layout.html" %}

{% block page_title %}
Ask for help - {{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-xlarge">Ask for help</h1>

      <p>Enter the details requested below and a brief description of what you need help with. Help With Prison Visits (HWPV) will respond as soon as possible.</p>
      <p>We'll only use your details to respond to your question. Don't include any personal information, for example national insurance number or date of birth.</p>

      <form action="/help" method="post">
        <div class="form-group {% if errors['name'][0] %} error {% endif %}">
          <label for="name" class="form-label-bold">Name</label>
          {% if errors['name'][0] %}
            <span class="error-message" id="error-message-name">{{ errors['name'][0] }}</span>
          {% endif %}
          <input id="name" autocomplete="off" name="name" class="form-control" value="{{ help['name'] }}">
        </div>

        <div class="form-group {% if errors['EmailAddress'][0] %} error {% endif %}">
          <label for="emailAddress" class="form-label-bold">Email address</label>
          {% if errors['EmailAddress'][0] %}
            <span class="error-message" id="error-message-email-address">{{ errors['EmailAddress'][0] }}</span>
          {% endif %}
          <input id="EmailAddress" autocomplete="off" name="emailAddress" class="form-control" value="{{ help['emailAddress'] }}">
        </div>

        <div class="form-group {% if errors['ReferenceNumber'][0] %} error {% endif %}">
          <label for="referenceNumber" class="form-label-bold">Reference Number (optional)</label>
          {% if errors['Reference Number'][0] %}
            <span class="error-message" id="error-message-reference-number">{{ errors['ReferenceNumber'][0] }}</span>
          {% endif %}
          <input id="ReferenceNumber" autocomplete="off" name="referenceNumber" class="form-control" value="{{ help['referenceNumber'] }}">
        </div>

        <div class="form-group {% if errors['DateOfClaim'][0] %} error {% endif %}">
          <fieldset>
            <legend class="hidden">Date of claim</legend>
            <div id="date-of-claim" class="form-date">
              <label class="form-label-bold">Date of claim (optional)</label>

              {% if errors['DateOfClaim'][0] %}
                <span class="error-message">{{ errors['DateOfClaim'][0] }}</span>
              {% endif %}

              <div class="form-group form-group-day">
                <label id="date-of-claim-day" for="date-of-claim-day-input">Day</label>
                <input id="date-of-claim-day-input"
                        type="number"
                        name="date-of-claim-day"
                        autocomplete="off"
                        value="{{ help['date-of-claim-day'] }}"
                        class="form-control"/>
              </div>
              <div class="form-group form-group-month">
                <label id="date-of-claim-month" for="date-of-claim-month-input">Month</label>
                <input id="date-of-claim-month-input"
                        type="number"
                        name="date-of-claim-month"
                        autocomplete="off"
                        value="{{ help['date-of-claim-month'] }}"
                        class="form-control"/>
              </div>
              <div class="form-group form-group-year">
                <label id="date-of-claim-year" for="date-of-claim-year-input">Year</label>
                <input id="date-of-claim-year-input"
                        type="number"
                        name="date-of-claim-year"
                        autocomplete="off"
                        value="{{ help['date-of-claim-year'] }}"
                        class="form-control"/>
              </div>
            </div>
          </fieldset>
        </div>

        <p id="issue" class="heading-small">Describe what you'd like to talk about</p>
        {% if errors['issue'][0] %}
          <span class="error-message" id="error-message-phone-number">{{ errors['issue'][0] }}</span>
        {% endif %}
        <textarea id="issue" name="issue" class="form-control full {% if errors['issue'][0] %} error {% endif %}" rows="6">{{ help['issue'] }}</textarea>
        <p>(Limit is 1200 characters)</p>
        <p>Please don't include any personal information or financial information, for example your National Insurance or bank details.</p>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="technical-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>
    </div>

  </div>

</main>

{% endblock %}
