{% extends "includes/layout.html" %}

{% block page_title %}
Ask for help -{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      {% include "includes/validation-error-messages.html" %}

      <h1 class="heading-xlarge">Ask for help</h1>

      <p>Enter your name, telephone number and a brief description of what you need help with. We'll get back to you during the next working day between 9am and 5pm.
      <p>We’ll only use your details to call you back. Don’t include any personal information, for example address or date of birth.</p>

      <form action="/technical-help" method="post">
        <div class="form-group {% if errors['name'][0] %} error {% endif %}">
          <label for="name" class="form-label-bold">Name</label>
          {% if errors['name'][0] %}
            <span class="error-message" id="error-message-name">{{ errors['name'][0] }}</span>
          {% endif %}
          <input id="name" name="name" class="form-control" value="{{ help['name'] }}">
        </div>

        <div class="form-group {% if errors['PhoneNumber'][0] %} error {% endif %}">
          <label for="PhoneNumber" class="form-label-bold">Phone number</label>
          {% if errors['PhoneNumber'][0] %}
            <span class="error-message" id="error-message-phone-number">{{ errors['PhoneNumber'][0] }}</span>
          {% endif %}
          <input id="PhoneNumber" name="PhoneNumber" class="form-control" value="{{ help['PhoneNumber'] }}">
        </div>

        <p id="issue" class="heading-small">Describe what you'd like to talk about</p>
        {% if errors['issue'][0] %}
          <span class="error-message" id="error-message-phone-number">{{ errors['issue'][0] }}</span>
        {% endif %}
        <textarea id="issue" name="issue" class="form-control full {% if errors['issue'][0] %} error {% endif %}" rows="6">{{ help['issue'] }}</textarea>
        <p>(Limit is 1200 characters)</p>
        <p>Please don't include any personal information or financial information, for example your National Insurance or bank details.</p>

        {% include "partials/csrf-hidden-input.html" %}

        <input id="technical-submit"
               type="submit"
               value="Continue"
               class="button">
      </form>
    </div>

  </div>

</main>

{% endblock %}
