{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Terms and conditions and privacy policy
      </h1>
      <p>By using the service you agree to our privacy policy and to these terms and conditions. Please read them carefully.</p>

      <h2 class="heading-large">Terms and conditions</h2>

      <h2 class="heading-medium">General</h2>
      <p>These terms and conditions affect your rights and liabilities under the law. They govern your use of, and relationship with, the service. They don’t apply to other services provided by the Ministry of Justice (HM Prison Service), or to any otherdepartment or service which is linked to in this service.</p>
      <p>We may occasionally update these terms and conditions. This might happen if there’s a change in the law or to the way this service works. We recommend you check this page regularly for any updates.</p>
      <p>If you don’t agree to the terms and conditions and privacy policy set out in this document, you should use the service.</p>

      <h2 class="heading-medium">Applicable law</h2>
      <p>Your use of this service and any dispute arising from its use will be governed by and construed in accordance with the laws of England and Wales, including but not limited to the:</p>
      <ul class="list list-bullet">
        <li>Computer Misuse Act 1990</li>
        <li>Data Protection Act 1998</li>
        <li>Mental Capacity Act 2005</li>
      </ul>

      <h2 class="heading-medium">How to use this service responsibly</h2>
      <p>There are risks in using a shared computer, such as in an internet café, to use this service. It’s your responsibility to be aware of these risks and to avoid using any computer which may leave your personal information accessible to others. You
      are responsible if you choose to leave a computer unprotected while in the process of using the service.</p>
      <p>We make every effort to check and test this service whenever we amend or update it. However, you must take your own precautions to ensure that the way you access this service does not expose you to the risk of viruses, malicious computer code or
      other forms of interference which may damage your own computer system.</p>
      <p>You must not misuse our service by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorised access to our service, the system on which our
      service is stored or any server, computer or database connected to our service. You must not attack our site via a denial-of-service attack or a distributed denial-of-service attack.</p>

      <h2 class="heading-large">Privacy policy</h2>
      <h2 class="heading-medium">Information provided by this service</h2>
      <p>We work hard to ensure that information about how to send money to a prisoner using your bank account is accurate. However, we can’t guarantee the accuracy and completeness of any information at all times.</p>
      <p>While we make every effort to ensure this service is accessible at all times, we are not liable if it is unavailable for any period of time.</p>

      <h2 class="heading-medium">How we use your information</h2>
      <p>The service used the data you provide to assess your eligibility to apply for financial assistance to visit a prisoner and to make payment if you are eligible. Data provided will be monitored for the purposes of crime detection and prevention.</p>
      <p>You have the right to request details as to the personal information we hold for you; and subsequently request that we correct any personal information if it is found to be inaccurate or out of date. To request your personal data please read the
      instructions in the Personal Information Charter. You will need a Subject Access Request form.</p>
      <p>We will not share your information with other organisations unless it is required for the purposes of prevention, detection of crime, apprehension, prosecution, and management of offenders; prevention of terrorism; national security; or required
      to by law.</p>
      <p>Separately from the information entered by those using this service, we also collect site-usage information which allows us to see how the service is being used in order to allow us to improve it. This information does not contain any personal
      data, unless feedback is submitted with an email address.</p>
      <p>It includes:</p>
      <ul class="list list-bullet">
        <li>questions, queries or feedback you leave, including your email address if you send a message via feedback</li>
        <li>your IP address, and details of which version of web browser you used</li>
        <li>information on how you use the site, using cookies and page tagging techniques to help us improve the website</li>
      </ul>
      <p>This helps us to:</p>
      <ul class="list list-bullet">
        <li>improve the site by monitoring how you use it</li>
        <li>respond to any feedback you send us, if you’ve asked us to</li>
        <li>provide you with information about local services if you want it</li>
      </ul>
      <p>We can’t personally identify you using your data.</p>

      <h2 class="heading-medium">Using other websites</h2>
      <p>These terms and conditions and privacy policy only cover the service and information about it.</p>
      <p>They do not cover links from our website to other third party websites or any information collected by the parties who own and control those websites or their use of cookies. Individual organisations operate their own policies regarding the use
      and sale of personal information and the use of cookies.</p>

      <h2 class="heading-medium">Where your data is stored</h2>
      <p>We store your data on our secure servers in the EEA. However, feedback may be stored outside of the EEA, where it could be viewed by our staff or suppliers. By submitting your personal data, you agree to this.</p>

      <h2 class="heading-medium">Keeping your data secure</h2>
      <p>Transmitting information over the internet is generally not completely secure, and we can’t guarantee the security of your data. We do however use SSL in order to encrypt all data transferred to and received from our server. SSL is an industry
      standard encryption of the communication between your browser and the server.</p>
      <p>We take data security very seriously and we take every step to ensure that your data remains private and secure.</p>
      <p>Any data you transmit is at your own risk. We have procedures and security features in place to try and keep your data secure once we receive it.</p>
      <p>We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we don’t pass on your details to other websites.</p>

      <h2 class="heading-medium">Disclosing your information</h2>
      <p>We may pass on your personal information if we have a legal obligation to do so.</p>

      <h2 class="heading-medium">Data Protection Act 1998</h2>
      <p>This service complies with all principles of the Data Protection Act 1998.</p>
      <p>Ministry of Justice (MoJ) is the ‘data controller’ for the purposes of the Act. However, the information you enter into this service is not automatically transmitted to the Ministry of Justice, but is stored in a secure database. No personal data
      will be used in testing this service.</p>
      <p>Our hosting provider, and MoJ staff responsible for supporting this service, will have access to the server in which all personal information entered into this service is stored. All staff who have access to the secure data have security clearance.</p>
      <p>Anyone who believes their personal data is kept within this service has the right to submit a subject access request to the MoJ, who will give details of the information stored on the server.</p>

      <h2 class="heading-medium">Disclaimer</h2>
      <p>We don’t accept liability for loss or damage incurred by users of this service, whether direct, indirect or consequential, whether caused by tort, breach of contract or otherwise. This includes loss of income or revenue, business, profits or
      contracts, anticipated savings, data, goodwill, tangible property or wasted time in connection with this service or any websites linked to it and any materials posted on it. This condition shall not prevent claims for loss of or damage to your
      tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.</p>
      <p>This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or
      limited under applicable law.</p>
    </div>
  </div>
</main>

{% endblock %}